.THIS {
}

.THIS .icn svg{ 
    fill: rgb(230,68,21);
}

.THIS .titleLabelTop{
    margin: 0 0 16px 8px;						/*top, right, bottom, left*/
    padding: 0 0 0 0;							/*top, right, bottom, left*/
    /*height: 20px;*/
    /*width: 315px;*/
    vertical-align: center;
    text-align: left;
    font: 14pt Segoe UI, sans-serif;
    font-weight: bolder;
    color: rgb(230,68,21);
}