<apex:page sidebar="true" standardController="AGC_DairitenKihonJoho__c" extensions="AGC_AgencyInfo_Ctrl">
    <style type="text/css">
        .labelCol{
            text-decoration:underline;
        }
        .inField{
            width:100%;
        }
    </style>
    <apex:messages />
    <apex:form rendered="{!NOT(ISNULL(kihon)) && NOT(ISNULL(hosoku))}"> 
        <apex:outputPanel layout="block" style="width:900px">
            <apex:pageBlock title="代理店基本情報入力" mode="edit">
                <!-- LifeJ情報　-->
                <apex:pageBlockSection title="LifeJ情報" columns="2">
                    <apex:outputField value="{!kihon.AgencyID__c}"/>
                    <apex:outputField value="{!kihon.AgencyName__c}"/>
                    <apex:outputField value="{!kihon.BranchID__c}"/>
                    <apex:outputField value="{!kihon.BotenID__c}"/>
                    <apex:outputField value="{!kihon.AGCA_TransferDate__c}"/>
                    <apex:outputField value="{!mrMst.DisplayName__c}" label="担当"/>
                </apex:pageBlockSection>
    
                <!-- AGCシステム個別情報 -->
                <apex:pageBlockSection title="AGCシステム入力情報" columns="1">                 
                    <apex:selectList value="{!hosoku.Status__c}" multiselect="false" size="1">
                        <apex:selectOption itemValue="" itemLabel="--なし--"/>
                        <apex:selectOption itemValue="L" itemLabel="L : 有効"/>
                        <apex:selectOption itemValue="P" itemLabel="P : 委託解約手続中"/>
                    </apex:selectList>
                </apex:pageBlockSection>
                <apex:pageBlockSection columns="2">
                    <apex:inputField styleClass="inField" value="{!hosoku.MobileNumber1__c}" label="携帯電話１"/>
                    <apex:inputField styleClass="inField" value="{!hosoku.MobileOwner1__c}" label="氏名１"/>
                    <apex:inputField styleClass="inField" value="{!hosoku.MobileNumber2__c}" label="携帯電話２"/>
                    <apex:inputField styleClass="inField" value="{!hosoku.MobileOwner2__c}" label="氏名２"/>
                    <apex:inputField styleClass="inField" value="{!hosoku.MailAddr1__c}" label="メールアドレス１"/>
                    <apex:inputField styleClass="inField" value="{!hosoku.MailOwner1__c}" label="氏名１"/>
                    <apex:inputField styleClass="inField" value="{!hosoku.MailAddr2__c}" label="メールアドレス２"/>
                    <apex:inputField styleClass="inField" value="{!hosoku.MailOwner2__c}" label="氏名２"/>
                    <apex:inputField styleClass="inField" value="{!hosoku.MailAddr3__c}" label="メールアドレス３"/>
                    <apex:inputField styleClass="inField" value="{!hosoku.MailOwner3__c}" label="氏名３"/>
                </apex:pageBlockSection>
                
                <apex:pageBlockSection columns="1">
                    <apex:inputField value="{!hosoku.Segment__c}"/>
                    <apex:selectList value="{!hosoku.SendMethod__c}" multiselect="false" size="1">
                        <apex:selectOption itemValue="" itemLabel="--なし--"/>
                        <apex:selectOption itemValue="1" itemLabel="1 : E-mail"/>
                        <apex:selectOption itemValue="2" itemLabel="2 : FAX"/>
                        <apex:selectOption itemValue="3" itemLabel="3 : 郵送"/>
                        <apex:selectOption itemValue="0" itemLabel="0 : 一斉送信を行わない"/>
                    </apex:selectList>
                    <apex:inputField value="{!hosoku.AgencyInfo__c}" style="width:700px;height:200px"/>
                </apex:pageBlockSection>    
                <apex:pageBlockButtons location="both">
                    <apex:commandButton action="{!saveHosokuInfo}" value="保存"/>
                    <apex:commandButton action="{!cancel}" value="キャンセル"/>
                </apex:pageBlockButtons>
            </apex:pageBlock>
        </apex:outputPanel>
    </apex:form>
</apex:page>