<apex:page controller="ASS_EventInputPageController" tabStyle="AgentSelfServiceTab__tab">
<apex:includescript value="{!URLFOR($Resource.irisResources, 'js/jquery.min.js')}" />
    <apex:form >

        <apex:pageBlock title="新規活動作成">
            <!-- 入力用 -->
            <apex:pageMessages />
            <apex:pageBlockSection columns="1" rendered="{!editMode}">
                <apex:inputField value="{!event.EventType__c}" required="true"/>
                <!-- <apex:selectList label="代理店事務所名" value="{!event.WhatId}" size="1" required="true">
                    <apex:selectOptions value="{!selOptsAccount}"/>
                </apex:selectList> -->
                <apex:inputField value="{!event.OwnerId}" required="true" />
                <apex:inputField id="offlookup" label="代理店事務所名" value="{!event.WhatId}" required="true"/>
                <apex:inputField id="inputsub" value="{!event.Subject}" required="true"/>
                <apex:inputField value="{!event.StartDateTime}" required="true"/>
                <apex:inputField value="{!event.EndDateTime}" required="true"/>
                <apex:inputField value="{!event.Action__c}" required="true"/>
                <apex:inputField value="{!event.Reason__c}"/>
                <apex:inputField value="{!event.ToDo__c}"/>
                <apex:inputField value="{!event.DesignDocReq__c}"/>
                <apex:inputField value="{!event.IsOpportunity__c}"/>
                <apex:inputField value="{!event.Description}"/>
            </apex:pageBlockSection>
            <!-- 参照用 -->
            <apex:pageBlockSection columns="1" rendered="{!!editMode}">
                <apex:outputField value="{!event.EventType__c}"/>
                <apex:outputField value="{!event.OwnerId}"/>
                <apex:outputField label="代理店事務所名" value="{!event.WhatId}"/>
                <apex:outputField value="{!event.Subject}"/>
                <apex:outputField value="{!event.StartDateTime}"/>
                <apex:outputField value="{!event.EndDateTime}"/>
                <apex:outputField value="{!event.Action__c}"/>
                <apex:outputField value="{!event.Reason__c}"/>
                <apex:outputField value="{!event.ToDo__c}"/>
                <apex:outputField value="{!event.DesignDocReq__c}"/>
                <apex:outputField value="{!event.IsOpportunity__c}"/>
                <apex:outputField value="{!event.Description}"/>
            </apex:pageBlockSection>

            <!-- ボタン -->
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="保存" action="{!save}" rendered="{!editMode}"/>
                <apex:commandButton value="編集" action="{!edit}" rendered="{!!editMode}"/>
                <apex:commandButton value="削除" action="{!del}" rendered="{!IF(eventId != null, true, false)}"/>
                <apex:commandButton value="キャンセル" action="{!cancelEdit}" immediate="true" rendered="{!IF(editMode && eventId != null, true, false)}"/>
                <apex:commandButton value="キャンセル" action="{!cancel}" immediate="true" rendered="{!IF(!editMode || eventId == null, true, false)}"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
    <script type="text/javascript">
        $(document).ready(function(){
            $("[id$='offlookup_lktp']").val("001");
            $("[id$='offlookup_mlktp']").hide();
            $("[id$='inputsub'] + a").css('display','none');
        });
    </script>
</apex:page>