<apex:page standardController="DPA_Recruit_AH__c">
<script src="{!$Label.DPA_Recruit_ZDCURI}&ver=2.0&api=zdcmap.js,control.js,search.js&enc=EUC&force=1" type="text/javascript"></script>
    
<apex:remoteObjects jsNamespace="RemoteObjectModel">
    <apex:remoteObjectModel name="DPA_Recruit_AH__c" fields="Id,Name,IsOurUnit__c,RecruitStatus__c,BotenAddress__c,BotenAddressLocStatus__c,BotenAddressLoc__Latitude__s,BotenAddressLoc__Longitude__s,SalesOffice__c,BotenMR__c"/>
    <apex:remoteObjectModel name="Account" fields="Id,Name,KJADDR01__c,E_CL2PF_ZAGCYNUM__c,AddressLocStatus__c,AddressLoc__Latitude__s,AddressLoc__Longitude__s"/>
</apex:remoteObjects>

    
<script type="text/javascript">
    var map;
    var mArray;
    var thisLatLon;
    var thisName;
    var thisAddr;
   	
    function MakeMap() {
        map = new ZDC.Map(
            document.getElementById('ZMap'),
            {
                latlon: ZDC.wgsTotky(thisLatLon),
                zoom: 10
            }
        );
              
        // スケールバー
        let sb = new ZDC.ScaleBar();
        map.addWidget(sb);
        
        // コントロール
        let zm = new ZDC.Control(
            {
                pos: {
                    top: 10,
                    left: 10
                },
                type: ZDC.CTRL_TYPE_SMALL
            }
        );
        map.addWidget(zm);
        
        ZDC.addListener(map, ZDC.MAP_DRAG_END, getLatLonBox);
        ZDC.addListener(map, ZDC.MAP_CHG_ZOOM, getLatLonBox);
    }

    
    
    function MakeMarkerOnLoad() {
        // ウィジット入れは空にしておく
        mArray = [];
        
        if (map.getZoom() > 5) {
            
            var box =  map.getLatLonBox();
            //console.log("latlon " + ZDC.tkyTowgs(box.getMin()).lat + "," + ZDC.tkyTowgs(box.getMin()).lon + " " + ZDC.tkyTowgs(box.getMax()).lat + "," + ZDC.tkyTowgs(box.getMax()).lon);

            var latlonAA = {};

            // このレコードの情報
            let mobj = {
                'Type': 0, // current
                'ID': '{!DPA_Recruit_AH__c.Id}',
                'Name': thisName,
                //'SalesOffice': results[i].get('SalesOffice__c'),
                //'MR': results[i].get('BotenMR__c'),
                'SalesOffice': '',
                'MR': '',
                //'RecruitStatus': results[i].get('RecruitStatus__c'),
                'RecruitStatus': '',
                'HTML': '<h1>' + thisName + '</h1>' 
                    + '<p>' + '</p>'
                    + '<p>' + '</p>'
                    + '<p>' + '<a href=\'https://maps.apple.com/?daddr=' + thisLatLon.lat + ',' + thisLatLon.lon + '\'>' + '[地図アプリで開く]' + '</a>' + '</p>',
                'latlon': ZDC.wgsTotky(thisLatLon)
            };
            
            let latlonStr = mobj.latlon.lat + ',' +  mobj.latlon.lon;
            latlonAA[latlonStr] = {
                'current': -1, // 最初に+1してしまうので
                'addr': [mobj]
            };
            
            
            var ah = new RemoteObjectModel.DPA_Recruit_AH__c();
            ah.retrieve(
                {
                    where: {
                        Id: {ne: '{!DPA_Recruit_AH__c.Id}'},
                        RecruitStatus__c: {nin: ['アポ拒否','見込なし','連絡先不明','無効']},
                        BotenAddressLocStatus__c: {nin: ['未設定','自動設定失敗']},
                        BotenAddressLoc__Latitude__s: {gte: ZDC.tkyTowgs(box.getMin()).lat},
                        BotenAddressLoc__Longitude__s: {gte: ZDC.tkyTowgs(box.getMin()).lon},
                        and: {
                            BotenAddressLoc__Latitude__s: {lte: ZDC.tkyTowgs(box.getMax()).lat},
                            BotenAddressLoc__Longitude__s: {lte: ZDC.tkyTowgs(box.getMax()).lon}
                        }
                    },
                    limit: 200
                },
                function(error, results, event) {
                    var cnt = 0;
                    //var latlonAA = {};
                    if (results) {
                        //console.log("R_AH Count: " + results.length);
                        for (let i = 0; i < results.length; i++) {
                            let mobj = {
                                'Type': 1, // recruit
                                'ID': results[i].get('Id'),
                                'Name': results[i].get('Name'),
                                'SalesOffice': results[i].get('SalesOffice__c'),
                                'MR': results[i].get('BotenMR__c'),
                                'RecruitStatus': results[i].get('RecruitStatus__c'),
                                'HTML': '<h1>' + '<a href=\'/' + results[i].get('Id') + '\'>' + results[i].get('Name') + '</a>' + '</h1>' 
                                + '<p>' + results[i].get('SalesOffice__c') + ' / ' + results[i].get('BotenMR__c') + '</p>'
                                + '<p>' + results[i].get('RecruitStatus__c') + '</p>'
                                + '<p>' + '<a href=\'https://maps.apple.com/?daddr=' + results[i].get('BotenAddressLoc__Latitude__s') + ',' + results[i].get('BotenAddressLoc__Longitude__s') + '\'>' + '[地図アプリで開く]' + '</a>' + '</p>',
                                'latlon': ZDC.wgsTotky(new ZDC.LatLon(results[i].get('BotenAddressLoc__Latitude__s'), results[i].get('BotenAddressLoc__Longitude__s')))
                            };
                            
                            let latlonStr = mobj.latlon.lat + ',' +  mobj.latlon.lon;
                            if (latlonAA[latlonStr]) {
                                latlonAA[latlonStr]['addr'].push(mobj);
                            } else {
                                //tlonAA[latlonStr] = [mobj];
                                latlonAA[latlonStr] = {
                                    'current': -1, // 最初に+1してしまうので
                                    'addr': [mobj]
                                };
                            }
                        }
                    } // results
                    
                    var ay = new RemoteObjectModel.Account();
                    ay.retrieve(
                        {
                            where: {
                                AddressLoc__Latitude__s: {gte: ZDC.tkyTowgs(box.getMin()).lat},
                                AddressLoc__Longitude__s: {gte: ZDC.tkyTowgs(box.getMin()).lon},
                                and: {
                                    AddressLoc__Latitude__s: {lte: ZDC.tkyTowgs(box.getMax()).lat},
                                    AddressLoc__Longitude__s: {lte: ZDC.tkyTowgs(box.getMax()).lon}
                                }
                            },
                            limit: 200
                        },
                        function(error, results, event) {
                            var cnt = 0;
                            if (results) {
                                //console.log("AH Count: " + results.length);
                                for (let i = 0; i < results.length; i++) {
                                    let mobj = {
                                        'Type': 2, // AY
                                        'ID': results[i].get('Id'),
                                        'Name': results[i].get('Name'),
                                        //'SalesOffice': results[i].get('SalesOffice__c'),
                                        'SalesOffice': '',
                                        //'MR': results[i].get('BotenMR__c'),
                                        'MR': '',
                                        'RecruitStatus': '既存代理店',
                                        'HTML': '<h1>'  + results[i].get('Name') + '</h1>'
                                        + '<p>' + '</p>'
                                        + '<p>' + '既存代理店' + '</p>'
                                        + '<p>' + '<a href=\'https://maps.apple.com/?daddr=' + results[i].get('AddressLoc__Latitude__s') + ',' + results[i].get('AddressLoc__Longitude__s') + '\'>' + '[地図アプリで開く]' + '</a>' + '</p>',
                                        'latlon': ZDC.wgsTotky(new ZDC.LatLon(results[i].get('AddressLoc__Latitude__s'), results[i].get('AddressLoc__Longitude__s')))
                                    };
                                    
                                    let latlonStr = mobj.latlon.lat + ',' +  mobj.latlon.lon;
                                    if (latlonAA[latlonStr]) {
                                        latlonAA[latlonStr]['addr'].push(mobj);
                                    } else {
                                        //tlonAA[latlonStr] = [mobj];
                                        latlonAA[latlonStr] = {
                                            'current': -1, // 最初に+1してしまうので
                                            'addr': [mobj]
                                        };
                                    }
                                }
                            }  // results
                            
                            
                            // マーカ作成
                            for (key in latlonAA) {
                                let m;
                                let lcn;
                                
                                if (latlonAA[key].addr[0].Type == 0) {
                                    if (latlonAA[key].addr.length == 1) {
                                        m = new ZDC.Marker(latlonAA[key].addr[0].latlon, {color: ZDC.MARKER_COLOR_ID_BLUE_S} );
                                        m.setTitle(latlonAA[key].addr[0].Name);
                                    } else {
                                        m = new ZDC.Marker(latlonAA[key].addr[0].latlon, {color: ZDC.MARKER_COLOR_ID_BLUE_S, number: ZDC['MARKER_NUMBER_ID_' + latlonAA[key].addr.length + '_S']} );
                                        m.setTitle(latlonAA[key].addr[0].Name + ' 他' + latlonAA[key].addr.length + '件');
                                    }
                                    m.setZindex(200); // 一番上！
                                } else if (latlonAA[key].addr[0].Type == 1) {
                                    if (latlonAA[key].addr.length == 1) {
                                        m = new ZDC.Marker(latlonAA[key].addr[0].latlon, {color: ZDC.MARKER_COLOR_ID_GREEN_S} );
                                        m.setTitle(latlonAA[key].addr[0].Name);
                                    } else {
                                        m = new ZDC.Marker(latlonAA[key].addr[0].latlon, {color: ZDC.MARKER_COLOR_ID_GREEN_S, number: ZDC['MARKER_NUMBER_ID_' + latlonAA[key].addr.length + '_S']} );
                                        m.setTitle(latlonAA[key].addr[0].Name + ' 他' + latlonAA[key].addr.length + '件');
                                    }
                                    m.setZindex(150); // 赤よりは上に出したい
                                } else {
                                    if (latlonAA[key].addr.length == 1) {
                                        m = new ZDC.Marker(latlonAA[key].addr[0].latlon, {color: ZDC.MARKER_COLOR_ID_RED_S} );
                                        m.setTitle(latlonAA[key].addr[0].Name);
                                    } else {
                                        m = new ZDC.Marker(latlonAA[key].addr[0].latlon, {color: ZDC.MARKER_COLOR_ID_RED_S, number: ZDC['MARKER_NUMBER_ID_' + latlonAA[key].addr.length + '_S']} );
                                        m.setTitle(latlonAA[key].addr[0].Name + ' 他' + latlonAA[key].addr.length + '件');
                                    }
                                }
                                map.addWidget(m);
                                mArray.push(m);
                                
                                // 吹き出しを作成
                                let msg = new ZDC.MsgInfo(latlonAA[key].addr[0].latlon,
                                                          {
                                                              html: '',
                                                              offset: ZDC.Pixel(0, -18)
                                                          });
                                // 吹き出しを追加
                                map.addWidget(msg);
                                mArray.push(msg);
                                
                                // マーカがクリックされたら吹き出しを表示する関数を実行させる
                                let llm = latlonAA[key];
                                ZDC.addListener(m, ZDC.MARKER_MOUSEUP, function(){
                                    llm.current = llm.current + 1;
                                    if (llm.current == llm.addr.length) { llm.current = 0; };
                                    msg.setHtml(llm.addr[llm.current].HTML + '<p>' + (llm.current + 1) + '/' + llm.addr.length + '</p>');
                                    msg.open();
                                });
                            }
                        }
                    ); // AYのretrieve
                }
            ); // AHのretrieve
        
        } else {
            // 自レコードのマーカのみ表示
            let m = new ZDC.Marker(thisLatLon, {color: ZDC.MARKER_COLOR_ID_BLUE_S} );
            m.setTitle(thisName);
            map.addWidget(m);
            mArray.push(m);
            
            // 吹き出しを作成
            let msg = new ZDC.MsgInfo(thisLatLon,
                                      {
                                          html: '<h1>' + thisName + '</h1>' 
                                          + '<p>' + '</p>'
                                          + '<p>' + '</p>'
                                          + '<p>' + '<a href=\'https://maps.apple.com/?daddr=' + thisLatLon.lat + ',' + thisLatLon.lon + '\'>' + '[地図アプリで開く]' + '</a>' + '</p>',
                                          offset: ZDC.Pixel(0, -18)
                                      });
            // 吹き出しを追加
            map.addWidget(msg);
            mArray.push(msg);
            
            // マーカがクリックされたら吹き出しを表示する関数を実行させる
            ZDC.addListener(m, ZDC.MARKER_MOUSEUP, function(){ msg.open(); });
            
        } // zoomのif
        
    }
    
    
    
    function loadMap() {
    	var ah = new RemoteObjectModel.DPA_Recruit_AH__c();
    	ah.retrieve(
        {
            where: {Id: {eq: '{!DPA_Recruit_AH__c.Id}' }}
        },
        function(error, results, event) {
            //var latlon;
			var addrstatus = results[0].get('BotenAddressLocStatus__c');
            if (addrstatus == '未設定') {
				ZDC.Search.getLatLonByAddr(
            	{          
                	address: results[0].get('BotenAddress__c'),
                	datum: 'WGS84' // 世界測地系            
            	},
                function(status, res) {
                    if (status.code == '000') {
                        // 関数は成功
                        if (res[0] != null) {
                             // NULLでなければ結果が入っている
							if ({!DPA_Recruit_AH__c.IsOurUnit__c} == true){
                                ah.update('{!DPA_Recruit_AH__c.Id}',
                                {
                                    // ここで入れているのは世界測地系！
                                    BotenAddressLoc__Latitude__s: res[0].latlon.lat,
                                    BotenAddressLoc__Longitude__s: res[0].latlon.lon,
                                    BotenAddressLocStatus__c: '設定済（自動）'
                                });
                            }
                            thisLatLon = new ZDC.LatLon(res[0].latlon.lat, res[0].latlon.lon);
                            thisAddr = results[0].get('BotenAddress__c');
                            thisName = results[0].get('Name');
                        } else {
                            // NULLの場合は検索失敗している
                            if ({!DPA_Recruit_AH__c.IsOurUnit__c} == true){
                                ah.update('{!DPA_Recruit_AH__c.Id}',
                                {
                                    BotenAddressLocStatus__c: '自動設定失敗'
                                });
                            }
                            thisLatLon = new ZDC.LatLon(35.6779389, 139.7703167);
                            thisAddr = results[0].get('BotenAddress__c');
                            thisName = results[0].get('Name');
                        }
					} else {
                        // Search失敗
                        console.log("loadMap:getLatLonByAddr:ERR " + status.text + " addr:" + results[0].get('BotenAddress__c'));
                        thisLatLon = new ZDC.LatLon(35.6779389, 139.7703167);
                        thisAddr = results[0].get('BotenAddress__c');
                        thisName = results[0].get('Name');
                    }
                    
                    // map出す
                    MakeMap();
                    
                    // マーカー出す
                    MakeMarkerOnLoad();
                    
                }); // getLatLonByAddr
			
 			} else if (addrstatus == '自動設定失敗') {
                // 一度自動で失敗している場合は検索しない
                thisLatLon = new ZDC.LatLon(35.6779389, 139.7703167);
                thisAddr = results[0].get('BotenAddress__c');
                thisName = results[0].get('Name');
                
                // map出す
                MakeMap();
                
                // マーカー出す
                MakeMarkerOnLoad();
                
            } else {
                // 設定済
                thisLatLon = new ZDC.LatLon(results[0].get('BotenAddressLoc__Latitude__s'), results[0].get('BotenAddressLoc__Longitude__s'));
                thisAddr = results[0].get('BotenAddress__c');
                thisName = results[0].get('Name');
                
                // map出す
                MakeMap();
                
                // マーカー出す
                MakeMarkerOnLoad();
                
            }
        
        }); // AHのretrieve        
        
    }
    
    
    function getLatLonBox() {
        // 既存マーカを消す
        for (let i = 0; i < mArray.length; i++) {
            ZDC.clearInstanceListeners(mArray[i]);
        	map.removeWidget(mArray[i]);
        }
        
        // 新しくマーカを作り直す
        MakeMarkerOnLoad();
    };
    
    ZDC.addDomListener(window, 'load', loadMap);
</script>
<body>
    <div id="ZMap" style="border:1px solid #777777; width:99%; height:95%; top:0px; left:0px; position:absolute;"></div>
</body>
</apex:page>