<apex:page standardController="E_Policy__c"  extensions="E_CancelInvoiceController"   action="{!extender.pageAction}"   applyBodyTag="{!p_applyHtmlTag}"   applyHtmlTag="{!p_applyHtmlTag}"   cache="{!p_cache}"   contentType="{!p_contentType}"   docType="{!p_docType}"   expires="{!p_expires}"   language="{!p_language}"   renderAs="{!renderAs}"   rendered="{!p_rendered}"   setup="{!p_setup}"   showChat="{!p_showChat}"   showHeader="{!p_showHeader}"   sidebar="{!p_sidebar}"   standardStylesheets="false"   title="{!Extender.PageTitle}"   wizard="{!p_wizard}" >
<head>
<script src="/soap/ajax/31.0/connection.js"></script>
<script src="/soap/ajax/31.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "E_Policy__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


<style>
{!HTMLENCODE(pdfStyleString)}
</style><style type="text/css">
tCondition{
background-color:yellow;
}
</style>
</head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.layout.min.js')}" />
<script type="text/javascript">

</script>
<script type="text/javascript" import="true">
jQuery(document).ready(function(){
	document.title = '{!Extender.PageTitle}';
});

</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:outputPanel style="position:relative;" >
</apex:outputPanel><apex:form id="sve_form1"   styleClass="sve_form1"   >
<apex:outputPanel id="Component285_Wrapper">
<apex:outputPanel >
<table   border="1"   cellpadding="3"   cellspacing="0"   class="nlinkstrap"   columnCount="3"   columnsWidth="156,400,390"   id="Component285"   rowsHeight="131,110,449,59,23"   style="width:946px;border-collapse:collapse;border:1px solid #CCCCCC;">
<tr  >
<td   colspan="3"   id="Component286"   rowspan="1"   style="width:944px;text-align:left;vertical-align:top;border:1px none #CCCCCC;">
<apex:outputPanel id="Component3160_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component3160" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_LogoHeader id="Component3160" 
welcome="{!Extender.Welcome}" 
showClose="false" 
showBack="false" 
/>
</apex:outputPanel></td></tr><tr  >
<td   class="nlinkMenu"   colspan="1"   id="Component288"   rowspan="3"   style="width:154px;text-align:left;vertical-align:top;border:1px solid #CCCCCC;">
<apex:outputPanel id="Component610_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component610" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_Menu id="Component610" 
menuItemNo="search_customer,inquiry_contract" 
hideMenu="" 
/>
</apex:outputPanel></td><td   class="nlinkHeader"   colspan="2"   id="nlinkhead"   rowspan="1"   style="width:788px;height:108px;text-align:center;vertical-align:top;border:1px solid #CCCCCC;">
<apex:outputPanel id="Component291_Wrapper">
<apex:outputPanel >
<table   border="1"   cellpadding="3"   cellspacing="0"   columnCount="10"   columnsWidth="77,77,77,77,77,77,77,77,77,84"   id="Component291"   rowsHeight="28,28,23,21"   style="width:777px;border-collapse:collapse;border:1px none #000000;">
<tr  >
<td   colspan="10"   id="Component2005"   rowspan="1"   style="width:775px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component589_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component589"   styleClass="nlinkTitle"   value="解約手続きについて"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="2"   id="Component315"   rowspan="1"   style="width:152px;text-align:center;vertical-align:middle;border:1px none #000000;">
&nbsp;</td><td   colspan="2"   id="Component317"   rowspan="1"   style="width:152px;text-align:center;vertical-align:middle;border:1px none #000000;">
&nbsp;</td><td   colspan="2"   id="Component3031"   rowspan="1"   style="width:152px;text-align:center;vertical-align:middle;border:1px none #000000;">
&nbsp;</td><td   colspan="2"   id="Component3032"   rowspan="1"   style="width:152px;text-align:center;vertical-align:middle;border:1px none #000000;">
&nbsp;</td><td   colspan="2"   id="Component323"   rowspan="1"   style="width:159px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component3033_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:commandLink action="{!extender.doReturn}"   id="Component3033"   immediate="false"   styleClass="btn btn-gray"   target="_self"   value="{!$Label.E_BTN_BACK}"   style="color:#000000;font-size:6pt;font-weight:Normal;" >
</apex:commandLink>
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="10"   id="Component3123"   rowspan="1"   style="width:775px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component3133_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component3133" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_PageMessages id="Component3133" 
Messages="{!Extender.pageMessages}" 
Severity="ERROR" 
Instruction="" 
/>
</apex:outputPanel></td></tr><tr  >
<td   id="Component3113"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component3114"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component3115"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component3116"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component3117"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component3118"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component3119"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component3120"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component3121"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component3122"   style="width:82px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr></table>
</apex:outputPanel>
</apex:outputPanel></td></tr><tr  >
<td   class="nlinkLeft"   colspan="2"   id="Component325"   rowspan="1"   style="width:788px;text-align:center;vertical-align:top;border:1px none #CCCCCC;">
<apex:outputPanel id="Component494_Wrapper">
<apex:outputPanel >
<table   border="1"   cellpadding="3"   cellspacing="0"   class="tblBody"   columnCount="10"   columnsWidth="77,77,77,77,77,78,77,77,77,77"   id="Component494"   rowsHeight="28,32,32,32,32,28,45,21,28,21,23,21,26,21,28"   style="width:771px;border-collapse:collapse;border:1px none #000000;">
<tr  >
<td   colspan="10"   id="Component694"   rowspan="1"   style="width:769px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component2913_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component2913"   value="現在、解約請求書ダウンロードをご選択されている契約"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="2"   id="Component801"   rowspan="1"   style="width:152px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputLabel escape="true"   id="Component2917"   rendered="{!$ObjectType.E_Policy__c.fields.COMM_CHDRNUM__c.accessible}"   style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="{!$ObjectType.E_Policy__c.fields.COMM_CHDRNUM__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component2917}');"/>
</td><td   colspan="2"   id="Component803"   rowspan="1"   style="width:152px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2915"     value="{!record.COMM_CHDRNUM__c}" />
</apex:outputPanel>
</td><td   colspan="6"   id="Component805"   rowspan="4"   style="width:461px;text-align:left;vertical-align:middle;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="2"   id="Component3067"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputLabel escape="true"   id="Component2918"   rendered="{!$ObjectType.E_Policy__c.fields.COMM_OCCDATE__c.accessible}"   style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="{!$ObjectType.E_Policy__c.fields.COMM_OCCDATE__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component2918}');"/>
</td><td   colspan="2"   id="Component3069"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component3019_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component3019" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_DateLabel id="Component3019" 
dateval="{!record.COMM_OCCDATE__c}" 
dateformat="yyyy/MM/dd" 
all9value="*" 
all0value="*" 
isRendered="true" 
/>
</apex:outputPanel></td></tr><tr  >
<td   colspan="2"   id="Component3077"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputLabel escape="true"   id="Component2925"   rendered="{!$ObjectType.E_Policy__c.fields.COMM_ZRSTDESC__c.accessible}"   style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="{!$ObjectType.E_Policy__c.fields.COMM_ZRSTDESC__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component2925}');"/>
</td><td   colspan="2"   id="Component3079"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2923"     value="{!record.COMM_ZRSTDESC__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="2"   id="Component3087"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputLabel escape="true"   id="Component2926"   rendered="{!$ObjectType.E_Policy__c.fields.COMM_ZCOVRNAM__c.accessible}"   style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="{!$ObjectType.E_Policy__c.fields.COMM_ZCOVRNAM__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component2926}');"/>
</td><td   colspan="2"   id="Component3089"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2928"     value="{!record.COMM_ZCOVRNAM__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="10"   id="Component914"   rowspan="1"   style="width:769px;text-align:left;vertical-align:middle;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component2941"   rowspan="1"   style="width:769px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component2951_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component2951"   value="{!Extender.disclaimer['CID|005']}"   style="color:#000000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="10"   id="Component2931"   rowspan="1"   style="width:769px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component904"   rowspan="1"   style="width:769px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component1131_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1131"   value="{!Extender.disclaimer['CID|006']}"   style="color:#000000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</td></tr><tr  >
<td   id="Component995"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component996"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component997"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component998"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component999"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1000"   style="width:76px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1001"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1002"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1003"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1004"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component3045"   rowspan="1"   style="width:769px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component2962_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2962" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_CheckBox id="Component2962" 
isChecked="{!Extender.isAgree}" 
beforeLabel="" 
afterLabel="{!Extender.disclaimer['CID|007']}" 
/>
</apex:outputPanel></td></tr><tr  >
<td   id="Component2648"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2649"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2650"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2651"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2652"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2653"   style="width:76px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2654"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2655"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2656"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2657"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="5"   id="Component943"   rowspan="1"   style="width:383px;text-align:right;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="btnagree_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:commandLink action="{!extender.doNextDownload}"   id="btnagree"   immediate="false"   styleClass="btn btn-standard"   target="_self"   value="上記の内容に同意する"   style="color:#000000;font-size:1.0em;font-weight:Bold;" >
</apex:commandLink>
</apex:outputPanel>
</td><td   colspan="5"   id="Component948"   rowspan="1"   style="width:384px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component813_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:commandLink action="{!extender.doPrevConfirm}"   id="Component813"   immediate="false"   styleClass="btn btn-gray"   target="_self"   value="キャンセル"   style="color:#000000;font-size:1.0em;font-weight:Bold;" >
</apex:commandLink>
</apex:outputPanel>
</td></tr><tr  >
<td   id="Component2964"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2965"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2966"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2967"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2968"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2969"   style="width:76px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2970"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2971"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2972"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2973"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component2974"   rowspan="1"   style="width:769px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component2984_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component2984"   value="{!Extender.disclaimer['CID|008']}"   style="color:#000000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</td></tr></table>
</apex:outputPanel>
</apex:outputPanel></td></tr><tr  >
<td   class="nlinkFooter"   colspan="2"   id="Component388"   rowspan="1"   style="width:788px;text-align:center;vertical-align:top;border:1px solid #CCCCCC;">
&nbsp;</td></tr><tr  >
<td   colspan="3"   id="Component3161"   rowspan="1"   style="width:944px;height:21px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component3164_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component3164" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_Footer id="Component3164" 
/>
</apex:outputPanel></td></tr></table>
</apex:outputPanel>
</apex:outputPanel></apex:form><apex:outputPanel style="position:relative;" >
</apex:outputPanel><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>