<apex:page standardController="E_COVPF__c"  extensions="E_ColiSearchController"  action="{!extender.pageAction}" applyBodyTag="{!p_applyHtmlTag}" applyHtmlTag="{!p_applyHtmlTag}" cache="{!p_cache}" contentType="{!p_contentType}" docType="{!p_docType}" expires="{!p_expires}" language="{!p_language}" rendered="{!p_rendered}" setup="{!p_setup}" showChat="{!p_showChat}" showHeader="{!p_showHeader}" sidebar="{!p_sidebar}" standardStylesheets="false" title="{!Extender.pageTitle}" wizard="{!p_wizard}">
<head>
<script src="/soap/ajax/31.0/connection.js"></script>
<script src="/soap/ajax/31.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		LIGHT_DATATABLE_FILTER:"{!JSENCODE(Label.TableFilterPlaceholder)}",
		LIGHT_DATATABLE_DETAIL:"{!JSENCODE(Label.showDetailPage)}",
		LIGHT_DATATABLE_DELETE:"{!JSENCODE(Label.customDeleteButtonLabel)}",
		LIGHT_DATATABLE_ADD:"{!JSENCODE(Label.customAddButtonLabel)}",
		LIGHT_DATATABLE_ROWCOUNT:"{!JSENCODE(Label.rowCount)}",
		REMOTEDATAERROR:"{!JSENCODE(Label.RemoteDataError)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "E_COVPF__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


<!--[if IE 9 ]> 
<style>
.dataTableSet {margin-bottom:auto;}
</style><![endif]-->  <title>{!Extender.pageTitle}</title> </head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.layout.min.js')}" />
<script type="text/javascript">
jQuery(document).ready(function(){
SkyEditor.searchConditionFromTo = getDateFieldsValue();
SkyEditor.searchConditionItem = getSearchItemsValue();
});
SkyEditor.defaultConditionObj = {"Component34":"eq","NameKana":"co","Component51":"co"};

</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:outputPanel style="position:relative;" >
</apex:outputPanel><apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_searchTemplate.css')}"/>
<apex:form id="sve_form1" styleClass="sve_form1"  >
<div id="saveDialog" style="display:none;">
    <table style="font-size:small;">
        <tr><td id="saveDialogConditionNameLabel">{!Label.ConditionLabelName}</td><td><input type="text" id="conditionName" size="20" /></td></tr>
        <tr><td colspan="2" style="text-align:center;"><input type="button" id="conditionSave" value="{!Label.SaveConditionButtonSave}" /></td></tr>
    </table>
    <div class="messageBox" style="color:#CC0000; text-align:center; margin-top:10px;"><span class="mText"></span></div>
</div>
<div id="readDialog" style="display:none;">
    <table style="font-size:small;">
        <tr><td id="readDialogConditionNameLabel">{!Label.ConditionLabelName}</td><td><select id="searchConditionList" /></td><td><input type="button" id="deleteCondition" value="{!Label.ReadConditionButtonDelete}" /></td></tr>
        <tr><td colspan="3"><input type="button" id="setCondition" value="{!Label.ReadConditionSetConditions}" /></td></tr>
    </table>
    <div class="messageBox" style="color:#CC0000; text-align:center; margin-top:10px;"><span class="mText"></span></div>
</div>
<script type="text/javascript">
</script>
<apex:outputPanel id="Component28_Wrapper" styleClass="">
<apex:pageBlock id="Component28" mode="detail"  >
<apex:pageBlockButtons location="bottom"  >
<apex:commandButton action="{!doSearch}" id="Component24" reRender="Component27,messagesPanel,Component1" status="Component24_Status" styleClass="btn btn-standard" value="{!customSearchButtonLabel}"  style="width:66px;" /><apex:actionStatus id="Component24_Status">
  <apex:facet name="start">
    <apex:image url="/img/loading.gif" style="width:16px; height:16px; margin:auto; border:0; vertical-align:middle;" />
  </apex:facet>
</apex:actionStatus>
<apex:commandButton id="Component25" onclick="clearSearchConditions();return false;" reRender="messagesPanel" styleClass="btn btn-gray" value="{!Label.canvasClearButton}"  style="width:66px;" /><script>
jQuery('.pbBottomButtons').css('margin-top',0);
</script></apex:pageBlockButtons><apex:pageBlockSection collapsible="true" columns="1" id="Component26" title="{!customSearchSectionTitle}"  >
<apex:facet name="header"  >
<apex:outputPanel >
<apex:outputText value="{!customSearchSectionTitle}"  /></apex:outputPanel></apex:facet><apex:outputPanel id="Component27"  >
<fieldset  >
<table  border="0" cellpadding="0"  style="font-size:12px;">
<tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.E_Policy__c.fields.COMM_CHDRNUM__c.accessible}" >
																			<apex:outputLabel escape="true" id="Component33"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.E_Policy__c.fields.COMM_CHDRNUM__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component33}');"/>
	</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.E_Policy__c.fields.COMM_CHDRNUM__c.accessible}" >
		<apex:selectList id="Component34_operator" value="{!Component34_op.value}" size="1" styleClass="operatorSelect operatorDisplayNone ">
			<apex:selectOptions value="{!operatorOptions_E_Policy_c_COMM_CHDRNUM_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component34" value="{!Component34_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"   style="width:107px;height:19px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component34}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.E_COVPF__c.fields.InsuredE_CLTPF_ZCLKNAME__c.accessible}" >
																			<apex:outputLabel escape="true" id="Component48"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.E_COVPF__c.fields.InsuredE_CLTPF_ZCLKNAME__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component48}');"/>
	</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.E_COVPF__c.fields.InsuredE_CLTPF_ZCLKNAME__c.accessible}" >
		<apex:selectList id="NameKana_operator" value="{!NameKana_op.value}" size="1" styleClass="operatorSelect operatorDisplayNone ">
			<apex:selectOptions value="{!operatorOptions_E_COVPF_c_InsuredE_CLTPF_ZCLKNAME_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="NameKana" value="{!NameKana_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"   style="width:107px;height:19px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.NameKana}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.E_COVPF__c.fields.InsuredName__c.accessible}" >
																			<apex:outputLabel escape="true" id="Component50"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.E_COVPF__c.fields.InsuredName__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component50}');"/>
	</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.E_COVPF__c.fields.InsuredName__c.accessible}" >
		<apex:selectList id="Component51_operator" value="{!Component51_op.value}" size="1" styleClass="operatorSelect operatorDisplayNone ">
			<apex:selectOptions value="{!operatorOptions_E_COVPF_c_InsuredName_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component51" value="{!Component51_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"   style="width:107px;height:19px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component51}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr></table></fieldset></apex:outputPanel></apex:pageBlockSection>
</apex:pageBlock>
</apex:outputPanel></apex:form><apex:form id="sve_form2" styleClass="sve_form2"  >
<apex:outputPanel id="Component1_Wrapper" styleClass="">
<apex:pageBlock id="Component1" mode="detail" title=" "  >
<apex:pageBlockButtons location="top"  >
</apex:pageBlockButtons><apex:outputPanel id="dataTable_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputPanel id="dataTable" layout="block" styleClass="dataTableSet"  style="overflow:auto;width:100%;">
	<apex:actionRegion >
<script>SkyEditor.selectedRecords = {};</script>
<table  class="tableOperator" id="dataTable_header" >
<tr  >
<td  >

<apex:actionFunction name="dataTable_first" action="{!dataTable.doFirst}" reRender="dataTable" status="dataTable_status" />
<apex:actionFunction name="dataTable_previous" action="{!dataTable.doPrevious}" reRender="dataTable" status="dataTable_status" />
<apex:actionFunction name="dataTable_next" action="{!dataTable.doNext}" reRender="dataTable" status="dataTable_status" />
<apex:actionFunction name="dataTable_last" action="{!dataTable.doLast}" reRender="dataTable" status="dataTable_status" />
<div  id="dataTable__pager" layout="block" reRender="dataTable" class="pager" style="margin-left:20px; text-align:center;">
	<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/first.png')}" class="first" onclick="dataTable_first();" />
		</td>
		<td> 
			<img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/prev.png')}" class="prev" onclick="dataTable_previous();" />
		</td>
		<td>
			<input type="text" class="pagedisplay" readonly="readonly" value="{!dataTable.pageNumber} / {!dataTable.lastPageNumber}" />
		</td>
		<td>
			<img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/next.png')}" class="next" onclick="dataTable_next();" />
		</td>
		<td>
			<img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/last.png')}" class="last" onclick="dataTable_last();" />
		</td>
		<td>
			<apex:selectList styleClass="pagesize" value="{!dataTable.pageSize}" size="1">
				<apex:selectOption itemValue="5" itemLabel="5" />
				<apex:selectOption itemValue="10" itemLabel="10" />
				<apex:selectOption itemValue="25" itemLabel="25" />
				<apex:selectOption itemValue="50" itemLabel="50" />
				<apex:selectOption itemValue="100" itemLabel="100" />
				<apex:actionSupport event="onchange" action="{!dataTable.doFirst}" reRender="dataTable" status="dataTable_status"  />
			</apex:selectList>
			<apex:actionStatus id="dataTable_status">
				<apex:facet name="start">
					<apex:image url="/img/loading.gif" style="width:16px; height:16px; margin:auto; border:0; vertical-align:middle;" />
				</apex:facet>
			</apex:actionStatus>
		</td>
	</tr>
	</table>
</div>
</td><td  >
<apex:outputPanel style="margin-left:20px;"  >
<apex:outputText value="{!rowCount}"  /><apex:outputText styleClass="recordCounter" value="{!IF(dataTable.items.size >=500, (rowCountPrefix & ' ' & TEXT(dataTable.items.size) & ' ' & rowCountSuffix), (':' & TEXT(dataTable.items.size)))}"  /></apex:outputPanel></td><td  >
<apex:outputPanel >
<apex:variable var="tableMessage1" value="照会可能契約が存在しません。"/>
<apex:variable var="tableMessage2" value=""/>
<apex:variable var="tableMessage3" value=""/>
<apex:outputText id="dataTable_msg" style="{!IF(dataTable.items.size=0,'color:#FF0000;font-weight:normal;font-size:1.0em;','color:#000000;font-weight:normal;font-size:1.0em;')}" value="{!IF(dataTable.items.size=0,tableMessage1,tableMessage3)}"/></apex:outputPanel></td></tr></table><apex:outputPanel layout="block" styleClass="tableWrapper"   >
<apex:dataTable columnsWidth=",,,,,," id="dataTable_table" onRowMouseOut="skyeditorRowOut(this)" onRowMouseOver="skyeditorRowOver(this)" rows="500" styleClass="greyTableStyle" value="{!dataTable.viewItems}" var="dataTable_item" >
<apex:column id="Component62"  style="width:112px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_COVPF__c.fields.COMM_CHDRNUM__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
				<apex:outputText escape="false"  id="Component61"   value="{!dataTable_item.record.COMM_CHDRNUM__c}" />
	</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="width:112px;text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.E_COVPF__c.fields.COMM_CHDRNUM__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component31"  style="width:85px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_Policy__c.fields.COMM_OCCDATE_yyyyMMdd__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component30" rendered="{! NOT(ISNULL(dataTable_item.record.E_Policy__r.COMM_OCCDATE_yyyyMMdd__c))}"    value="{!dataTable_item.record.E_Policy__r.COMM_OCCDATE_yyyyMMdd__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="width:85px;text-align:left;display:block;" >
<apex:outputText value="契約日"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component15"  style="width:73px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_COVPF__c.fields.COLI_ZPSTDESC__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component14"    value="{!dataTable_item.record.COLI_ZPSTDESC__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="width:73px;text-align:left;display:block;" >
<apex:outputText value="状況"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component53"  style="width:96px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_COVPF__c.fields.InsuredName__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component52"    value="{!dataTable_item.record.InsuredName__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="width:96px;text-align:left;display:block;" >
<apex:outputText value="被保険者"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component56"  style="width:162px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_COVPF__c.fields.COLI_ZCOVRNAMES__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component55"    value="{!dataTable_item.record.COLI_ZCOVRNAMES__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="width:162px;text-align:left;display:block;" >
<apex:outputText value="保険種類"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component43"  style="width:109px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_COVPF__c.fields.COLI_SUMINSF__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component42"    value="{!dataTable_item.record.COLI_SUMINSF__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="width:109px;text-align:left;display:block;" >
<apex:outputText value="保険金額／入院給付金日額／年金（月）額（円）"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component23"  style="width:98px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_Policy__c.fields.COMM_SINSTAMT__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component22" rendered="{! NOT(ISNULL(dataTable_item.record.E_Policy__r.COMM_SINSTAMT__c))}"    value="{!dataTable_item.record.E_Policy__r.COMM_SINSTAMT__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="width:98px;text-align:left;display:block;" >
<apex:outputText value="保険料（円）（※１）"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column></apex:dataTable>
<script type="text/javascript">
    jQuery("[id$='dataTable_table'] > tbody > tr:even").addClass('even');
    jQuery("[id$='dataTable_table'] > tbody > tr:odd").addClass('odd');
</script></apex:outputPanel><script>
ObscureUnusedCondition();
</script><apex:inputTextArea id="dataTable_hiddenValue" value="{!dataTable.hiddenValue}" style="display:none;" rendered="{!$ObjectType.E_COVPF__c.createable}"></apex:inputTextArea>
<apex:commandButton id="dataTable_importByJSON" action="{!dataTable.importByJSON}" style="display:none;" reRender="dataTable" rendered="{!$ObjectType.E_COVPF__c.createable}" />
<script type="text/javascript">
jQuery(document).ready(function () {
  if (typeof aggregateCalc_all === 'function') {
    aggregateCalc_all('dataTable');
  }
});

if(SkyEditor.disableDetailPanel()){
	jQuery('[id$=dataTable]').find('.SVE_DetailPanelBtn').remove();
}
</script>
	</apex:actionRegion>
</apex:outputPanel>
</apex:outputPanel>
</apex:pageBlock>
</apex:outputPanel></apex:form><apex:outputPanel style="position:relative;" >
</apex:outputPanel><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>