<apex:page standardController="CR_Outsrc__c"  extensions="CR_OutsrcViewController"   applyBodyTag="{!p_applyHtmlTag}"   applyHtmlTag="{!p_applyHtmlTag}"   cache="false"   contentType="{!p_contentType}"   docType="{!p_docType}"   expires="{!p_expires}"   language="{!p_language}"   renderAs="{!renderAs}"   rendered="{!p_rendered}"   setup="{!p_setup}"   showChat="{!p_showChat}"   showHeader="{!p_showHeader}"   sidebar="{!p_sidebar}"   standardStylesheets="false"   title="外部委託先参照"   wizard="{!p_wizard}" >
<head>
<script src="/soap/ajax/31.0/connection.js"></script>
<script src="/soap/ajax/31.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "CR_Outsrc__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


<style>
{!HTMLENCODE(pdfStyleString)}
</style><style type="text/css">
td#nlinkLeft{
	padding-left:10px !important;
}
.padding-right-20{
	padding-right:20px !important;
}
.padding-left-20{
	padding-left:20px !important;
}
</style>
 <title>外部委託先参照</title> </head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.layout.min.js')}" />
<script type="text/javascript">

</script>
<script type="text/javascript" import="true">
function confirmPersonalInfo(){
  if({!Extender.ShowWarningForPersonalInfo}){
    return confirm('個人情報の取扱いのない外部委託が報告されます。よろしいでしょうか？');
  }
  return true;
}

</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:outputPanel style="position:relative;" >
</apex:outputPanel><apex:form id="sve_form1"   styleClass="sve_form1"   >
<apex:outputPanel id="nlinkstrap_Wrapper">
<apex:outputPanel >
<table   border="1"   cellpadding="3"   cellspacing="0"   class="nlinkstrap"   columnCount="2"   columnsWidth="152,793"   id="nlinkstrap"   rowsHeight="131,112,1025,23"   style="width:945px;border-collapse:collapse;border:1px solid #CCCCCC;">
<tr  >
<td   class="nlinkLogo"   colspan="2"   id="nlinkLogo"   rowspan="1"   style="width:943px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1490_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component1490" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_LogoHeader id="Component1490" 
welcome="{!Extender.welcome}" 
showClose="false" 
showBack="false" 
isIRIS="{!Extender.iris.isIRIS}" 
isHideMenu="" 
/>
</apex:outputPanel></td></tr><tr  >
<td   class="nlinkMenu"   colspan="1"   id="nlinkMenu"   rowspan="2"   style="width:150px;text-align:left;vertical-align:top;border:1px solid #CCCCCC;">
<apex:outputPanel id="Component812_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component812" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_Menu id="Component812" 
menuItemNo="upload_outsrc" 
hideMenu="" 
isIRIS="{!Extender.iris.isIRIS}" 
/>
</apex:outputPanel></td><td   class="nlinkHeader"   colspan="1"   id="nlinkHeader"   rowspan="1"   style="width:791px;text-align:center;vertical-align:top;border:1px solid #CCCCCC;">
<apex:outputPanel id="Component1633_Wrapper">
<apex:outputPanel >
<table   border="1"   cellpadding="0"   cellspacing="0"   columnCount="10"   columnsWidth="77,77,77,77,77,77,77,77,77,77"   id="Component1633"   rowsHeight="22,34,32,12"   style="width:770px;border-collapse:collapse;border:1px none #000000;">
<tr  >
<td   colspan="10"   id="Component1634"   rowspan="1"   style="width:768px;height:20px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1674_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1674"   styleClass="nlinkTitle"   value="外部委託先参照"   style="color:#000000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="2"   id="Component1664"   rowspan="1"   style="width:152px;height:32px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component2466_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2466" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_OutputLink id="Component2466" 
title="編集" 
escapeTitle="false" 
rendered="{!Extender.canEdit && Extender.isSuccessInit}" 
value="{!Extender.urlforEdit}" 
target="" 
style="" 
styleClass="btn btn-standard" 
/>
</apex:outputPanel></td><td   colspan="2"   id="Component2276"   rowspan="1"   style="width:152px;height:32px;text-align:center;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="btnNext_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:commandButton action="{!extender.manager.doNextAction}"   id="btnNext"   immediate="false"   onclick="if(confirmPersonalInfo()){}else{   return false;};"   rendered="{!Extender.hasNextAction}"   styleClass="btn btn-standard"   value="{!Extender.manager.nextActionLabel}"   style="width:100px;" >
</apex:commandButton>
</apex:outputPanel>
</td><td   colspan="2"   id="Component2277"   rowspan="1"   style="width:152px;height:32px;text-align:center;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="btnReject_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:commandButton action="{!extender.manager.doRejectAction}"   id="btnReject"   immediate="false"   rendered="{!Extender.hasRejectAction}"   styleClass="btn btn-gray"   value="{!Extender.manager.rejectActionLabel}"   style="width:100px;" >
</apex:commandButton>
</apex:outputPanel>
</td><td   colspan="2"   id="Component2278"   rowspan="1"   style="width:152px;height:32px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component2465_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2465" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_OutputLink id="Component2465" 
title="外部委託先一覧" 
escapeTitle="false" 
rendered="{!NOT(ISBLANK(Extender.UrlforOutsrcs))}" 
value="{!Extender.UrlforOutsrcs}" 
target="" 
style="" 
styleClass="btn btn-gray" 
/>
</apex:outputPanel></td><td   colspan="2"   id="Component1686"   rowspan="1"   style="width:152px;height:32px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component2464_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2464" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_OutputLink id="Component2464" 
title="表示内容の説明" 
escapeTitle="false" 
rendered="True" 
value="{!Extender.UrlforHelp}" 
target="_nnlinkhelp" 
style="" 
styleClass="btn btn-gray" 
/>
</apex:outputPanel></td></tr><tr  >
<td   colspan="8"   id="Component2441"   rowspan="1"   style="width:614px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component2452_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2452" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_PageMessages id="Component2452" 
Messages="{!Extender.pageMessages}" 
Severity="ERROR" 
Instruction="" 
/>
</apex:outputPanel></td><td   colspan="2"   id="Component2449"   rowspan="1"   style="width:152px;text-align:center;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component2313_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:commandButton action="{!extender.doDeleteEx}"   id="Component2313"   immediate="false"   onclick="if ((Modal.confirm && Modal.confirm('削除してよろしいですか?'))         || (!Modal.confirm && window.confirm('削除してよろしいですか?'))){   }else{    return false; };"   rendered="{!Extender.canDelete && Extender.isSuccessInit}"   styleClass="btn btn-gray"   value="削除"   style="width:100px;" >
</apex:commandButton>
</apex:outputPanel>
</td></tr><tr  >
<td   id="Component1688"   style="width:75px;height:10px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1689"   style="width:75px;height:10px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1690"   style="width:75px;height:10px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1691"   style="width:75px;height:10px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1692"   style="width:75px;height:10px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1693"   style="width:75px;height:10px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1694"   style="width:75px;height:10px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1695"   style="width:75px;height:10px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1696"   style="width:75px;height:10px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1697"   style="width:75px;height:10px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr></table>
</apex:outputPanel>
</apex:outputPanel></td></tr><tr  >
<td   class="nlinkLeft"   colspan="1"   id="nlinkLeft"   rowspan="1"   style="width:791px;text-align:left;vertical-align:top;border:1px none #CCCCCC;">
<apex:outputPanel id="Component1491_Wrapper">
<apex:outputPanel rendered="{!Extender.isSuccessInit}">
<table   border="1"   cellpadding="0"   cellspacing="0"   columnCount="10"   columnsWidth="77,77,81,77,77,86,77,77,77,77"   id="Component1491"   regionRendered="{!Extender.isSuccessInit}"   rowsHeight="23,23,23,56,23,28,23,22,22,30,39,30,30,42,30,30,30,30,30,42,30,23,110,21"   style="width:783px;border-collapse:collapse;border:1px none #000000;">
<tr  >
<td   colspan="2"   id="Component1492"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputLabel escape="true"   id="Component1824"   rendered="{!$ObjectType.CR_Outsrc__c.fields.Status__c.accessible}"   style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="{!$ObjectType.CR_Outsrc__c.fields.Status__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component1824}');"/>
</td><td   id="Component1875"   style="width:79px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component1873"     value="{!record.Status__c}" />
</apex:outputPanel>
</td><td   id="Component1495"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   colspan="1"   id="Component1496"   rowspan="1"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   colspan="2"   id="Component1595"   rowspan="1"   style="width:161px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   colspan="2"   id="Component1588"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1678"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="2"   id="Component1497"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputLabel escape="true"   id="Component1825"   rendered="{!$ObjectType.CR_Outsrc__c.fields.Name.accessible}"   style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="{!$ObjectType.CR_Outsrc__c.fields.Name.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component1825}');"/>
</td><td   colspan="7"   id="Component1810"   rowspan="1"   style="width:550px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component1933"     value="{!record.Name}" />
</apex:outputPanel>
</td><td   id="Component1813"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="2"   id="Component1502"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputLabel escape="true"   id="Component1826"   rendered="{!$ObjectType.CR_Outsrc__c.fields.Representative__c.accessible}"   style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="{!$ObjectType.CR_Outsrc__c.fields.Representative__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component1826}');"/>
</td><td   colspan="7"   id="Component1504"   rowspan="1"   style="width:550px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component1934"     value="{!record.Representative__c}" />
</apex:outputPanel>
</td><td   id="Component1680"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="2"   id="Component1530"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputLabel escape="true"   id="Component1827"   rendered="{!$ObjectType.CR_Outsrc__c.fields.Address__c.accessible}"   style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="{!$ObjectType.CR_Outsrc__c.fields.Address__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component1827}');"/>
</td><td   colspan="7"   id="Component1814"   rowspan="1"   style="width:550px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component1935"     value="{!record.Address__c}" />
</apex:outputPanel>
</td><td   id="Component1681"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="2"   id="Component1858"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputLabel escape="true"   id="Component1868"   rendered="{!$ObjectType.CR_Outsrc__c.fields.Business__c.accessible}"   style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="{!$ObjectType.CR_Outsrc__c.fields.Business__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component1868}');"/>
</td><td   colspan="8"   id="Component1963"   rowspan="1"   style="width:627px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component1936"     value="{!record.Business__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="2"   id="Component2267"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputLabel escape="true"   id="Component1973"   rendered="{!$ObjectType.CR_Outsrc__c.fields.OutsrcFrom__c.accessible}"   style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="{!$ObjectType.CR_Outsrc__c.fields.OutsrcFrom__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component1973}');"/>
</td><td   colspan="3"   id="Component2269"   rowspan="1"   style="width:233px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component1971"     value="{!record.OutsrcFrom__c}" />
</apex:outputPanel>
</td><td   colspan="2"   id="Component2272"   rowspan="1"   style="width:161px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   colspan="3"   id="Component2274"   rowspan="1"   style="width:229px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="2"   id="Component2314"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputLabel escape="true"   id="Component1949"   rendered="{!$ObjectType.CR_Outsrc__c.fields.OutsrcTo__c.accessible}"   style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="{!$ObjectType.CR_Outsrc__c.fields.OutsrcTo__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component1949}');"/>
</td><td   colspan="3"   id="Component2316"   rowspan="1"   style="width:233px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component1951"     value="{!record.OutsrcTo__c}" />
</apex:outputPanel>
</td><td   id="Component2319"   style="width:84px;height:21px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2320"   style="width:75px;height:21px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2321"   style="width:75px;height:21px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2322"   style="width:75px;height:21px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2323"   style="width:75px;height:21px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   id="Component2226"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2227"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2228"   style="width:79px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2229"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2230"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2231"   style="width:84px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2232"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2233"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2234"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component2235"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   class="tdSubTitle"   colspan="10"   id="Component2453"   rowspan="1"   style="width:781px;height:20px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component2463_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component2463"   value="委託内容の確認"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td></tr><tr  >
<td   class="divder padding-right-20"   colspan="6"   id="Component2324"   rowspan="1"   style="width:473px;height:28px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputLabel escape="true"   id="Component2034"   rendered="{!$ObjectType.CR_Outsrc__c.fields.Confirm01__c.accessible}"   style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="{!$ObjectType.CR_Outsrc__c.fields.Confirm01__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component2034}');"/>
</td><td   class="divder"   colspan="4"   id="Component2330"   rowspan="1"   style="width:306px;height:28px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2188"     value="{!record.Confirm01__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td   class="divder padding-right-20"   colspan="6"   id="Component2334"   rowspan="1"   style="width:473px;height:37px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component2289_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component2289"   value="Q2.選定基準に定められた事項の委託先における遵守状況について、定期的または必要に応じてヒアリングや直接の確認を行うなどにより十分な監督を行っている"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td><td   class="divder"   colspan="4"   id="Component2340"   rowspan="1"   style="width:306px;height:37px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2194"     value="{!record.Confirm02__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td   class="divder"   colspan="6"   id="Component2344"   rowspan="1"   style="width:473px;height:28px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputLabel escape="true"   id="Component2036"   rendered="{!$ObjectType.CR_Outsrc__c.fields.Confirm03__c.accessible}"   style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="{!$ObjectType.CR_Outsrc__c.fields.Confirm03__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component2036}');"/>
</td><td   class="divder"   colspan="4"   id="Component2350"   rowspan="1"   style="width:306px;height:28px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2176"     value="{!record.Confirm03__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td   class="divder padding-left-20"   colspan="6"   id="Component2354"   rowspan="1"   style="width:473px;height:28px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputLabel escape="true"   id="Component2256"   rendered="{!$ObjectType.CR_Outsrc__c.fields.ReConsignor__c.accessible}"   style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="{!$ObjectType.CR_Outsrc__c.fields.ReConsignor__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component2256}');"/>
</td><td   class="divder"   colspan="4"   id="Component2360"   rowspan="1"   style="width:306px;height:28px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2258"     value="{!record.ReConsignor__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td   class="divder padding-right-20 padding-left-20"   colspan="6"   id="Component2364"   rowspan="1"   style="width:473px;height:40px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component2311_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component2311"   value="Q3-2.再委託先へのモニタリングを実施している、または再委託先からの報告を受けている"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td><td   class="divder"   colspan="4"   id="Component2370"   rowspan="1"   style="width:306px;height:40px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2170"     value="{!record.Confirm04__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td   class="divder"   colspan="6"   id="Component2374"   rowspan="1"   style="width:473px;height:28px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputLabel escape="true"   id="Component2112"   rendered="{!$ObjectType.CR_Outsrc__c.fields.Confirm05__c.accessible}"   style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="{!$ObjectType.CR_Outsrc__c.fields.Confirm05__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component2112}');"/>
</td><td   class="divder"   colspan="4"   id="Component2380"   rowspan="1"   style="width:306px;height:28px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2179"     value="{!record.Confirm05__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td   class="divder padding-right-20"   colspan="6"   id="Component2384"   rowspan="1"   style="width:473px;height:28px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputLabel escape="true"   id="Component2113"   rendered="{!$ObjectType.CR_Outsrc__c.fields.Confirm06__c.accessible}"   style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="Q5.委託業務における個人情報（エヌエヌ生命が取扱を委託した個人情報）の取扱がある" onclick="SkyEditor.touchToolTip('{!$Component.Component2113}');"/>
</td><td   class="divder"   colspan="4"   id="Component2390"   rowspan="1"   style="width:306px;height:28px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="chkpersonalinfo"     value="{!record.Confirm06__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td   class="divder padding-left-20"   colspan="6"   id="Component2394"   rowspan="1"   style="width:473px;height:28px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputLabel escape="true"   id="Component2266"   rendered="{!$ObjectType.CR_Outsrc__c.fields.SharedInfo__c.accessible}"   style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="{!$ObjectType.CR_Outsrc__c.fields.SharedInfo__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component2266}');"/>
</td><td   class="divder"   colspan="4"   id="Component2400"   rowspan="1"   style="width:306px;height:28px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2261"     value="{!record.SharedInfo__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td   class="divder padding-left-20"   colspan="6"   id="Component2404"   rowspan="1"   style="width:473px;height:28px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputLabel escape="true"   id="Component2119"   rendered="{!$ObjectType.CR_Outsrc__c.fields.Confirm06_1__c.accessible}"   style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="{!$ObjectType.CR_Outsrc__c.fields.Confirm06_1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component2119}');"/>
</td><td   class="divder"   colspan="4"   id="Component2410"   rowspan="1"   style="width:306px;height:28px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2173"     value="{!record.Confirm06_1__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td   class="divder padding-left-20 padding-right-20"   colspan="6"   id="Component2414"   rowspan="1"   style="width:473px;height:28px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component2517_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component2517"   value="Q5-3.個人情報の取扱いに関する取り決め（業務委託契約、機密保持契約、利用規約等）がある"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td><td   class="divder"   colspan="4"   id="Component2420"   rowspan="1"   style="width:306px;height:28px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2167"     value="{!record.Confirm06_2__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td   class="divder padding-right-20 padding-left-20"   colspan="6"   id="Component2424"   rowspan="1"   style="width:473px;height:40px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component2300_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component2300"   value="Q5-4.個人情報の取扱いに関する取り決めの遵守状況について、定期的または必要に応じてヒアリングや直接の確認を行うなどにより十分な監督を行っている "   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td><td   class="divder"   colspan="4"   id="Component2430"   rowspan="1"   style="width:306px;height:40px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2185"     value="{!record.Confirm06_3__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td   class="padding-right-20 padding-left-20"   colspan="6"   id="Component2434"   rowspan="1"   style="width:473px;height:28px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputLabel escape="true"   id="Component2162"   rendered="{!$ObjectType.CR_Outsrc__c.fields.Confirm06_4__c.accessible}"   style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="Q5-5.外部委託先との契約を解除する場合の個人情報の取扱いに関する取決めがなされている" onclick="SkyEditor.touchToolTip('{!$Component.Component2162}');"/>
</td><td   colspan="4"   id="Component2440"   rowspan="1"   style="width:306px;height:28px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2182"     value="{!record.Confirm06_4__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="10"   id="Component2024"   rowspan="1"   style="width:781px;text-align:left;vertical-align:bottom;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component2498"   rowspan="1"   style="width:781px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component2508_Wrapper">
<apex:outputPanel rendered="{!record.hasCustomerInfo__c}">
<table   border="1"   cellpadding="0"   cellspacing="0"   columnCount="3"   columnsWidth="227,227,302"   id="Component2508"   regionRendered="{!record.hasCustomerInfo__c}"   rowsHeight="22,62,22"   style="width:756px;border-collapse:collapse;border:1px none #000000;">
<tr  >
<td   class="tdSubTitle"   id="Component2509"   style="width:225px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1940_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1940"   value="委託契約書等ファイル一覧"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td><td   id="Component2510"   style="width:225px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component2468_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2468" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_OutputLink id="Component2468" 
title="ファイルアップロード" 
escapeTitle="false" 
rendered="{!Extender.canEdit}" 
value="{!Extender.UrlforUpload}" 
target="" 
style="" 
styleClass="btn btn-standard" 
/>
</apex:outputPanel></td><td   id="Component2511"   style="width:300px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component2494_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component2494"   rendered="{!Extender.files.size<1 && ISBLANK(record.ReasonForNofiles__c)}"   value="ファイルを添付いただけない場合は、ファイルアップロードボタンをクリック後のページでその理由を記載ください。"   style="color:#000000;font-size:1.0em;font-weight:Normal;"   />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="3"   id="Component2512"   rowspan="1"   style="width:754px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="filelist_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="filelist" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_Attachmentlist id="filelist" 
files="{!Extender.files}" 
canDelete="{!Extender.canDelete}" 
/>
</apex:outputPanel></td></tr><tr  >
<td   id="Component2515"   style="width:225px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component2495_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component2495"   rendered="{!NOT(ISBLANK(record.ReasonForNofiles__c))}"   value="ファイルを添付いただけない理由"   style="color:#000000;font-size:1.0em;font-weight:Bold;"   />
</apex:outputPanel>
</td><td   colspan="2"   id="Component2516"   rowspan="1"   style="width:527px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2497"     value="{!record.ReasonForNofiles__c}" />
</apex:outputPanel>
</td></tr></table>
</apex:outputPanel>
</apex:outputPanel></td></tr><tr  >
<td   id="Component1912"   style="width:75px;height:19px;text-align:left;vertical-align:middle;border:1px none #000000;">
&nbsp;</td><td   id="Component1913"   style="width:75px;height:19px;text-align:left;vertical-align:middle;border:1px none #000000;">
&nbsp;</td><td   id="Component1914"   style="width:79px;height:19px;text-align:left;vertical-align:middle;border:1px none #000000;">
&nbsp;</td><td   id="Component1915"   style="width:75px;height:19px;text-align:left;vertical-align:middle;border:1px none #000000;">
&nbsp;</td><td   id="Component1916"   style="width:75px;height:19px;text-align:left;vertical-align:middle;border:1px none #000000;">
&nbsp;</td><td   id="Component1917"   style="width:84px;height:19px;text-align:left;vertical-align:middle;border:1px none #000000;">
&nbsp;</td><td   id="Component1918"   style="width:75px;height:19px;text-align:left;vertical-align:middle;border:1px none #000000;">
&nbsp;</td><td   id="Component1919"   style="width:75px;height:19px;text-align:left;vertical-align:middle;border:1px none #000000;">
&nbsp;</td><td   id="Component1920"   style="width:75px;height:19px;text-align:left;vertical-align:middle;border:1px none #000000;">
&nbsp;</td><td   id="Component1921"   style="width:75px;height:19px;text-align:left;vertical-align:middle;border:1px none #000000;">
&nbsp;</td></tr></table>
</apex:outputPanel>
</apex:outputPanel></td></tr><tr  >
<td   colspan="2"   id="Component1486"   rowspan="1"   style="width:943px;height:21px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1489_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component1489" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_Footer id="Component1489" 
isIRIS="{!Extender.iris.isIRIS}" 
/>
</apex:outputPanel></td></tr></table>
</apex:outputPanel>
</apex:outputPanel></apex:form><apex:outputPanel style="position:relative;" >
</apex:outputPanel><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>