<apex:page controller="E_DownloadController" extensions="E_DownloadNewPolicyExtension" readOnly="true" cache="{!CacheSetting}"
                contentType="application/octet-stream;charset=Windows-31J;#{!fileName}">{!csvHeader}
    <apex:repeat value="{!lines}" var="ln">{!ln}</apex:repeat>
    <apex:outputText escape="false" rendered="{!showDebug}" value="{!debugStrings}"/>
</apex:page>