<apex:page standardController="E_Policy__c"  extensions="E_FundTransferController"   action="{!extender.pageAction}"   cache="false"   contentType="{!p_contentType}"   docType="{!p_docType}"   expires="{!p_expires}"   language="{!p_language}"   renderAs="{!renderAs}"   rendered="{!p_rendered}"   setup="{!p_setup}"   showChat="{!p_showChat}"   showHeader="{!p_showHeader}"   sidebar="{!p_sidebar}"   standardStylesheets="false"   wizard="{!p_wizard}" >
<head>
<script src="/soap/ajax/25.0/connection.js"></script>
<script src="/soap/ajax/25.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "E_Policy__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>
<style>
{!HTMLENCODE(pdfStyleString)}
</style></head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery.tablesorter.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/addons/pager/jquery.tablesorter.pager.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/tableSortPageingSetting.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery.layout.min.js')}" />
<script type="text/javascript">

</script>
<script type="text/javascript" import="true">
jQuery(document).ready(function(){
	document.title = '{!Extender.PageTitle}';
});
</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:outputPanel style="position:relative;" >
</apex:outputPanel><apex:form id="sve_form1"   styleClass="sve_form1"   >
<apex:outputPanel id="Component181_Wrapper">
<apex:outputPanel >
<table   border="1"   cellpadding="3"   cellspacing="0"   class="nlinkstrap"   columnCount="3"   columnsWidth="156,400,394"   id="Component181"   rowsHeight="131,96,538,36,23"   style="width:950px;border-collapse:collapse;border:1px solid #CCCCCC;">
<tr  >
<td   class="nlinkLogo"   colspan="3"   id="Component182"   rowspan="1"   style="width:948px;text-align:left;vertical-align:top;border:1px none #CCCCCC;">
<apex:outputPanel id="Component2890_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2890" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_LogoHeader id="Component2890" 
welcome="{!Extender.Welcome}" 
showClose="false" 
showBack="false" 
/>
</apex:outputPanel></td></tr><tr  >
<td   class="nlinkMenu"   colspan="1"   id="Component184"   rowspan="3"   style="width:154px;text-align:left;vertical-align:top;border:1px solid #CCCCCC;">
<apex:outputPanel id="Component185_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component185" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_Menu id="Component185" 
menuItemNo="search_customer,inquiry_contract" 
hideMenu="" 
/>
</apex:outputPanel></td><td   class="nlinkHeader"   colspan="2"   id="Component186"   rowspan="1"   style="width:792px;text-align:center;vertical-align:top;border:1px solid #CCCCCC;">
<apex:outputPanel id="Component1953_Wrapper">
<apex:outputPanel >
<table   border="1"   cellpadding="0"   cellspacing="0"   columnCount="10"   columnsWidth="77,77,77,77,77,77,77,77,77,78"   id="Component1953"   rowsHeight="22,22,21,21"   style="width:771px;border-collapse:collapse;border:1px none #000000;">
<tr  >
<td   colspan="5"   id="Component2661"   rowspan="1"   style="width:383px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component2671_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component2671"   styleClass="nlinkTitle"   value="積立金の移転"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td><td   id="Component2666"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   colspan="4"   id="Component2667"   rowspan="1"   style="width:307px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="2"   id="Component1954"   rowspan="1"   style="width:152px;text-align:center;vertical-align:middle;border:1px none #000000;">
&nbsp;</td><td   colspan="2"   id="Component1956"   rowspan="1"   style="width:152px;text-align:center;vertical-align:middle;border:1px none #000000;">
&nbsp;</td><td   colspan="2"   id="Component1958"   rowspan="1"   style="width:152px;text-align:center;vertical-align:middle;border:1px none #000000;">
&nbsp;</td><td   colspan="2"   id="Component1960"   rowspan="1"   style="width:152px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component2920_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2920" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_OutputLink id="Component2920" 
title="表示内容の説明" 
escapeTitle="false" 
rendered="True" 
value="E_Info?menu=Help_E_FundTransferAgree" 
target="_nnlinkhelp" 
style="" 
styleClass="btn btn-standard " 
/>
</apex:outputPanel></td><td   colspan="2"   id="Component2738"   rowspan="1"   style="width:153px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component2742_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:commandLink action="{!extender.doAgreeReturn}"   id="Component2742"   immediate="false"   styleClass="btn btn-gray"   target="_self"   value="{!$Label.E_BTN_BACK}"   style="color:#000000;font-size:6pt;font-weight:Normal;" >
</apex:commandLink>
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="10"   id="Component2776"   rowspan="1"   style="width:769px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component2775_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2775" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_PageMessages id="Component2775" 
Messages="{!Extender.pageMessages}" 
Severity="ERROR" 
Instruction="" 
/>
</apex:outputPanel></td></tr><tr  >
<td   colspan="10"   id="Component2880"   rowspan="1"   style="width:769px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr></table>
</apex:outputPanel>
</apex:outputPanel></td></tr><tr  >
<td   class="nlinkLeft"   colspan="2"   id="Component221"   rowspan="1"   style="width:792px;text-align:center;vertical-align:top;border:1px solid #CCCCCC;">
<apex:outputPanel id="Component1908_Wrapper">
<apex:outputPanel >
<table   border="1"   cellpadding="3"   cellspacing="0"   class="tblBody"   columnCount="10"   columnsWidth="77,77,77,77,77,77,77,77,77,77"   id="Component1908"   rowsHeight="28,21,28,26,21,34"   style="width:770px;border-collapse:collapse;border:1px none #000000;">
<tr  >
<td   colspan="10"   id="Component1909"   rowspan="1"   style="width:768px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1938_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1938"   value="{!IF(Extender.isRecTypeCOLI,Extender.disclaimer['FTA|101'],IF(record.COMM_CRTABLE2__c='SA',Extender.disclaimer['FTA|102'],Extender.disclaimer['FTA|103']))}"   style="color:#000000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="10"   id="Component1919"   rowspan="1"   style="width:768px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component1943"   rowspan="1"   style="width:768px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1985_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component1985" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_CheckBox id="Component1985" 
isChecked="{!Extender.isAgree}" 
beforeLabel="" 
afterLabel="{!Extender.disclaimer['FTA|201']}" 
/>
</apex:outputPanel></td></tr><tr  >
<td   id="Component1975"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1976"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1977"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   colspan="2"   id="Component1978"   rowspan="1"   style="width:152px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="btnagree_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:commandLink action="{!extender.doNextEntry}"   id="btnagree"   immediate="false"   styleClass="btn btn-standard"   target="_self"   value="同意"   style="color:#000000;font-size:1.0em;font-weight:Bold;" >
</apex:commandLink>
</apex:outputPanel>
</td><td   colspan="2"   id="Component1980"   rowspan="1"   style="width:152px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component1988_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:commandLink action="{!extender.doReturn}"   id="Component1988"   immediate="false"   styleClass="btn btn-gray"   target="_self"   value="キャンセル"   style="color:#000000;font-size:1.0em;font-weight:Bold;" >
</apex:commandLink>
</apex:outputPanel>
</td><td   id="Component1982"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1983"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1984"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   id="Component1965"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1966"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1967"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1968"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1969"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1970"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1971"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1972"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1973"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1974"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component1991"   rowspan="1"   style="width:768px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component2001_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component2001"   value="{!Extender.disclaimer['FTA|301']}"   style="color:#000000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</td></tr></table>
</apex:outputPanel>
</apex:outputPanel></td></tr><tr  >
<td   class="nlinkFooter"   colspan="2"   id="Component284"   rowspan="1"   style="width:792px;text-align:center;vertical-align:middle;border:1px solid #CCCCCC;">
&nbsp;</td></tr><tr  >
<td   colspan="3"   id="Component2891"   rowspan="1"   style="width:948px;height:21px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component2894_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2894" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_Footer id="Component2894" 
/>
</apex:outputPanel></td></tr></table>
</apex:outputPanel>
</apex:outputPanel></apex:form><apex:outputPanel style="position:relative;" >
</apex:outputPanel><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>