<apex:page standardController="E_ITHPF__c"  extensions="E_InveValueController"   action="{!extender.pageAction}"   applyBodyTag="{!p_applyHtmlTag}"   applyHtmlTag="{!p_applyHtmlTag}"   cache="FALSE"   contentType="{!p_contentType}"   docType="{!p_docType}"   expires="{!p_expires}"   language="{!p_language}"   renderAs="{!renderAs}"   rendered="{!p_rendered}"   setup="{!p_setup}"   showChat="{!p_showChat}"   showHeader="{!p_showHeader}"   sidebar="{!p_sidebar}"   standardStylesheets="false"   title="{!Extender.pageTitle}"   wizard="{!p_wizard}" >
<head>
<script src="/soap/ajax/31.0/connection.js"></script>
<script src="/soap/ajax/31.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "E_ITHPF__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


<style>
{!HTMLENCODE(pdfStyleString)}
</style><!--[if IE 9 ]> 
<style>
.dataTableSet {margin-bottom:auto;}
</style><![endif]-->  <title>{!Extender.pageTitle}</title> </head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.layout.min.js')}" />
<script type="text/javascript">

</script>
<script type="text/javascript" import="true">

</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:outputPanel style="position:relative;" >
</apex:outputPanel><apex:form id="sve_form1"   styleClass="sve_form1"   >
<apex:outputPanel id="nlinkstrap_Wrapper">
<apex:outputPanel >
<table   border="1"   cellpadding="3"   cellspacing="0"   class="nlinkstrap"   columnCount="3"   columnsWidth="152,400,413"   id="nlinkstrap"   rowsHeight="131,108,840,34,23"   style="width:965px;border-collapse:collapse;border:1px solid #CCCCCC;">
<tr  >
<td   class="nlinkLogo"   colspan="3"   id="nlinkLogo"   rowspan="1"   style="width:963px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1374_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component1374" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_LogoHeader id="Component1374" 
welcome="{!Extender.welcome}" 
showClose="false" 
showBack="false" 
/>
</apex:outputPanel></td></tr><tr  >
<td   class="nlinkMenu"   colspan="1"   id="nlinkMenu"   rowspan="3"   style="width:150px;text-align:left;vertical-align:top;border:1px solid #CCCCCC;">
<apex:outputPanel id="Component812_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component812" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_Menu id="Component812" 
menuItemNo="inve_search,inquiry_contract" 
hideMenu="" 
/>
</apex:outputPanel></td><td   class="nlinkHeader"   colspan="2"   id="nlinkHeader"   rowspan="1"   style="width:811px;text-align:center;vertical-align:top;border:1px solid #CCCCCC;">
<apex:outputPanel id="nlinkHeadertbl_Wrapper">
<apex:outputPanel >
<table   border="1"   cellpadding="0"   cellspacing="0"   columnCount="10"   columnsWidth="77,75,77,77,77,77,77,77,77,78"   id="nlinkHeadertbl"   rowsHeight="28,21,21"   style="width:769px;border-collapse:collapse;border:1px none #000000;">
<tr  >
<td   colspan="10"   id="Component653"   rowspan="1"   style="width:767px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="nlinkTitle_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="nlinkTitle"   styleClass="nlinkTitle"   value="現在の評価金額 "   style="color:#ee7f00;font-size:16pt;font-weight:Bold;" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="2"   id="Component664"   rowspan="1"   style="width:150px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component1412_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component1412" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_OutputLink id="Component1412" 
title="投資運用レポート" 
escapeTitle="false" 
rendered="True" 
value="https://www.nnlife.co.jp/mf/reports" 
target="_blank" 
style="" 
styleClass="btn btn-standard " 
/>
</apex:outputPanel></td><td   colspan="2"   id="Component666"   rowspan="1"   style="width:152px;text-align:center;vertical-align:middle;border:1px none #000000;">
&nbsp;</td><td   colspan="2"   id="Component1362"   rowspan="1"   style="width:152px;text-align:center;vertical-align:middle;border:1px none #000000;">
&nbsp;</td><td   colspan="2"   id="Component1363"   rowspan="1"   style="width:152px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component1376_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component1376" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_OutputLink id="Component1376" 
title="表示内容の説明" 
escapeTitle="false" 
rendered="True" 
value="E_Info?menu=Help_E_InveValue" 
target="_nnlinkhelp" 
style="" 
styleClass="btn btn-standard " 
/>
</apex:outputPanel></td><td   colspan="2"   id="Component672"   rowspan="1"   style="width:153px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component683_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:commandLink action="{!extender.doReturn}"   id="Component683"   immediate="false"   styleClass="btn btn-gray"   target="_self"   value="{!$Label.E_BTN_BACK}"   style="color:#000000;font-size:6pt;font-weight:Normal;" >
</apex:commandLink>
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="2"   id="Component1364"   rowspan="1"   style="width:150px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   colspan="2"   id="Component1366"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   colspan="2"   id="Component1368"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   colspan="2"   id="Component1370"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   colspan="2"   id="Component1372"   rowspan="1"   style="width:153px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr></table>
</apex:outputPanel>
</apex:outputPanel></td></tr><tr  >
<td   class="nlinkLeft"   colspan="2"   id="nlinkLeft"   rowspan="1"   style="width:811px;text-align:left;vertical-align:top;border:1px solid #CCCCCC;">
<apex:outputPanel id="Component1127_Wrapper">
<apex:outputPanel >
<table   border="1"   cellpadding="0"   cellspacing="0"   class="tblBody"   columnCount="10"   columnsWidth="76.9166564941406,76.8281555175781,76.828125,76.828125,77.7369384765625,75.9193115234375,75.919189453125,76.7395629882813,78.6458129882813,110.638122558594"   id="Component1127"   rowsHeight="22,22,22,21,22,21,22,21,80,113,21,28,21,202,21,21,21,22,21,22"   style="width:803px;border-collapse:collapse;border:1px none #000000;">
<tr  >
<td   colspan="10"   id="Component1138"   rowspan="1"   style="width:801px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1126_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1126"   value="{!Extender.DataSyncDateInvestment}"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="2"   id="Component1198"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component871_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component871"   value="顧客"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td><td   colspan="3"   id="Component1200"   rowspan="1"   style="width:229px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component880"     value="{!record.ContractorName__c}" />
</apex:outputPanel>
</td><td   colspan="5"   id="Component1203"   rowspan="2"   style="width:416px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="2"   id="Component1208"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component872_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component872"   value="口座番号"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td><td   colspan="3"   id="Component1210"   rowspan="1"   style="width:229px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component877"     value="{!record.ZCLNTCDE__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="10"   id="Component1424"   rowspan="1"   style="width:801px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component1414"   rowspan="1"   style="width:801px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1089_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1089"   value="{!Extender.DISCLAIMER['INV|101']}"   style="color:#000000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="10"   id="Component1218"   rowspan="1"   style="width:801px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component1228"   rowspan="1"   style="width:801px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component957_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component957"   value="{!Extender.DISCLAIMER['INV|102']}"   style="color:#000000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="10"   id="Component1238"   rowspan="1"   style="width:801px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component1248"   rowspan="1"   style="width:801px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="dataTableITFPF_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputPanel id="dataTableITFPF"   layout="block"   styleClass="dataTableSet"   style="overflow:auto;width:790px;">
	<apex:actionRegion >
<script>SkyEditor.selectedRecords = {};</script>
<apex:outputPanel layout="block"   styleClass="tableWrapper"    >
<apex:dataTable columnsWidth=",,,,,,,"   id="dataTableITFPF_table"   onRowMouseOut="skyeditorRowOut(this)"   onRowMouseOver="skyeditorRowOver(this)"   rows="500"   styleClass="greyTableStyle"   value="{!dataTableITFPF.items}"   var="dataTableITFPF_item"  >
<apex:column id="Component1106"   style="width:85px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_ITFPF__c.fields.ZASSTNAM__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Bold;" >
<apex:outputField id="Component1115"     value="{!dataTableITFPF_item.record.ZASSTNAM__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:85px;text-align:center;display:block;" >
<apex:outputText value="アセットクラス"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component1107"   style="width:140px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_ITFPF__c.fields.ZBRNDNMS__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component1359"     value="{!dataTableITFPF_item.record.ZBRNDNMS__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:140px;text-align:center;display:block;" >
<apex:outputText value="ファンド"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component1109"   style="width:75px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_ITFPF__c.fields.ZBASCPRC__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component1118"     value="{!dataTableITFPF_item.record.ZBASCPRC__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:75px;text-align:center;display:block;" >
<apex:outputText value="基準価額(円)"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component1110"   style="width:75px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_ITFPF__c.fields.ZPRINUNT__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component1119"     value="{!dataTableITFPF_item.record.ZPRINUNT__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:75px;text-align:center;display:block;" >
<apex:outputText value="個別元本(円)"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component1111"   style="width:75px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_ITFPF__c.fields.ZITUNIT__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component1120"     value="{!dataTableITFPF_item.record.ZITUNIT__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:75px;text-align:center;display:block;" >
<apex:outputText value="{!$ObjectType.E_ITFPF__c.fields.ZITUNIT__c.label}"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component1112"   style="width:85px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_ITFPF__c.fields.ZCURRPRC__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component1121"     value="{!dataTableITFPF_item.record.ZCURRPRC__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:85px;text-align:center;display:block;" >
<apex:outputText value="時価(円)"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component1113"   style="width:85px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_ITFPF__c.fields.ZBRNDPER03__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component1122"     value="{!dataTableITFPF_item.record.ZBRNDPER03__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:85px;text-align:center;display:block;" >
<apex:outputText value="ファンド別配分比率(%)"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component1114"   style="width:92px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_ITFPF__c.fields.ZCHGRATE__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component1123"     value="{!dataTableITFPF_item.record.ZCHGRATE__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:92px;text-align:center;display:block;" >
<apex:outputText value="変動率 ((時価－投資金額)/投資金額) (%)"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column></apex:dataTable>
<script type="text/javascript">
    jQuery("[id$='dataTableITFPF_table'] > tbody > tr:even").addClass('even');
    jQuery("[id$='dataTableITFPF_table'] > tbody > tr:odd").addClass('odd');
</script></apex:outputPanel><apex:inputTextArea id="dataTableITFPF_hiddenValue" value="{!dataTableITFPF.hiddenValue}" style="display:none;" rendered="{!$ObjectType.E_ITFPF__c.createable && $ObjectType.E_ITFPF__c.fields.E_ITHPF__c.createable}"></apex:inputTextArea>
<apex:commandButton id="dataTableITFPF_importByJSON" action="{!dataTableITFPF.importByJSON}" style="display:none;" reRender="dataTableITFPF" rendered="{!$ObjectType.E_ITFPF__c.createable && $ObjectType.E_ITFPF__c.fields.E_ITHPF__c.createable}" />
<script type="text/javascript">
jQuery(document).ready(function () {
  if (typeof aggregateCalc_all === 'function') {
    aggregateCalc_all('dataTableITFPF');
  }
});

if(SkyEditor.disableDetailPanel()){
	jQuery('[id$=dataTableITFPF]').find('.SVE_DetailPanelBtn').remove();
}
</script>
	</apex:actionRegion>
</apex:outputPanel>
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="10"   id="Component1258"   rowspan="1"   style="width:801px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component891_Wrapper">
<apex:outputPanel >
<table   border="1"   cellpadding="0"   cellspacing="0"   columnCount="10"   columnsWidth="77,77,77,77,77,77,31,95,96,97"   id="Component891"   rowsHeight="22,22,22,22"   style="width:781px;border-collapse:collapse;border:1px none #000000;">
<tr  >
<td   colspan="7"   id="Component892"   rowspan="1"   style="width:491px;height:20px;text-align:left;vertical-align:top;border:1px none #999999;">
<apex:outputPanel id="Component898_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component898"   value="評価金額(時価合計金額)・・・(B)"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td><td   id="Component1069"   style="width:93px;height:20px;text-align:left;vertical-align:top;border:1px none #999999;">
<apex:outputPanel id="Component1090_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1090"   value="{!Extender.zcurrprcAmount}円"   style="color:#000000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</td><td   id="Component896"   style="width:94px;height:20px;text-align:left;vertical-align:top;border:1px none #999999;">
<apex:outputPanel id="Component1091_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1091"   value="{!Extender.fundRatioAmount}%"   style="color:#000000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</td><td   class="divder"   colspan="1"   id="Component1360"   rowspan="4"   style="width:95px;height:86px;text-align:left;vertical-align:top;border:1px none #999999;">
&nbsp;</td></tr><tr  >
<td   colspan="8"   id="Component1046"   rowspan="1"   style="width:586px;height:20px;text-align:left;vertical-align:top;border:1px none #999999;">
<apex:outputPanel id="Component1052_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1052"   value="投資金額合計・・・(A)"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td><td   id="Component1066"   style="width:94px;height:20px;text-align:left;vertical-align:top;border:1px none #999999;">
<apex:outputPanel id="Component1092_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1092"   value="{!Extender.zinvamtAmount}円"   style="color:#000000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="8"   id="Component1040"   rowspan="1"   style="width:586px;height:20px;text-align:left;vertical-align:top;border:1px none #999999;">
<apex:outputPanel id="Component1053_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1053"   value="評価損益額・・・(C)  ((B)-(A))"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td><td   id="Component1062"   style="width:94px;height:20px;text-align:left;vertical-align:top;border:1px none #999999;">
<apex:outputPanel id="Component1093_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1093"   value="{!Extender.strProfit}円"   style="color:#000000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</td></tr><tr  >
<td   class="divder"   colspan="7"   id="Component1034"   rowspan="1"   style="width:491px;height:20px;text-align:left;vertical-align:top;border:1px none #999999;">
<apex:outputPanel id="Component1054_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1054"   value="買付来騰落率・・・(C)/(A)"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td><td   class="divder"   id="Component1383"   style="width:93px;height:20px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   class="divder"   id="Component1058"   style="width:94px;height:20px;text-align:left;vertical-align:top;border:1px none #999999;">
<apex:outputPanel id="Component1094_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1094"   value="{!Extender.strRatio}%"   style="color:#000000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</td></tr></table>
</apex:outputPanel>
</apex:outputPanel></td></tr><tr  >
<td   colspan="10"   id="Component1411"   rowspan="1"   style="width:801px;height:19px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component1268"   rowspan="1"   style="width:801px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1413_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component1413" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_OutputLink id="Component1413" 
title="投資信託運用レポート" 
escapeTitle="false" 
rendered="True" 
value="https://www.nnlife.co.jp/mf/reports" 
target="_blank" 
style="" 
styleClass="btn-small btn-arrowLink " 
/>
</apex:outputPanel></td></tr><tr  >
<td   colspan="10"   id="Component1298"   rowspan="1"   style="width:801px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component1288"   rowspan="1"   style="width:801px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1097_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component1097" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_PieGraphInvestment id="Component1097" 
pid="{!record.Id}" 
kind="{!Extender.executeKind}" 
/>
</apex:outputPanel></td></tr><tr  >
<td   colspan="10"   id="Component1400"   rowspan="1"   style="width:801px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component1309"   rowspan="1"   style="width:801px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1399_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component1399" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_OutputLink id="Component1399" 
title="評価金額と比較する" 
escapeTitle="false" 
rendered="True" 
value="E_InveCompare?id={!record.id}&menu=0" 
target="_nnlinkhelp" 
style="" 
styleClass="btn-small btn-arrowLink" 
/>
</apex:outputPanel></td></tr><tr  >
<td   colspan="10"   id="Component1410"   rowspan="1"   style="width:801px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component1278"   rowspan="1"   style="width:801px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component965_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component965"   value="{!Extender.DISCLAIMER['INV|103']}"   style="color:#000000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="10"   id="Component1329"   rowspan="1"   style="width:801px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component1339"   rowspan="1"   style="width:801px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component968_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component968"   value="{!Extender.DISCLAIMER['INV|104']}"   style="color:#000000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</td></tr></table>
</apex:outputPanel>
</apex:outputPanel></td></tr><tr  >
<td   class="nlinkFooter"   colspan="2"   id="nlinkFooter"   rowspan="1"   style="width:811px;text-align:center;vertical-align:top;border:1px solid #CCCCCC;">
&nbsp;</td></tr><tr  >
<td   colspan="3"   id="Component1395"   rowspan="1"   style="width:963px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1398_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component1398" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_Footer id="Component1398" 
/>
</apex:outputPanel></td></tr></table>
</apex:outputPanel>
</apex:outputPanel></apex:form><apex:outputPanel style="position:relative;" >
</apex:outputPanel><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>