<apex:page standardController="E_ITTPF__c"  extensions="E_InveHistorySVEController"   action="{!extender.pageAction}"   applyBodyTag="{!p_applyHtmlTag}"   applyHtmlTag="{!p_applyHtmlTag}"   cache="{!p_cache}"   contentType="{!p_contentType}"   docType="{!p_docType}"   expires="{!p_expires}"   language="{!p_language}"   rendered="{!p_rendered}"   setup="{!p_setup}"   showChat="{!p_showChat}"   showHeader="{!p_showHeader}"   sidebar="{!p_sidebar}"   standardStylesheets="false"   title="{!Extender.pageTitle}"   wizard="{!p_wizard}" >
<head>
<script src="/soap/ajax/31.0/connection.js"></script>
<script src="/soap/ajax/31.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "E_ITTPF__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


<!--[if IE 9 ]> 
<style>
.dataTableSet {margin-bottom:auto;}
</style><![endif]-->  <title>{!Extender.pageTitle}</title> </head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.layout.min.js')}" />
<script type="text/javascript">
jQuery(document).ready(function(){
SkyEditor.searchConditionFromTo = getDateFieldsValue();
SkyEditor.searchConditionItem = getSearchItemsValue();
});
SkyEditor.defaultConditionObj = {};

</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_searchTemplate.css')}"/>
<apex:form id="sve_form1"   styleClass="sve_form1"   >
<div id="saveDialog" style="display:none;">
    <table style="font-size:small;">
        <tr><td id="saveDialogConditionNameLabel">{!Label.ConditionLabelName}</td><td><input type="text" id="conditionName" size="20" /></td></tr>
        <tr><td colspan="2" style="text-align:center;"><input type="button" id="conditionSave" value="{!Label.SaveConditionButtonSave}" /></td></tr>
    </table>
    <div class="messageBox" style="color:#CC0000; text-align:center; margin-top:10px;"><span class="mText"></span></div>
</div>
<div id="readDialog" style="display:none;">
    <table style="font-size:small;">
        <tr><td id="readDialogConditionNameLabel">{!Label.ConditionLabelName}</td><td><select id="searchConditionList" /></td><td><input type="button" id="deleteCondition" value="{!Label.ReadConditionButtonDelete}" /></td></tr>
        <tr><td colspan="3"><input type="button" id="setCondition" value="{!Label.ReadConditionSetConditions}" /></td></tr>
    </table>
    <div class="messageBox" style="color:#CC0000; text-align:center; margin-top:10px;"><span class="mText"></span></div>
</div>
<script type="text/javascript">
</script>
<apex:outputPanel id="Component26_Wrapper" styleClass="">
<apex:pageBlock id="Component26"   mode="detail"   >
<apex:pageBlockButtons location="bottom"   >
<apex:commandButton action="{!doSearch}"   id="Component22"   styleClass="btn btn-standard"   value="{!customSearchButtonLabel}"   style="width:66px;" /><apex:commandButton id="Component23"   onclick="clearSearchConditionsForPagererender();return false;"   reRender="messagesPanel"   styleClass="btn btn-gray"   value="{!Label.canvasClearButton}"   style="width:66px;" /><script>
jQuery('.pbBottomButtons').css('margin-top',0);
</script></apex:pageBlockButtons><apex:pageBlockSection collapsible="true"   columns="1"   id="pgSecTerm"   title="{!customSearchSectionTitle}"   >
<apex:facet name="header"   >
<apex:outputPanel >
<apex:outputText value="{!customSearchSectionTitle}"   /></apex:outputPanel></apex:facet><apex:outputPanel id="Component25"   >
<fieldset  >
<table   border="0"   cellpadding="0"   style="font-size:12px;"  >
<tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.E_ITTPF__c.fields.promiseDate__c.accessible}" >
<apex:outputLabel escape="true"   id="Component29"   style="color:#000000;font-size:1.0em;font-weight:Bold;" value="{!$ObjectType.E_ITTPF__c.fields.promiseDate__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component29}');"/>
</apex:outputPanel>
</td>
<td>
	<apex:outputPanel styleClass="searchDateBox"   rendered="{!$ObjectType.E_ITTPF__c.fields.promiseDate__c.accessible}" >
		<apex:inputField id="Component28_from" value="{!Component28_from.SkyEditor2__Date__c}" required="false" styleClass="searchDateFieldItems"  style="width:6em;text-align:center;ime-mode:disabled;" />
		<label style="font-weight:bold;" class="kara">{!Label.To}&nbsp;</label>
		<apex:inputField id="Component28_to" value="{!Component28_to.SkyEditor2__Date__c}" required="false" styleClass="searchDateFieldItems"  style="width:6em;text-align:center;ime-mode:disabled;" />
	</apex:outputPanel>
</td></tr></table></fieldset></apex:outputPanel></apex:pageBlockSection>
</apex:pageBlock>
</apex:outputPanel></apex:form><apex:form id="sve_form2"   styleClass="sve_form2"   >
<apex:outputPanel id="Component1_Wrapper" styleClass="">
<apex:pageBlock id="Component1"   mode="detail"   title=" 上記指定した約定日期間内の取引を表示する。"   >
<apex:pageBlockButtons location="top"   >
</apex:pageBlockButtons><apex:outputPanel id="dataTable_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputPanel id="dataTable"   layout="block"   styleClass="dataTableSet"   style="overflow:auto;width:100%;">
	<apex:actionRegion >
<script>SkyEditor.selectedRecords = {};</script>
<table   class="tableOperator"   id="dataTable_header"  >
<tr  >
<td  >

<apex:actionFunction name="dataTable_first" action="{!dataTable.doFirst}" reRender="dataTable" status="dataTable_status" />
<apex:actionFunction name="dataTable_previous" action="{!dataTable.doPrevious}" reRender="dataTable" status="dataTable_status" />
<apex:actionFunction name="dataTable_next" action="{!dataTable.doNext}" reRender="dataTable" status="dataTable_status" />
<apex:actionFunction name="dataTable_last" action="{!dataTable.doLast}" reRender="dataTable" status="dataTable_status" />
<div   id="dataTable__pager"   layout="block"   reRender="dataTable"  class="pager" style="margin-left:20px; text-align:center;">
	<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/first.png')}" class="first" onclick="dataTable_first();" />
		</td>
		<td> 
			<img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/prev.png')}" class="prev" onclick="dataTable_previous();" />
		</td>
		<td>
			<input type="text" class="pagedisplay" readonly="readonly" value="{!dataTable.pageNumber} / {!dataTable.lastPageNumber}" />
		</td>
		<td>
			<img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/next.png')}" class="next" onclick="dataTable_next();" />
		</td>
		<td>
			<img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/last.png')}" class="last" onclick="dataTable_last();" />
		</td>
		<td>
			<apex:selectList styleClass="pagesize" value="{!dataTable.pageSize}" size="1">
				<apex:selectOption itemValue="5" itemLabel="5" />
				<apex:selectOption itemValue="10" itemLabel="10" />
				<apex:selectOption itemValue="25" itemLabel="25" />
				<apex:selectOption itemValue="50" itemLabel="50" />
				<apex:selectOption itemValue="100" itemLabel="100" />
				<apex:actionSupport event="onchange" action="{!dataTable.doFirst}" reRender="dataTable" status="dataTable_status"  />
			</apex:selectList>
			<apex:actionStatus id="dataTable_status">
				<apex:facet name="start">
					<apex:image url="/img/loading.gif" style="width:16px; height:16px; margin:auto; border:0; vertical-align:middle;" />
				</apex:facet>
			</apex:actionStatus>
		</td>
	</tr>
	</table>
</div>
</td><td  >
<apex:outputPanel style="margin-left:20px;"   >
<apex:outputText value="{!rowCount}"   /><apex:outputText styleClass="recordCounter"   value="{!IF(dataTable.items.size >=100, (rowCountPrefix & ' ' & TEXT(dataTable.items.size) & ' ' & rowCountSuffix), (':' & TEXT(dataTable.items.size)))}"   /></apex:outputPanel></td><td  >
<apex:outputPanel >
<apex:variable var="tableMessage1" value="　検索可能なデータ数の上限を超えました。条件を再度設定の上、再検索をしてください。"/>
<apex:variable var="tableMessage2" value="　条件に合致する参照可能な顧客情報が見つかりませんでした。"/>
<apex:variable var="tableMessage3" value=""/>
<apex:outputText id="dataTable_msg" style="{!IF(dataTable.items.size>=100,'color:#FF0000;font-weight:normal;font-size:1.0em;',IF(dataTable.items.size<=0,'color:#FF0000;font-weight:normal;font-size:1.0em;','color:#000000;font-weight:normal;font-size:1.0em;'))}" value="{!IF(dataTable.items.size>=100,tableMessage1,IF(dataTable.items.size<=0,tableMessage2,tableMessage3))}"/></apex:outputPanel></td></tr></table><apex:outputPanel layout="block"   styleClass="tableWrapper"    >
<apex:dataTable columnsWidth=",,,,,,"   id="dataTable_table"   onRowMouseOut="skyeditorRowOut(this)"   onRowMouseOver="skyeditorRowOver(this)"   rows="100"   styleClass="greyTableStyle"   value="{!dataTable.viewItems}"   var="dataTable_item"  >
<apex:column id="Component33"   style="width:90px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_ITTPF__c.fields.promiseDate__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component32"     value="{!dataTable_item.record.promiseDate__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:90px;text-align:left;display:block;" >
<apex:commandLink action="{!dataTable.doSort}" status="dataTable_status"   reRender="dataTable"   style="color:#000000;">
		{!$ObjectType.E_ITTPF__c.fields.promiseDate__c.label}
	<apex:param name="sortfield" value="promiseDate__c" />
	<apex:param name="sortasc" value="{!IF(AND(dataTable.sortfield=='promiseDate__c', dataTable.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(dataTable.sortfield=='promiseDate__c', dataTable.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(dataTable.sortfield=='promiseDate__c', NOT(dataTable.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component36"   style="width:120px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_ITTPF__c.fields.ZBRNDNMS__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component35"     value="{!dataTable_item.record.ZBRNDNMS__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:120px;text-align:left;display:block;" >
<apex:commandLink action="{!dataTable.doSort}" status="dataTable_status"   reRender="dataTable"   style="color:#000000;">
		ファンド
	<apex:param name="sortfield" value="ZBRNDNMS__c" />
	<apex:param name="sortasc" value="{!IF(AND(dataTable.sortfield=='ZBRNDNMS__c', dataTable.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(dataTable.sortfield=='ZBRNDNMS__c', dataTable.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(dataTable.sortfield=='ZBRNDNMS__c', NOT(dataTable.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component13"   style="width:120px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_ITTPF__c.fields.ZMFTRAND__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component12"     value="{!dataTable_item.record.ZMFTRAND__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:120px;text-align:left;display:block;" >
<apex:commandLink action="{!dataTable.doSort}" status="dataTable_status"   reRender="dataTable"   style="color:#000000;">
		{!$ObjectType.E_ITTPF__c.fields.ZMFTRAND__c.label}
	<apex:param name="sortfield" value="ZMFTRAND__c" />
	<apex:param name="sortasc" value="{!IF(AND(dataTable.sortfield=='ZMFTRAND__c', dataTable.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(dataTable.sortfield=='ZMFTRAND__c', dataTable.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(dataTable.sortfield=='ZMFTRAND__c', NOT(dataTable.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component15"   style="width:80px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_ITTPF__c.fields.ZQUANT__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component14"     value="{!dataTable_item.record.ZQUANT__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:80px;text-align:left;display:block;" >
<apex:commandLink action="{!dataTable.doSort}" status="dataTable_status"   reRender="dataTable"   style="color:#000000;">
		{!$ObjectType.E_ITTPF__c.fields.ZQUANT__c.label}
	<apex:param name="sortfield" value="ZQUANT__c" />
	<apex:param name="sortasc" value="{!IF(AND(dataTable.sortfield=='ZQUANT__c', dataTable.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(dataTable.sortfield=='ZQUANT__c', dataTable.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(dataTable.sortfield=='ZQUANT__c', NOT(dataTable.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component17"   style="width:100px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_ITTPF__c.fields.ZPRMUNTY__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component16"     value="{!dataTable_item.record.ZPRMUNTY__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:100px;text-align:left;display:block;" >
<apex:commandLink action="{!dataTable.doSort}" status="dataTable_status"   reRender="dataTable"   style="color:#000000;">
		単価(円)
	<apex:param name="sortfield" value="ZPRMUNTY__c" />
	<apex:param name="sortasc" value="{!IF(AND(dataTable.sortfield=='ZPRMUNTY__c', dataTable.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(dataTable.sortfield=='ZPRMUNTY__c', dataTable.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(dataTable.sortfield=='ZPRMUNTY__c', NOT(dataTable.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component19"   style="width:110px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_ITTPF__c.fields.ZTRDPRCY__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component18"     value="{!dataTable_item.record.ZTRDPRCY__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:110px;text-align:left;display:block;" >
<apex:commandLink action="{!dataTable.doSort}" status="dataTable_status"   reRender="dataTable"   style="color:#000000;">
		約定金額(円)
	<apex:param name="sortfield" value="ZTRDPRCY__c" />
	<apex:param name="sortasc" value="{!IF(AND(dataTable.sortfield=='ZTRDPRCY__c', dataTable.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(dataTable.sortfield=='ZTRDPRCY__c', dataTable.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(dataTable.sortfield=='ZTRDPRCY__c', NOT(dataTable.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component21"   style="width:120px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_ITTPF__c.fields.ZBLNCTXY__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component20"     value="{!dataTable_item.record.ZBLNCTXY__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:120px;text-align:left;display:block;" >
<apex:commandLink action="{!dataTable.doSort}" status="dataTable_status"   reRender="dataTable"   style="color:#000000;">
		支払／受取金額(円)
	<apex:param name="sortfield" value="ZBLNCTXY__c" />
	<apex:param name="sortasc" value="{!IF(AND(dataTable.sortfield=='ZBLNCTXY__c', dataTable.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(dataTable.sortfield=='ZBLNCTXY__c', dataTable.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(dataTable.sortfield=='ZBLNCTXY__c', NOT(dataTable.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column></apex:dataTable>
<script type="text/javascript">
    jQuery("[id$='dataTable_table'] > tbody > tr:even").addClass('even');
    jQuery("[id$='dataTable_table'] > tbody > tr:odd").addClass('odd');
</script></apex:outputPanel><script>
ObscureUnusedCondition();
</script><apex:inputTextArea id="dataTable_hiddenValue" value="{!dataTable.hiddenValue}" style="display:none;" rendered="{!$ObjectType.E_ITTPF__c.createable}"></apex:inputTextArea>
<apex:commandButton id="dataTable_importByJSON" action="{!dataTable.importByJSON}" style="display:none;" reRender="dataTable" rendered="{!$ObjectType.E_ITTPF__c.createable}" />
<script type="text/javascript">
jQuery(document).ready(function () {
  if (typeof aggregateCalc_all === 'function') {
    aggregateCalc_all('dataTable');
  }
});

if(SkyEditor.disableDetailPanel()){
	jQuery('[id$=dataTable]').find('.SVE_DetailPanelBtn').remove();
}
</script>
	</apex:actionRegion>
</apex:outputPanel>
</apex:outputPanel>
</apex:pageBlock>
</apex:outputPanel></apex:form><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>