<apex:page standardController="E_Policy__c"  extensions="E_PortfolioController"   action="{!extender.pageAction}"   applyBodyTag="{!p_applyHtmlTag}"   applyHtmlTag="{!p_applyHtmlTag}"   cache="{!p_cache}"   contentType="{!p_contentType}"   docType="{!p_docType}"   expires="{!p_expires}"   language="{!p_language}"   renderAs="{!renderAs}"   rendered="{!p_rendered}"   setup="{!p_setup}"   showChat="{!p_showChat}"   showHeader="{!p_showHeader}"   sidebar="{!p_sidebar}"   standardStylesheets="false"   title="{!Extender.pageTitle}"   wizard="{!p_wizard}" >
<head>
<link href="{!URLFOR($Resource.nnlink, '/icon/favicon.ico')}" rel="shortcut icon" type="image/icon" />
<link rel="icon" type="image/png" href="{!URLFOR($Resource.nnlink, '/icon/favicon.ico')}" />
<script src="/soap/ajax/31.0/connection.js"></script>
<script src="/soap/ajax/31.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "E_Policy__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


<style>
{!HTMLENCODE(pdfStyleString)}
</style><!--[if IE 9 ]> 
<style>
.dataTableSet {margin-bottom:auto;}
</style><![endif]-->  <title>{!Extender.pageTitle}</title> </head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.layout.min.js')}" />
<script type="text/javascript">

</script>
<script type="text/javascript" import="true">

</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:outputPanel style="position:relative;" >
</apex:outputPanel><apex:form id="sve_form1"   styleClass="sve_form1"   >
<apex:outputPanel id="nlinkstrap_Wrapper">
<apex:outputPanel >
<table   border="1"   cellpadding="3"   cellspacing="0"   class="nlinkstrap"   columnCount="3"   columnsWidth="152,400,405"   id="nlinkstrap"   rowsHeight="131,108,1473,23"   style="width:957px;border-collapse:collapse;border:1px solid #CCCCCC;">
<tr  >
<td   class="nlinkLogo"   colspan="3"   id="nlinkLogo"   rowspan="1"   style="width:955px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component2170_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2170" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_LogoHeader id="Component2170" 
welcome="{!Extender.Welcome}" 
showClose="false" 
showBack="false" 
isIRIS="{!Extender.iris.isIRIS}" 
isHideMenu="" 
/>
</apex:outputPanel></td></tr><tr  >
<td   class="nlinkMenu"   colspan="1"   id="nlinkMenu"   rowspan="2"   style="width:150px;text-align:left;vertical-align:top;border:1px solid #CCCCCC;">
<apex:outputPanel id="Component812_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component812" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_Menu id="Component812" 
menuItemNo="search_customer,inquiry_contract" 
hideMenu="" 
isIRIS="{!Extender.iris.isIRIS}" 
/>
</apex:outputPanel></td><td   class="nlinkHeader"   colspan="2"   id="nlinkHeader"   rowspan="1"   style="width:803px;text-align:center;vertical-align:top;border:1px solid #CCCCCC;">
<apex:outputPanel id="nlinkHeadertbl_Wrapper">
<apex:outputPanel >
<table   border="1"   cellpadding="0"   cellspacing="0"   columnCount="10"   columnsWidth="77,77,77,75,77,77,77,77,77,80"   id="nlinkHeadertbl"   rowsHeight="28,28,21"   style="width:771px;border-collapse:collapse;border:1px none #000000;">
<tr  >
<td   colspan="10"   id="Component653"   rowspan="1"   style="width:769px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="nlinkTitle_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="nlinkTitle"   styleClass="nlinkTitle"   value="ポートフォリオ"   style="color:#ee7f00;font-size:16pt;font-weight:Bold;" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="2"   id="Component673"   rowspan="1"   style="width:152px;text-align:center;vertical-align:middle;border:1px none #000000;">
&nbsp;</td><td   colspan="2"   id="Component676"   rowspan="1"   style="width:150px;text-align:center;vertical-align:middle;border:1px none #000000;">
&nbsp;</td><td   colspan="2"   id="Component1645"   rowspan="1"   style="width:152px;text-align:center;vertical-align:middle;border:1px none #000000;">
&nbsp;</td><td   colspan="2"   id="Component1646"   rowspan="1"   style="width:152px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component2190_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2190" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_OutputLink id="Component2190" 
title="表示内容の説明" 
escapeTitle="false" 
rendered="True" 
value="E_Info?menu=Help_E_Portfolio" 
target="_nnlinkhelp" 
style="" 
styleClass="btn btn-standard " 
/>
</apex:outputPanel></td><td   colspan="2"   id="Component682"   rowspan="1"   style="width:155px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component1453_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:commandLink action="{!extender.doReturn}"   id="Component1453"   immediate="false"   styleClass="btn btn-gray"   target="_self"   value="{!$Label.E_BTN_BACK}"   style="color:#000000;font-size:6pt;font-weight:Normal;" >
</apex:commandLink>
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="10"   id="Component2191"   rowspan="1"   style="width:769px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr></table>
</apex:outputPanel>
</apex:outputPanel></td></tr><tr  >
<td   class="nlinkLeft"   colspan="2"   id="nlinkLeft"   rowspan="1"   style="width:803px;text-align:left;vertical-align:top;border:1px solid #CCCCCC;">
<apex:outputPanel id="Component692_Wrapper">
<apex:outputPanel >
<table   border="1"   cellpadding="3"   cellspacing="0"   class="tblBody"   columnCount="10"   columnsWidth="77,77,77,77,96,77,77,77,77,83"   id="Component692"   rowsHeight="28,32,36,32,21,32,13,31,13,28,26,208,18,20,30,86,32,28,26,86,26,28,32,211,32,34,86,36,26,28,28,28,21,21"   style="width:795px;border-collapse:collapse;border:1px none #000000;">
<tr  >
<td   colspan="10"   id="Component1667"   rowspan="1"   style="width:793px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component939_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component939"   value="{!Extender.DataSyncDate}"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="2"   id="Component1657"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1883_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1883"   value="顧客番号"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td><td   colspan="3"   id="Component1659"   rowspan="1"   style="width:248px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1602_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1602"   value="{!IF(and(record.SPVA_ZANNSTFLG__c,record.SPVA_ZANNDSCA01__c=='変額年金'), record.Annuitant__r.E_CLTPF_CLNTNUM__c, record.Contractor__r.E_CLTPF_CLNTNUM__c)}"   style="color:#000000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</td><td   colspan="5"   id="Component1662"   rowspan="5"   style="width:389px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="2"   id="Component1647"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;background:#FFFFFF;border:1px none #000000;">
<apex:outputPanel id="Component1882_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1882"   value="{!if(record.SPVA_ZANNSTFLG__c,'年金受取人','契約者')}"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td><td   colspan="3"   id="Component1649"   rowspan="1"   style="width:248px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1603_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1603"   value="{!IF(and(record.SPVA_ZANNSTFLG__c,record.SPVA_ZANNDSCA01__c=='変額年金'), record.Annuitant__r.Name, record.Contractor__r.Name)}"   style="color:#000000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="2"   id="Component2252"   rowspan="1"   style="width:152px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputLabel escape="true"   id="Component1067"   rendered="{!$ObjectType.E_Policy__c.fields.SPVA_ZGRPLABEL__c.accessible}"   style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="販売名称" onclick="SkyEditor.touchToolTip('{!$Component.Component1067}');"/>
</td><td   colspan="3"   id="Component2254"   rowspan="1"   style="width:248px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component1643"     value="{!record.SPVA_ZGRPNAMES__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="10"   id="Component2322"   rowspan="1"   style="width:793px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   class="background-gray"   colspan="2"   id="Component2272"   rowspan="1"   style="width:152px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputLabel escape="true"   id="Component995"   rendered="{!$ObjectType.E_Policy__c.fields.SPVA_ZREVAMT01__c.accessible}"   style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="現在の積立金合計額(円)" onclick="SkyEditor.touchToolTip('{!$Component.Component995}');"/>
</td><td   class="background-gray"   colspan="2"   id="Component2274"   rowspan="1"   style="width:152px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component997"     value="{!record.SPVA_ZREVAMT01__c}" />
</apex:outputPanel>
</td><td   class="background-gray"   id="Component2276"   style="width:94px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component2176_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2176" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_OutputLink id="Component2176" 
title="グラフ表示" 
escapeTitle="false" 
rendered="{!record.SpClassification__c != 'ANNUITY'}" 
value="E_FundTransferTransition?id={!record.id}" 
target="_blank" 
style="" 
styleClass="btn-small btn-arrowLink" 
/>
</apex:outputPanel></td></tr><tr  >
<td   class="background-gray"   colspan="5"   id="Component698"   rowspan="1"   style="width:402px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   colspan="5"   id="Component2334"   rowspan="1"   style="width:389px;height:11px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   class="background-gray"   colspan="2"   id="Component1898"   rowspan="1"   style="width:152px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component920_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component920"   rendered="{!extender.isZTFRDCF}"   value="積立金の移転"   style="color:#000000;font-size:1.0em;font-weight:Bold;"   />
</apex:outputPanel>
</td><td   class="background-gray"   colspan="2"   id="Component1900"   rowspan="1"   style="width:152px;text-align:right;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component1908_Wrapper">
<apex:outputPanel rendered="{!extender.isZTFRDCF}">
<table   border="1"   cellpadding="0"   cellspacing="0"   columnCount="2"   columnsWidth="115,19"   id="Component1908"   regionRendered="{!extender.isZTFRDCF}"   rowsHeight="21"   style="width:134px;border-collapse:collapse;border:1px none #000000;">
<tr  >
<td   id="Component2309"   style="width:113px;text-align:right;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component2187_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2187" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_OutputLink id="Component2187" 
title="申込" 
escapeTitle="false" 
rendered="{!extender.isZTFRDCF}" 
value="E_FundTransferAgree?id={!record.id}&type={!Extender.isType}&origintype={!Extender.isOriginType}" 
target="" 
style="" 
styleClass="btn-small btn-standard " 
/>
</apex:outputPanel></td><td   id="Component1909"   style="width:17px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr></table>
</apex:outputPanel>
</apex:outputPanel></td><td   class="background-gray"   id="Component2297"   style="width:94px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component2188_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2188" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_OutputLink id="Component2188" 
title="ご利用方法" 
escapeTitle="false" 
rendered="{!extender.isZTFRDCF}" 
value="E_Info?menu=Help_E_FundTransfer" 
target="_nnlinkhelp" 
style="" 
styleClass="btn-small btn-standard " 
/>
</apex:outputPanel></td><td   colspan="5"   id="Component1903"   rowspan="1"   style="width:389px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component723"   rowspan="1"   style="width:793px;text-align:left;vertical-align:middle;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component941"   rowspan="1"   style="width:793px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1460_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1460"   value="{!Extender.DISCLAIMER['PRT|001']}"   style="color:#000000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</td></tr><tr  >
<td   id="Component1584"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1585"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1586"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1587"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1588"   style="width:94px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1589"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1590"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1591"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1592"   style="width:75px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td><td   id="Component1593"   style="width:81px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component962"   rowspan="1"   style="width:793px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1638_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component1638" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_PieGraphPolicy id="Component1638" 
pid="{!record.Id}" 
kind="3" 
screen="entry" 
upData="" 
recTypeName="{!record.recordType.DeveloperName}" 
/>
</apex:outputPanel></td></tr><tr  >
<td   colspan="10"   id="Component1012"   rowspan="1"   style="width:793px;height:16px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component1078"   rowspan="1"   style="width:793px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   class="tdSubTitle 				"   colspan="10"   id="Component1749"   rowspan="1"   style="width:793px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component1111_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1111"   value="各特別勘定の保有ユニット数"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="10"   id="Component2213"   rowspan="1"   style="width:793px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="dtSVFPUnitPrice_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputPanel id="dtSVFPUnitPrice"   layout="block"   styleClass="dataTableSet"   style="overflow:auto;width:550px;">
	<apex:actionRegion >
<script>SkyEditor.selectedRecords = {};</script>
<apex:outputPanel layout="block"   styleClass="tableWrapper"    >
<apex:dataTable border="0"   columnsWidth=","   id="dtSVFPUnitPrice_table"   rows="500"   styleClass="  border-cols"   value="{!dtSVFPUnitPrice.items}"   var="dtSVFPUnitPrice_item"  >
<apex:column id="Component1113"   style="width:310px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_SVCPF__c.fields.ZFUNDNAMEUNION__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Bold;" >
				<apex:outputText escape="false"   id="Component1117"   rendered="{! NOT(ISNULL(dtSVFPUnitPrice_item.record.E_SVCPF__r.ZFUNDNAMEUNION__c))}"    value="{!dtSVFPUnitPrice_item.record.E_SVCPF__r.ZFUNDNAMEUNION__c}" />
	</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:310px;text-align:center;display:block;" >
<apex:outputText value="特別勘定"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component1114"   style="width:210px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_SVFPF__c.fields.ZUTPURE2__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2125"     value="{!dtSVFPUnitPrice_item.record.ZUTPURE2__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:210px;text-align:center;display:block;" >
<apex:outputText value="保有ユニット数"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column></apex:dataTable>
<script type="text/javascript">
    jQuery("[id$='dtSVFPUnitPrice_table'] > tbody > tr:even").addClass('even');
    jQuery("[id$='dtSVFPUnitPrice_table'] > tbody > tr:odd").addClass('odd');
</script></apex:outputPanel><apex:inputTextArea id="dtSVFPUnitPrice_hiddenValue" value="{!dtSVFPUnitPrice.hiddenValue}" style="display:none;" rendered="{!$ObjectType.E_SVFPF__c.createable && $ObjectType.E_SVFPF__c.fields.E_Policy__c.createable}"></apex:inputTextArea>
<apex:commandButton id="dtSVFPUnitPrice_importByJSON" action="{!dtSVFPUnitPrice.importByJSON}" style="display:none;" reRender="dtSVFPUnitPrice" rendered="{!$ObjectType.E_SVFPF__c.createable && $ObjectType.E_SVFPF__c.fields.E_Policy__c.createable}" />
<script type="text/javascript">
jQuery(document).ready(function () {
  if (typeof aggregateCalc_all === 'function') {
    aggregateCalc_all('dtSVFPUnitPrice');
  }
});

if(SkyEditor.disableDetailPanel()){
	jQuery('[id$=dtSVFPUnitPrice]').find('.SVE_DetailPanelBtn').remove();
}
</script>
	</apex:actionRegion>
</apex:outputPanel>
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="10"   id="Component1088"   rowspan="1"   style="width:793px;height:30px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   class="tdSubTitle"   colspan="4"   id="Component2233"   rowspan="1"   style="width:306px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1132_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1132"   value="現在の特別勘定ユニットプライス"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td><td   colspan="6"   id="Component2246"   rowspan="1"   style="width:485px;height:26px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component2316"   rowspan="1"   style="width:793px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component2189_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2189" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_OutputLink id="Component2189" 
title="ユニットプライスの推移" 
escapeTitle="false" 
rendered="{!NOT(extender.IsMizuhoBank)}" 
value="{!Extender.urlProductCord}" 
target="_blank" 
style="" 
styleClass="btn-small btn-arrowLink" 
/>
</apex:outputPanel></td></tr><tr  >
<td   class="noPadding"   colspan="10"   id="Component1869"   rowspan="1"   style="width:793px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="dtCurrentUnitPrice_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputPanel id="dtCurrentUnitPrice"   layout="block"   styleClass="dataTableSet"   style="overflow:auto;width:550px;">
	<apex:actionRegion >
<script>SkyEditor.selectedRecords = {};</script>
<apex:outputPanel layout="block"   styleClass="tableWrapper"    >
<apex:dataTable border="0"   columnsWidth=","   id="dtCurrentUnitPrice_table"   rows="500"   styleClass="  border-cols"   value="{!dtCurrentUnitPrice.items}"   var="dtCurrentUnitPrice_item"  >
<apex:column id="Component1630"   style="width:310px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_SVFPF__c.fields.ZEFUNDCD__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Bold;" >
				<apex:outputText escape="false"   id="Component1637"    value="{!dtCurrentUnitPrice_item.record.ZEFUNDCD__c}" />
	</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:310px;text-align:center;display:block;" >
<apex:outputText value="特別勘定"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component1631"   style="width:210px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_SVFPF__c.fields.unitPriceDecimal__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2130"     value="{!dtCurrentUnitPrice_item.record.unitPriceDecimal__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:210px;text-align:center;display:block;" >
<apex:outputText value="ユニットプライス"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column></apex:dataTable>
<script type="text/javascript">
    jQuery("[id$='dtCurrentUnitPrice_table'] > tbody > tr:even").addClass('even');
    jQuery("[id$='dtCurrentUnitPrice_table'] > tbody > tr:odd").addClass('odd');
</script></apex:outputPanel><apex:inputTextArea id="dtCurrentUnitPrice_hiddenValue" value="{!dtCurrentUnitPrice.hiddenValue}" style="display:none;" rendered="{!$ObjectType.E_SVFPF__c.createable && $ObjectType.E_SVFPF__c.fields.E_Policy__c.createable}"></apex:inputTextArea>
<apex:commandButton id="dtCurrentUnitPrice_importByJSON" action="{!dtCurrentUnitPrice.importByJSON}" style="display:none;" reRender="dtCurrentUnitPrice" rendered="{!$ObjectType.E_SVFPF__c.createable && $ObjectType.E_SVFPF__c.fields.E_Policy__c.createable}" />
<script type="text/javascript">
jQuery(document).ready(function () {
  if (typeof aggregateCalc_all === 'function') {
    aggregateCalc_all('dtCurrentUnitPrice');
  }
});

if(SkyEditor.disableDetailPanel()){
	jQuery('[id$=dtCurrentUnitPrice]').find('.SVE_DetailPanelBtn').remove();
}
</script>
	</apex:actionRegion>
</apex:outputPanel>
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="10"   id="Component708"   rowspan="1"   style="width:793px;text-align:left;vertical-align:middle;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component1149"   rowspan="1"   style="width:793px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1462_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1462"   value="{!Extender.DISCLAIMER['PRT|002']}"   style="color:#000000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="10"   id="Component2001"   rowspan="1"   style="width:793px;height:30px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   class="noPadding"   colspan="10"   id="Component2011"   rowspan="1"   style="width:793px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1999_Wrapper">
<apex:outputPanel rendered="{!record.SPVA_ZRICONTDCF__c}">
<table   border="1"   cellpadding="0"   cellspacing="0"   class="noPadding"   columnCount="6"   columnsWidth="112,142,112,142,112,142"   id="Component1999"   regionRendered="{!record.SPVA_ZRICONTDCF__c}"   rowsHeight="22,21,27,26,26,26,26,27"   style="width:762px;border-collapse:collapse;border:1px none #000000;">
<tr  >
<td   class="tdSubTitle"   colspan="6"   id="Component2205"   rowspan="1"   style="width:760px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1271_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1271"   rendered="{!record.SPVA_ZRICONTDCF__c}"   value="定額増額の詳細"   style="color:#000000;font-size:1.0em;font-weight:Bold;"   />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="6"   id="Component2303"   rowspan="1"   style="width:760px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   class="border-bottom-orange"   colspan="1"   id="Component2209"   rowspan="1"   style="width:110px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component2311_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component2311"   value="月"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td><td   class="border-bottom-orange border-left-gray"   id="Component2298"   style="width:140px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component2310_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component2310"   value="定額増額(円)"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td><td   class="border-bottom-orange border-left-gray"   colspan="1"   id="Component2299"   rowspan="1"   style="width:110px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component2326_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component2326"   value="月"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td><td   class="border-bottom-orange border-left-gray"   id="Component2323"   style="width:140px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component2327_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component2327"   value="定額増額(円)"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td><td   class="border-bottom-orange border-left-gray"   id="Component2324"   style="width:110px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component2328_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component2328"   value="月"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td><td   class="border-bottom-orange border-left-gray"   id="Component2325"   style="width:140px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component2329_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component2329"   value="定額増額(円)"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td></tr><tr  >
<td   class="border-bottom-gray"   id="Component2026"   style="width:110px;height:24px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component1982_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1982"   rendered="{!record.SPVA_ZRICONTDCF__c}"   value="　01月"   style="color:#000000;font-size:1.0em;font-weight:Bold;"   />
</apex:outputPanel>
</td><td   class="border-bottom-gray border-left-gray"   id="Component2027"   style="width:140px;height:24px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2077"     value="{!record.SPVA_SINSTAMT01__c}" />
</apex:outputPanel>
</td><td   class="border-bottom-gray border-left-gray"   id="Component2028"   style="width:110px;height:24px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component1986_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1986"   rendered="{!record.SPVA_ZRICONTDCF__c}"   value="　05月"   style="color:#000000;font-size:1.0em;font-weight:Bold;"   />
</apex:outputPanel>
</td><td   class="border-bottom-gray border-left-gray"   id="Component2283"   style="width:140px;height:24px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2089"     value="{!record.SPVA_SINSTAMT05__c}" />
</apex:outputPanel>
</td><td   class="border-bottom-gray border-left-gray"   id="Component2290"   style="width:110px;height:24px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component1990_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1990"   rendered="{!record.SPVA_ZRICONTDCF__c}"   value="　09月"   style="color:#000000;font-size:1.0em;font-weight:Bold;"   />
</apex:outputPanel>
</td><td   class="border-bottom-gray border-left-gray"   id="Component2029"   style="width:140px;height:24px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2103"     value="{!record.SPVA_SINSTAMT09__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td   class="border-bottom-gray"   id="Component2031"   style="width:110px;height:24px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component1983_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1983"   rendered="{!record.SPVA_ZRICONTDCF__c}"   value="　02月"   style="color:#000000;font-size:1.0em;font-weight:Bold;"   />
</apex:outputPanel>
</td><td   class="border-bottom-gray border-left-gray"   id="Component2032"   style="width:140px;height:24px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2080"     value="{!record.SPVA_SINSTAMT02__c}" />
</apex:outputPanel>
</td><td   class="border-bottom-gray border-left-gray"   id="Component2033"   style="width:110px;height:24px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component1987_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1987"   rendered="{!record.SPVA_ZRICONTDCF__c}"   value="　06月"   style="color:#000000;font-size:1.0em;font-weight:Bold;"   />
</apex:outputPanel>
</td><td   class="border-bottom-gray border-left-gray"   id="Component2284"   style="width:140px;height:24px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2092"     value="{!record.SPVA_SINSTAMT06__c}" />
</apex:outputPanel>
</td><td   class="border-bottom-gray border-left-gray"   id="Component2291"   style="width:110px;height:24px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component1991_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1991"   rendered="{!record.SPVA_ZRICONTDCF__c}"   value="　10月"   style="color:#000000;font-size:1.0em;font-weight:Bold;"   />
</apex:outputPanel>
</td><td   class="border-bottom-gray border-left-gray"   id="Component2034"   style="width:140px;height:24px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2068"     value="{!record.SPVA_SINSTAMT10__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td   class="border-bottom-gray"   id="Component2036"   style="width:110px;height:24px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component1984_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1984"   rendered="{!record.SPVA_ZRICONTDCF__c}"   value="　03月"   style="color:#000000;font-size:1.0em;font-weight:Bold;"   />
</apex:outputPanel>
</td><td   class="border-bottom-gray border-left-gray"   id="Component2037"   style="width:140px;height:24px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2083"     value="{!record.SPVA_SINSTAMT03__c}" />
</apex:outputPanel>
</td><td   class="border-bottom-gray border-left-gray"   id="Component2038"   style="width:110px;height:24px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component1988_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1988"   rendered="{!record.SPVA_ZRICONTDCF__c}"   value="　07月"   style="color:#000000;font-size:1.0em;font-weight:Bold;"   />
</apex:outputPanel>
</td><td   class="border-bottom-gray border-left-gray"   id="Component2285"   style="width:140px;height:24px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2095"     value="{!record.SPVA_SINSTAMT07__c}" />
</apex:outputPanel>
</td><td   class="border-bottom-gray border-left-gray"   id="Component2292"   style="width:110px;height:24px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component1992_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1992"   rendered="{!record.SPVA_ZRICONTDCF__c}"   value="　11月"   style="color:#000000;font-size:1.0em;font-weight:Bold;"   />
</apex:outputPanel>
</td><td   class="border-bottom-gray border-left-gray"   id="Component2039"   style="width:140px;height:24px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2071"     value="{!record.SPVA_SINSTAMT11__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td   class="border-bottom-gray"   id="Component2041"   style="width:110px;height:24px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component1985_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1985"   rendered="{!record.SPVA_ZRICONTDCF__c}"   value="　04月"   style="color:#000000;font-size:1.0em;font-weight:Bold;"   />
</apex:outputPanel>
</td><td   class="border-bottom-gray border-left-gray"   id="Component2042"   style="width:140px;height:24px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2086"     value="{!record.SPVA_SINSTAMT04__c}" />
</apex:outputPanel>
</td><td   class="border-bottom-gray border-left-gray"   id="Component2043"   style="width:110px;height:24px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component1989_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1989"   rendered="{!record.SPVA_ZRICONTDCF__c}"   value="　08月"   style="color:#000000;font-size:1.0em;font-weight:Bold;"   />
</apex:outputPanel>
</td><td   class="border-bottom-gray border-left-gray"   id="Component2286"   style="width:140px;height:24px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2098"     value="{!record.SPVA_SINSTAMT08__c}" />
</apex:outputPanel>
</td><td   class="border-bottom-gray border-left-gray"   id="Component2293"   style="width:110px;height:24px;text-align:center;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel id="Component1993_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1993"   rendered="{!record.SPVA_ZRICONTDCF__c}"   value="　12月"   style="color:#000000;font-size:1.0em;font-weight:Bold;"   />
</apex:outputPanel>
</td><td   class="border-bottom-gray border-left-gray"   id="Component2044"   style="width:140px;height:24px;text-align:left;vertical-align:middle;border:1px none #000000;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component2074"     value="{!record.SPVA_SINSTAMT12__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="6"   id="Component2022"   rowspan="1"   style="width:760px;text-align:left;vertical-align:middle;border:1px none #000000;">
&nbsp;</td></tr></table>
</apex:outputPanel>
</apex:outputPanel></td></tr><tr  >
<td   colspan="10"   id="Component1139"   rowspan="1"   style="width:793px;height:30px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   class="tdSubTitle 				"   colspan="10"   id="Component1594"   rowspan="1"   style="width:793px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1338_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1338"   value="過去のポートフォリオ履歴"   style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="10"   id="Component1880"   rowspan="1"   style="width:793px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="dtPrtHsry_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputPanel id="dtPrtHsry"   layout="block"   styleClass="dataTableSet"   style="overflow:auto;width:787px;">
	<apex:actionRegion >
<script>SkyEditor.selectedRecords = {};</script>
<apex:outputPanel layout="block"   styleClass="tableWrapper"    >
<apex:dataTable border="0"   columnsWidth=",,,,,,,"   id="dtPrtHsry_table"   rows="500"   styleClass="  border-cols"   value="{!dtPrtHsry.items}"   var="dtPrtHsry_item"  >
<apex:column id="Component1407"   style="width:170px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.E_SVCPF__c.fields.ZFUNDNAMEUNION__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Bold;" >
<apex:outputField id="Component1430"   rendered="{! NOT(ISNULL(dtPrtHsry_item.record.E_SVCPF__r.ZFUNDNAMEUNION__c))}"     value="{!dtPrtHsry_item.record.E_SVCPF__r.ZFUNDNAMEUNION__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:170px;text-align:center;display:block;" >
<apex:outputText value="{!$ObjectType.E_SVCPF__c.fields.ZFUNDNAMEUNION__c.label}"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component1408"   style="width:86px;color:#000000;text-align:left;vertical-align:middle;" >
<apex:outputPanel id="Component2359_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2359" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_NumberLabel id="Component2359" 
val="{!dtPrtHsry_item.record.ZHLDPERC01__c}" 
NulltoHyphen="true" 
ZerotoHyphen="true" 
ZerotoConversion="" 
altChar="" 
isRendered="true" 
prefix="" 
suffix="" 
numformat="0.0" 
floorvalue="10" 
conversion="" 
/>
</apex:outputPanel><apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:86px;text-align:center;display:block;" >
<apex:outputText value="１ヶ月前(%)"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component1409"   style="width:85px;color:#000000;text-align:left;vertical-align:middle;" >
<apex:outputPanel id="Component2360_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2360" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_NumberLabel id="Component2360" 
val="{!dtPrtHsry_item.record.ZHLDPERC02__c}" 
NulltoHyphen="true" 
ZerotoHyphen="true" 
ZerotoConversion="" 
altChar="" 
isRendered="true" 
prefix="" 
suffix="" 
numformat="0.0" 
floorvalue="10" 
conversion="" 
/>
</apex:outputPanel><apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:85px;text-align:center;display:block;" >
<apex:outputText value="３ヶ月前(%)"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component1410"   style="width:83px;color:#000000;text-align:left;vertical-align:middle;" >
<apex:outputPanel id="Component2361_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2361" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_NumberLabel id="Component2361" 
val="{!dtPrtHsry_item.record.ZHLDPERC03__c}" 
NulltoHyphen="true" 
ZerotoHyphen="true" 
ZerotoConversion="" 
altChar="" 
isRendered="true" 
prefix="" 
suffix="" 
numformat="0.0" 
floorvalue="10" 
conversion="" 
/>
</apex:outputPanel><apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:83px;text-align:center;display:block;" >
<apex:outputText value="６ヶ月前(%)"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component1411"   style="width:80px;color:#000000;text-align:left;vertical-align:middle;" >
<apex:outputPanel id="Component2362_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2362" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_NumberLabel id="Component2362" 
val="{!dtPrtHsry_item.record.ZHLDPERC04__c}" 
NulltoHyphen="true" 
ZerotoHyphen="true" 
ZerotoConversion="" 
altChar="" 
isRendered="true" 
prefix="" 
suffix="" 
numformat="0.0" 
floorvalue="10" 
conversion="" 
/>
</apex:outputPanel><apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:80px;text-align:center;display:block;" >
<apex:outputText value="１年前(%)"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component1412"   style="width:78px;color:#000000;text-align:left;vertical-align:middle;" >
<apex:outputPanel id="Component2363_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2363" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_NumberLabel id="Component2363" 
val="{!dtPrtHsry_item.record.ZHLDPERC05__c}" 
NulltoHyphen="true" 
ZerotoHyphen="true" 
ZerotoConversion="" 
altChar="" 
isRendered="true" 
prefix="" 
suffix="" 
numformat="0.0" 
floorvalue="10" 
conversion="" 
/>
</apex:outputPanel><apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:78px;text-align:center;display:block;" >
<apex:outputText value="２年前(%)"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component1413"   style="width:78px;color:#000000;text-align:left;vertical-align:middle;" >
<apex:outputPanel id="Component2364_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2364" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_NumberLabel id="Component2364" 
val="{!dtPrtHsry_item.record.ZHLDPERC06__c}" 
NulltoHyphen="true" 
ZerotoHyphen="true" 
ZerotoConversion="" 
altChar="" 
isRendered="true" 
prefix="" 
suffix="" 
numformat="0.0" 
floorvalue="10" 
conversion="" 
/>
</apex:outputPanel><apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:78px;text-align:center;display:block;" >
<apex:outputText value="３年前(%)"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component1414"   style="width:78px;color:#000000;text-align:left;vertical-align:middle;" >
<apex:outputPanel id="Component2365_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2365" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_NumberLabel id="Component2365" 
val="{!dtPrtHsry_item.record.ZHLDPERC10__c}" 
NulltoHyphen="true" 
ZerotoHyphen="true" 
ZerotoConversion="" 
altChar="" 
isRendered="true" 
prefix="" 
suffix="" 
numformat="0.0" 
floorvalue="10" 
conversion="" 
/>
</apex:outputPanel><apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:78px;text-align:center;display:block;" >
<apex:outputText value="{!IF(AND(record.SPVA_ZVWDCF__c=='0', record.SPVA_ZANNSTFLG__c),'年金支払開始時の指定割合(%)','申込時の指定割合(%)')}"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column></apex:dataTable>
<script type="text/javascript">
    jQuery("[id$='dtPrtHsry_table'] > tbody > tr:even").addClass('even');
    jQuery("[id$='dtPrtHsry_table'] > tbody > tr:odd").addClass('odd');
</script></apex:outputPanel><script>
var tbl = jQuery('[id$=\\:dtPrtHsry_table]');
var sumRow = jQuery('{!extender.hisSumRow.TRDom}');
tbl.children('tbody').append(sumRow);
</script><apex:inputTextArea id="dtPrtHsry_hiddenValue" value="{!dtPrtHsry.hiddenValue}" style="display:none;" rendered="{!$ObjectType.E_SVPPF__c.createable && $ObjectType.E_SVPPF__c.fields.E_Policy__c.createable}"></apex:inputTextArea>
<apex:commandButton id="dtPrtHsry_importByJSON" action="{!dtPrtHsry.importByJSON}" style="display:none;" reRender="dtPrtHsry" rendered="{!$ObjectType.E_SVPPF__c.createable && $ObjectType.E_SVPPF__c.fields.E_Policy__c.createable}" />
<script type="text/javascript">
jQuery(document).ready(function () {
  if (typeof aggregateCalc_all === 'function') {
    aggregateCalc_all('dtPrtHsry');
  }
});

if(SkyEditor.disableDetailPanel()){
	jQuery('[id$=dtPrtHsry]').find('.SVE_DetailPanelBtn').remove();
}
</script>
	</apex:actionRegion>
</apex:outputPanel>
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="10"   id="Component1870"   rowspan="1"   style="width:793px;text-align:left;vertical-align:middle;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component2141"   rowspan="1"   style="width:793px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component1464"   rowspan="1"   style="width:793px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1474_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1474"   value="{!Extender.DISCLAIMER['PRT|003']}"   style="color:#000000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</td></tr><tr  >
<td   colspan="10"   id="Component1283"   rowspan="1"   style="width:793px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr><tr  >
<td   colspan="10"   id="Component1485"   rowspan="2"   style="width:793px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component1495_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false"   id="Component1495"   value="{!Extender.DISCLAIMER['PRT|004']}"   style="color:#000000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</td></tr><tr  >
</tr><tr  >
<td   colspan="10"   id="Component1595"   rowspan="1"   style="width:793px;text-align:left;vertical-align:top;border:1px none #000000;">
&nbsp;</td></tr></table>
</apex:outputPanel>
</apex:outputPanel></td></tr><tr  >
<td   colspan="3"   id="Component2171"   rowspan="1"   style="width:955px;text-align:left;vertical-align:top;border:1px none #000000;">
<apex:outputPanel id="Component2174_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component2174" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_Footer id="Component2174" 
isIRIS="{!Extender.iris.isIRIS}" 
/>
</apex:outputPanel></td></tr></table>
</apex:outputPanel>
</apex:outputPanel></apex:form><apex:outputPanel style="position:relative;" >
</apex:outputPanel><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>