<apex:page controller="E_ReissuePasswordController" showHeader="false" sidebar="false" standardStyleSheets="false" title="{!PageTitle}" action="{!pageAction_Comp}" cache="false" >
	<apex:composition template="E_SiteTemplate">
		<apex:define name="nlinkSite">
			<!-- ページタイトル -->
			<c:E_SiteContainer type="col-md-12">
				<apex:outputText escape="false" id="nlinkTitle" styleClass="nlinkTitle" value="パスワードリセット送信完了"/>
			</c:E_SiteContainer>
			<c:E_SiteContainer type="col-md-12">
				<c:E_PageMessages Messages="{!pageMessages}" Severity="ERROR" Instruction="" />
			</c:E_SiteContainer>
			<c:E_SiteContainer type="col-md-12"> 
				<apex:form forceSSL="true" style="max-width:800px;margin:1em auto 1em auto;">
					<apex:outputPanel layout="block" styleClass="row">
						<apex:outputText value="{!DISCLAIMER['LPR|001']}" escape="false" />
					</apex:outputPanel>
					<apex:outputPanel layout="block" styleClass="row" style="margin-top:1em;">
						<c:E_SiteContainer type="col-md-4">
						</c:E_SiteContainer>
						<c:E_SiteContainer type="col-md-2" >
							<apex:commandLink value="戻る" action="{!doBack}" styleClass="btn btn-standard" />
						</c:E_SiteContainer>
					</apex:outputPanel>
				</apex:form>
			</c:E_SiteContainer>
		</apex:define>
	</apex:composition>
</apex:page>