<apex:page controller="E_SameCltNumContactController" title="同一顧客番号の顧客/募集人一覧" action="{!init}" showHeader="true" sidebar="true" standardStylesheets="true" docType="html-5.0" tabStyle="Contact" readOnly="true">
		<apex:pageBlock title="同一顧客番号の顧客/募集人一覧">
			<apex:form >
				<apex:pageBlockSection title="顧客/募集人一覧" columns="1">
					<apex:pageBlockTable value="{!contactList}" var="contact" rendered="{!contactList.size != null}">
						<apex:column headerValue="NO" >
							<apex:outputText value="{!contact.rowNum}"/>
						</apex:column>
						<apex:column headerValue="顧客/募集人名" >
							<apex:outputLink value="/{!contact.contactId}" target="_blank">
								<apex:outputText value="{!contact.contactName}"/>
							</apex:outputLink>
						</apex:column>
						<apex:column headerValue="分類" >
							<apex:outputText value="{!contact.recordTypeName}"/>
						</apex:column>
						<apex:column headerValue="顧客番号" >
							<apex:outputText value="{!contact.e_CLTPF_CLNTNUM}"/>
						</apex:column>
						<apex:column headerValue="募集人顧客コード" >
							<apex:outputText value="{!contact.e_CL3PF_CLNTNUM}"/>
						</apex:column>
						<apex:column headerValue="募集人コード" >
							<apex:outputText value="{!contact.e_CL3PF_AGNTNUM}"/>
						</apex:column>
						<apex:column headerValue="募集人フラグ" >
							<apex:image value="/img/checkbox_{!IF(contact.e_IsAgent, '', 'un')}checked.gif" title="{!IF(contact.e_IsAgent, 'Checked', 'Not Checked')}" />
						</apex:column>
						<apex:column headerValue="作成日" >
							<apex:outputText value="{0,date,yyyy/MM/dd}">
								<apex:param value="{!contact.createdDate}"/>
							</apex:outputText>
						</apex:column>
						<apex:column headerValue="EIDC" >
							<apex:outputLink value="/{!contact.eidcId}" target="_blank">
								<apex:outputText value="{!contact.eidcName}"/>
							</apex:outputLink>
						</apex:column>
						<apex:column headerValue="ZWEBID" >
							<apex:outputText value="{!contact.e_ZWEBID}"/>
						</apex:column>
						<apex:column headerValue="ID種別" >
							<apex:outputText value="{!contact.zIDTYPE}"/>
						</apex:column>
						<apex:column headerValue="Salesforceユーザ" >
							<apex:outputLink value="/{!contact.userId}" target="_blank" rendered="{!contact.userId != null}">
								<apex:outputText value="{!if(contact.isActive == true, '有効', '無効')}"/>
							</apex:outputLink>
							<apex:outputText value="無し" rendered="{!contact.userId == null}"/>
						</apex:column>
						<apex:column headerValue="関連保険契約数" >
							<apex:commandLink action="{!openPolicyDetail}" value="{!contact.policyCountAll}" id="theCommandLink" reRender="policyList" rendered="{!contact.policyCountAll != 0}">
								<apex:param value="[{!contact.contactName}]" name="policyDetailTargetContactName" assignTo="{!policyDetailTargetContactName}"/>
								<apex:param value="{!contact.contactId}" name="policyDetailTargetContactId" assignTo="{!policyDetailTargetContactId}"/>
								<apex:param value="NO.{!contact.rowNum} " name="selectedContactRowNum" assignTo="{!selectedContactRowNum}"/>
							</apex:commandLink>
							<apex:outputText value="{!contact.policyCountAll}" rendered="{!contact.policyCountAll == 0}"/>
						</apex:column>
					</apex:pageBlockTable>
				</apex:pageBlockSection>

				<apex:pageBlockSection title="{!selectedContactRowNum}{!policyDetailTargetContactName}　関連保険契約証券一覧　※参照権のあるレコードのみ表示" id="policyList" columns="1">
					<!-- 証券一覧 polDetailWrapListがNullの時は非表示-->
					<apex:pageBlockTable value="{!polDetailWrapList}" var="polDetailWrap" rendered="{!polDetailWrapList.size != null}">
						<apex:column headerValue="証券番号" >
							<apex:outputLink value="{!polDetailWrap.chdrNumLink}" target="_blank">
								<apex:outputText value="{!polDetailWrap.policyDetail.COMM_CHDRNUM__c}"/>
							</apex:outputLink>
						</apex:column>
						<apex:column headerValue="証券種類" >
							<apex:outputText value="{!polDetailWrap.policyDetail.RecordType.Name}"/>
						</apex:column>
						<apex:column headerValue="現在の状況コード" >
							<apex:outputText value="{!polDetailWrap.policyDetail.COMM_STATCODE__c}"/>
						</apex:column>
						<apex:column headerValue="契約日" >
							<apex:outputText value="{!polDetailWrap.policyDetail.COMM_OCCDATE_yyyyMMdd__c}"/>
						</apex:column>
						<apex:column headerValue="契約者" >
							<apex:outputLink value="/{!polDetailWrap.policyDetail.Contractor__c}" target="_blank">
								<apex:outputText value="{!polDetailWrap.policyDetail.ContractorName__c}"/>
							</apex:outputLink>
						</apex:column>
						<apex:column headerValue="被保険者" >
							<apex:outputLink value="/{!polDetailWrap.policyDetail.Insured__c}" target="_blank">
								<apex:outputText value="{!polDetailWrap.policyDetail.InsuredName__c}"/>
							</apex:outputLink>
						</apex:column>
						<apex:column headerValue="団体顧客" >
							<apex:outputLink value="/{!polDetailWrap.policyDetail.Corporate__c}" target="_blank">
								<apex:outputText value="{!polDetailWrap.policyDetail.CorporateName__c}"/>
							</apex:outputLink>
						</apex:column>
						<apex:column headerValue="受取人" >
							<apex:outputLink value="/{!polDetailWrap.policyDetail.Annuitant__c}" target="_blank">
								<apex:outputText value="{!polDetailWrap.policyDetail.AnnuitantName__c}"/>
							</apex:outputLink>
						</apex:column>
						<apex:column headerValue="主募集人" >
							<apex:outputLink value="/{!polDetailWrap.policyDetail.MainAgent__c}" target="_blank">
								<apex:outputText value="{!polDetailWrap.policyDetail.MainAgentName__c}"/>
							</apex:outputLink>
						</apex:column>
						<apex:column headerValue="従募集人" >
							<apex:outputLink value="/{!polDetailWrap.policyDetail.SubAgent__c}" target="_blank">
								<apex:outputText value="{!polDetailWrap.policyDetail.SubAgentName__c}"/>
							</apex:outputLink>
						</apex:column>
					</apex:pageBlockTable>
				</apex:pageBlockSection>
			</apex:form>
		</apex:pageBlock>
</apex:page>