<apex:page standardController="SC_Office__c"  extensions="SC_Search_agSVEController"  applyBodyTag="{!p_applyHtmlTag}" applyHtmlTag="{!p_applyHtmlTag}" cache="false" contentType="{!p_contentType}" docType="{!p_docType}" expires="{!p_expires}" language="{!p_language}" rendered="{!p_rendered}" setup="{!p_setup}" showChat="{!p_showChat}" showHeader="{!p_showHeader}" sidebar="{!p_sidebar}" standardStylesheets="false" title="代理店検索（代理店業務点検）" wizard="{!p_wizard}">
<head>
<script src="/soap/ajax/31.0/connection.js"></script>
<script src="/soap/ajax/31.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		LIGHT_DATATABLE_FILTER:"{!JSENCODE(Label.TableFilterPlaceholder)}",
		LIGHT_DATATABLE_DETAIL:"{!JSENCODE(Label.showDetailPage)}",
		LIGHT_DATATABLE_DELETE:"{!JSENCODE(Label.customDeleteButtonLabel)}",
		LIGHT_DATATABLE_ADD:"{!JSENCODE(Label.customAddButtonLabel)}",
		LIGHT_DATATABLE_ROWCOUNT:"{!JSENCODE(Label.rowCount)}",
		REMOTEDATAERROR:"{!JSENCODE(Label.RemoteDataError)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "SC_Office__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


<!--[if IE 9 ]> 
<style>
.dataTableSet {margin-bottom:auto;}
</style><![endif]-->  <title>代理店検索（代理店業務点検）</title> </head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/jquery.tablesorter.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/addons/pager/jquery.tablesorter.pager.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/tableSortPageingSetting.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/jquery.layout.min.js')}" />
<script type="text/javascript">
jQuery(document).ready(function(){
SkyEditor.searchConditionFromTo = getDateFieldsValue();
SkyEditor.searchConditionItem = getSearchItemsValue();
});
SkyEditor.defaultConditionObj = {"Component51":"inx","Component48":"eq","Component18":"co","Component20":"eq"};

</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:outputPanel style="position:relative;" >
</apex:outputPanel><apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/skyeditor2_searchTemplate.css')}"/>
<apex:form id="sve_form1" styleClass="sve_form1"  >
<div id="saveDialog" style="display:none;">
    <table style="font-size:small;">
        <tr><td id="saveDialogConditionNameLabel">{!Label.ConditionLabelName}</td><td><input type="text" id="conditionName" size="20" /></td></tr>
        <tr><td colspan="2" style="text-align:center;"><input type="button" id="conditionSave" value="{!Label.SaveConditionButtonSave}" /></td></tr>
    </table>
    <div class="messageBox" style="color:#CC0000; text-align:center; margin-top:10px;"><span class="mText"></span></div>
</div>
<div id="readDialog" style="display:none;">
    <table style="font-size:small;">
        <tr><td id="readDialogConditionNameLabel">{!Label.ConditionLabelName}</td><td><select id="searchConditionList" /></td><td><input type="button" id="deleteCondition" value="{!Label.ReadConditionButtonDelete}" /></td></tr>
        <tr><td colspan="3"><input type="button" id="setCondition" value="{!Label.ReadConditionSetConditions}" /></td></tr>
    </table>
    <div class="messageBox" style="color:#CC0000; text-align:center; margin-top:10px;"><span class="mText"></span></div>
</div>
<script type="text/javascript">
</script>
<apex:outputPanel id="Component1_Wrapper" styleClass="">
<apex:pageBlock id="Component1" mode="detail"  >
<apex:pageBlockButtons location="bottom"  >
<apex:commandButton action="{!doSearch}" id="Component41" styleClass="btn btn-standard" value="{!customSearchButtonLabel}"  style="width:66px;" /><apex:commandButton id="Component42" onclick="clearSearchConditionsForPagererender();return false;" reRender="messagesPanel" styleClass="btn btn-gray" value="{!Label.canvasClearButton}"  style="width:66px;" /><script>
jQuery('.pbBottomButtons').css('margin-top',0);
</script></apex:pageBlockButtons><apex:pageBlockSection collapsible="true" columns="1" id="Component43" title="{!customSearchSectionTitle}"  >
<apex:facet name="header"  >
<apex:outputPanel >
<apex:outputText value="{!customSearchSectionTitle}"  /></apex:outputPanel></apex:facet><apex:outputPanel id="Component44"  >
<fieldset  >
<table  border="0" cellpadding="0"  style="font-size:12px;">
<tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.SC_Office__c.fields.FiscalYear__c.accessible}" >
																				<apex:outputLabel escape="true" id="Component50"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.SC_Office__c.fields.FiscalYear__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component50}');"/>
	</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.SC_Office__c.fields.FiscalYear__c.accessible}" >
		<apex:selectList id="Component51_operator" value="{!Component51_op.value}" size="1" styleClass="operatorSelect operatorDisplayNone ">
			<apex:selectOptions value="{!operatorOptions_SC_Office_c_FiscalYear_c_multi}" />
		</apex:selectList>
		<apex:selectList id="Component51" value="{!Component51_val.SkyEditor2__Text__c}" size="1" styleClass="conditionItem"   style="width:107px;color:#000000;font-size:1.0em;">
			<apex:selectOptions value="{!valueOptions_SC_Office_c_FiscalYear_c_multi}"/>
		</apex:selectList>
		<apex:inputHidden value="{!Component51_val_dummy.SkyEditor2__Text__c}" id="Component51_Hidden"/>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component51}";
				inputSearchItemMultiSelect(id);
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td  colspan="2" >
</td><td  colspan="2" >
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.SC_Office__c.fields.ZEAYNAM__c.accessible}" >
																			<apex:outputLabel escape="true" id="Component17"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.SC_Office__c.fields.ZEAYNAM__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component17}');"/>
	</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.SC_Office__c.fields.ZEAYNAM__c.accessible}" >
		<apex:selectList id="Component18_operator" value="{!Component18_op.value}" size="1" styleClass="operatorSelect operatorDisplayNone ">
			<apex:selectOptions value="{!operatorOptions_SC_Office_c_ZEAYNAM_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component18" value="{!Component18_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"   style="width:107px;height:20px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component18}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.SC_Office__c.fields.ZAGCYNUM__c.accessible}" >
																			<apex:outputLabel escape="true" id="Component19"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.SC_Office__c.fields.ZAGCYNUM__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component19}');"/>
	</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.SC_Office__c.fields.ZAGCYNUM__c.accessible}" >
		<apex:selectList id="Component20_operator" value="{!Component20_op.value}" size="1" styleClass="operatorSelect operatorDisplayNone ">
			<apex:selectOptions value="{!operatorOptions_SC_Office_c_ZAGCYNUM_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component20" value="{!Component20_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"   style="width:107px;height:20px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component20}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.SC_Office__c.fields.IsActiveOffice__c.accessible}" >
																	<apex:outputLabel escape="true" id="Component47"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="閉鎖事務所を非表示" onclick="SkyEditor.touchToolTip('{!$Component.Component47}');"/>
	</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.SC_Office__c.fields.IsActiveOffice__c.accessible}" >
		<apex:selectList id="Component48_operator" value="{!Component48_op.value}" size="1" styleClass="operatorSelect operatorDisplayNone ">
			<apex:selectOptions value="{!operatorOptions_SC_Office_c_IsActiveOffice_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component48" value="{!Component48_val.SkyEditor2__Checkbox__c}" required="false" styleClass="conditionItem"   style="color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component48}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr></table></fieldset></apex:outputPanel></apex:pageBlockSection>
</apex:pageBlock>
</apex:outputPanel></apex:form><apex:form id="sve_form2" styleClass="sve_form2"  >
<apex:outputPanel id="Component2_Wrapper" styleClass="">
<apex:pageBlock id="Component2" mode="detail" title=" "  >
<apex:pageBlockButtons location="top"  >
</apex:pageBlockButtons><apex:outputPanel id="resultTable_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputPanel id="resultTable" layout="block" styleClass="dataTableSet"  style="overflow:auto;width:100%;">
	<apex:actionRegion >
<script>SkyEditor.selectedRecords = {};</script>
<table  class="tableOperator" id="resultTable_header" >
<tr  >
<td  >
<apex:outputPanel style="margin-left:20px;"  >
<apex:outputText value="{!rowCount}"  /><apex:outputText styleClass="recordCounter" value="{!IF(resultTable.items.size >=500, (rowCountPrefix & ' ' & TEXT(resultTable.items.size) & ' ' & rowCountSuffix), (':' & TEXT(resultTable.items.size)))}"  /></apex:outputPanel></td><td  >
<apex:outputPanel >
<apex:variable var="tableMessage1" value="検索結果が500件以上あります。条件を絞ってください。"/>
<apex:variable var="tableMessage2" value=""/>
<apex:variable var="tableMessage3" value=""/>
<apex:outputText id="resultTable_msg" style="{!IF(resultTable.items.size>=500,'color:#e64415;font-weight:bold;font-size:1.0em;','color:#000000;font-weight:normal;font-size:1.0em;')}" value="{!IF(resultTable.items.size>=500,tableMessage1,tableMessage3)}"/></apex:outputPanel></td></tr></table><apex:outputPanel layout="block" styleClass="tableWrapper"   >
<apex:dataTable columnsWidth=",,," id="resultTable_table" onRowMouseOut="skyeditorRowOut(this)" onRowMouseOver="skyeditorRowOver(this)" rows="500" styleClass="greyTableStyle" value="{!resultTable.items}" var="resultTable_item" >
<apex:column id="Component24"  style="width:39px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.SC_Office__c.fields.ToView__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component23"    value="{!resultTable_item.record.ToView__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="width:39px;text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.SC_Office__c.fields.ToView__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component28"  style="width:39px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.SC_Office__c.fields.FiscalYear__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component27"    value="{!resultTable_item.record.FiscalYear__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="width:39px;text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.SC_Office__c.fields.FiscalYear__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component34"  style="width:427px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.SC_Office__c.fields.ZEAYNAM__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component33"    value="{!resultTable_item.record.ZEAYNAM__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="width:427px;text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.SC_Office__c.fields.ZEAYNAM__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component36"  style="width:85px;color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.SC_Office__c.fields.ZAGCYNUM__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component35"    value="{!resultTable_item.record.ZAGCYNUM__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="width:85px;text-align:left;display:block;" >
<apex:outputText value="事務所コード"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column></apex:dataTable>

<script type="text/javascript">
(function () {
if(jQuery("table[id$='resultTable_table'] tbody tr").length > 0){
	var table, sortOptions, toolbox, filterOptions, pager, pagerOptions;
	table = document.getElementById("resultTable_table") || document.getElementById("{!$Component.resultTable_table}");
	sortOptions = {headers: { 0:{sorter: "text"}, 1:{sorter: "text"}, 2:{sorter: "text"}, 3:{sorter: "text"}}};
	filterOptions = {inlineFilter: {}};
	SkyEditor.TableSorter.initialize(table, {
		rowsPerRecord: 1,
		sort: sortOptions,
		filter: filterOptions,
		pager: pagerOptions
	});
}
})();
</script>
</apex:outputPanel><script>
ObscureUnusedCondition();
</script><apex:inputTextArea id="resultTable_hiddenValue" value="{!resultTable.hiddenValue}" style="display:none;" rendered="{!$ObjectType.SC_Office__c.createable}"></apex:inputTextArea>
<apex:commandButton id="resultTable_importByJSON" action="{!resultTable.importByJSON}" style="display:none;" reRender="resultTable" rendered="{!$ObjectType.SC_Office__c.createable}" />
<script type="text/javascript">
jQuery(document).ready(function () {
  if (typeof aggregateCalc_all === 'function') {
    aggregateCalc_all('resultTable');
  }
});

if(SkyEditor.disableDetailPanel()){
	jQuery('[id$=resultTable]').find('.SVE_DetailPanelBtn').remove();
}
</script>
	</apex:actionRegion>
</apex:outputPanel>
</apex:outputPanel>
</apex:pageBlock>
</apex:outputPanel></apex:form><apex:outputPanel style="position:relative;" >
</apex:outputPanel><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>