<apex:page controller="SC_SearchWrapController" action="{!pageAction}" showHeader="false" sidebar="false" standardStyleSheets="false" cache="false" >
	<style>
		.fieldwrapper a {
			background-repeat:no-repeat;
			background-position:left;
			background-size:auto 1em;
			background-image:url({!URLFOR($Resource.nnlink, '/pict/NN-pictogram_Arrow_diap_rgb_0072dpi.png')});
			padding-left:1em;
		}
		
		.searchDateFieldItems {
			width:7em !important;
		}	
		.mailinp {
		  position: relative;
		  padding: 10px;
		}
		.btn {
			cursor: pointer;
		  border: 1px solid #ee7f00;
		  background-color: #FFF;
		  border-radius: 2rem;
		  color: #ee7f00;
		  display: inline-block;
		  padding: 7px 20px;
		  margin: 5px 4px;
		}
		.btn-covered {
		  background-color: #ee7f00;
		  color: #FFF;
		}
		.cancel-btn {
		  border: 1px solid #A1A1A1;
		  background-color: #A1A1A1;
		  border-radius: 2rem;
		  color: #FFF;
		  display: inline-block;
		  padding: 7px 20px;
		  margin: 5px 4px;
		}
		.btn-size {
		  width: 180px;
		  height: 40px;
		}
	</style>

	<script type="text/javascript">

		(function ($) {
			'use strict';

			/* bootstrap の modal を実装する */
			$.fn.modal = $.fn.modal || (function (dialog) {
				return function(method) {
					if (method == null) method = 'show';
					if (typeof dialog[method] === 'function') {
						dialog[method](this);
					}
					return this;
				}
			})(new Dialog());

			/* 選択されたIDをControllerにセット */
			window.setInfo = function setInfo(ids, tempdevname){
				$('input[id$=hideids]').val(ids);
				$('input[id$=templatename]').val(tempdevname);
			}
			
			/*  */
			window.compSetTemplete = function compSetTemplete(){
				$('[id$=isubject]').prop('disabled', false);
				$('[id$=body]').prop('disabled', false);
				$('#confirmbtn').show();
				$('#sendbtn').hide();
				$('#sendedmode').hide();
				$('#editmode').show();
				$('#editmailModal').modal();
			}

			/* 送信確認ボタン押下後 */
			window.comirmSend = function comirmSend(){
				$('#confirmbtn').hide();
				$('#sendbtn').show();
				$('[id$=isubject]').prop('disabled', true);
				$('[id$=body]').prop('disabled', true);
			}
			
			/* 送信ボタン押下後 */
			window.compSend = function compSend(){
				$('#editmode').hide();
				$('#sendedmode').show();
			}
			
			$(function(){

				// テーブルメッセージ追加
				var $table = $('.greyTableStyle');
				var rows = $table.find('tbody tr');
				if (rows.length > 0 && $('input[id$=hideiscmd]').val() == 'true') {
					$('.tableWrapper').prepend('<p style="margin-bottom: 0px; padding-top: 5px; padding-left: 20px;"><b>チェックしたMR/代理店へリマインドメール送信ができます。</b></p>');
					$('.pbButton').prepend('<p style="margin-bottom: 0px; padding-top: 5px;"><b>＜リマインド送信＞</b></p>');
					 
				} else if($('input[id$=hideiscmd]').val() == 'false') {
					$table.find('input[type="checkbox"]').hide();
				}
				
				$('[id$=resultTable_msg]').css('padding-left',10);
				
				
				$.each($(".greyTableStyle tbody tr"), function() {
					// ステータス取得
					var s = $("td", this).eq(2).text();
					if(s == "2017" || s == "2016"){
						$("td", this).eq(0).find('input[type="checkbox"]').hide();
					}
				});  
		
				$('#openModalBtn').click( function () {
					// メールテンプレート情報セット
					settemplete();
				});
		
			});

			/* Dialog クラス*/
			function Dialog() {
				var $page = $(document.body);
				$page.on('click', function(e) {
					var $target = $(e.target);
					var $dismissable = $target.closest('[data-dismiss="modal"]');
					if ($dismissable[0]) {
						var $panel = $dismissable.closest('.modal');
						$panel.modal('hide');
					}
				});
			};
			Dialog.prototype.show = (function show($target) {
				$target.dialog({
					width: 820,
					height: 520,
					modal: true
				});
			});
			Dialog.prototype.hide = (function hide($target) {
				$target.dialog('destroy');
			});

		// nnlink 上で jquery の version 違いを吸収する
		})($ || jQuery);
	</script>

	<apex:form id="form">
		<!-- Ids -->
		<apex:inputHidden id="hideids" value="{!selectedIds}"/>
		<apex:inputHidden id="templatename" value="{!templateDevName}"/>
		<apex:inputHidden id="hideiscmd" value="{!isCmd}"/>
		
		<!-- Action Function -->
		<apex:actionFunction name="settemplete" action="{!setMailTemplate}" onComplete="compSetTemplete();" reRender="isubject, ibody" />
		
		<!-- モーダル呼び出しボタン -->
		<button type="button" id="openModalBtn" data-toggle="modal" style="display:none;" />
		
		<!-- モーダル・ダイアログ -->
		<div class="modal fade" id="editmailModal" tabindex="-1" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Header
					<div class="modal-header">
					</div> -->
					<!-- 送信確認、送信 -->
					<div id="editmode">
						<!-- Body -->
						<div class="modal-body">
							<div class="" style="text-align:center; padding-top:10px;">
								<apex:outputText value="件名：" style="position: relative;" />
								<apex:inputText id="isubject" styleClass="mailinp" value="{!subject}" style="width:85%;" html-placeholder=""/>
							</div>
							<div class="" style="text-align:center; padding-top:10px; ">
								<apex:inputTextarea id="ibody" styleClass="mailinp" value="{!mailBody}" html-maxlength="" style="width: 90%; height:300px;" html-placeholder=""/>
							</div>
						</div>
						<div class="modal-footer" style="text-align: center;">
							<div id="confirmbtn">
								<!-- 送信確認へ進む -->
								<button type="button" class="btn btn-covered btn-size" onClick="comirmSend();">送信確認へ進む</button>
								<!-- キャンセル -->
								<button type="button" class="cancel-btn btn-size" data-dismiss="modal">キャンセル</button>
							</div>
							<!-- 送信 -->
							<div id="sendbtn" style="display:none;">
								<apex:actionStatus id="status-for-sendmail">
									<apex:facet name="start">
										<button type="button" class="btn btn-covered btn-size" disabled="true">送信</button>
									</apex:facet>
									<apex:facet name="stop">
										<apex:commandButton id="sendmail" styleClass="btn btn-covered btn-size" action="{!doSend}" onComplete="compSend();" 
												reRender="sendmessage" status="status-for-sendmail" value="送信">
										</apex:commandButton>
									</apex:facet>
								</apex:actionStatus>
								<!-- キャンセル -->
								<button type="button" class="cancel-btn btn-size" data-dismiss="modal">キャンセル</button>
							</div>
						</div>
					</div>

					<!-- 送信後 -->
					<div id="sendedmode" style="display:none;">
						<!-- Body -->
						<div class="modal-body">
							<apex:outputText value="{!sendMsg}" id="sendmessage" escape="false" />
						</div>
						<div class="modal-footer" style="text-align: center;">
							<button type="button" class="cancel-btn btn-size" data-dismiss="modal">閉じる</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</apex:form>

	<apex:composition template="VF_TEMPLATE">
		<!--ロゴ-->
		<apex:define name="nlinkLogoHeader">
			<apex:form id="search_box_form">
				<c:E_LogoHeader welcome="{!welcome}" showClose="false" showBack="false" isIRIS="{!iris.isIRIS}" />
			</apex:form>
		</apex:define>
		<apex:define name="nlinkMenu">
			<apex:form id="nlinkMenu">
				<c:E_Menu menuItemNo="upload_selfcompliance" isIRIS="{!iris.isIRIS}" />
			</apex:form>
		</apex:define>
		<apex:define name="nlinkHeader">
			<table style="margin: 0px 0px 0px 10px;" id="formHeader">
				<tr>
					<td colspan="7">
						<apex:outputText escape="false" id="nlinkTitle" styleClass="nlinkTitle" value="{!pageTitle}"/>
					</td>
					<td colspan="3">
					</td>
				</tr>

				<tr>
					<td colspan="10" class="tdSubTitle">
						<apex:outputText escape="false" id="searchMsg" value="{!msg['AMS|SCSE|001']}"  />
					</td>
				</tr>

				<tr>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td colspan="2">
						<!--
						<apex:outputLink id="help" styleClass="btn btn-standard" value="E_Info?menu=Help_E_InveSearch" target="_blank">
							ご利用方法
						</apex:outputLink>
						-->
					</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="10">
						<c:E_PageMessages Messages="{!pageMessages}" Severity="ERROR" />
					</td>
				</tr>
				<tr>
					<!-- 幅の確保とスペース -->
					<td style="width:76px;">&nbsp;</td><td style="width:76px;"></td><td style="width:76px;"></td><td style="width:76px;"></td><td style="width:76px;"></td>
					<td style="width:76px;"></td><td style="width:76px;"></td><td style="width:76px;"></td><td style="width:76px;"></td><td style="width:76px;"></td>
				</tr>
				<tr>
					<td colspan="10" class="wrapSVE showPager">
						<apex:include pageName="E_SCSearchSVE" />
					</td>
				</tr>
			</table>
		</apex:define>
		<apex:define name="nlinkCopyright" >
			<c:E_Footer isIRIS="{!iris.isIRIS}" />
		</apex:define>
	</apex:composition>
	

</apex:page>