<apex:page controller="SC_ExportSearchController" readOnly="true" cache="{!CacheSetting}"
				contentType="application/octet-stream;charset=Windows-31J;#{!fileName}">{!DISCLAIMER['AMS|SCCSV|001']}
{!today}
{!DISCLAIMER['AMS|SCCSV|002']}
 
{!csvHeader}
	<apex:repeat value="{!csvLines}" var="ln">{!ln}</apex:repeat>
	<apex:outputText escape="false" rendered="{!showDebug}" value="{!debugStrings}"/>
</apex:page>