<apex:page showHeader="false" sidebar="false" language="ja" standardStyleSheets="false" cache="false">

<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery-1.7.2.min.js')}" />
<apex:StyleSheet value="{!URLFOR($Resource.nnlink, '/css/nlinksite.css')}" />
<apex:includeScript value="{!URLFOR($Resource.nnlink, '/js/nlinkcommon.js')}" />
<link href="{!URLFOR($Resource.nnlink, '/icon/favicon.ico')}" rel="shortcut icon" type="image/icon" />
<link rel="icon" type="image/png" href="{!URLFOR($Resource.nnlink, '/icon/favicon.ico')}" />

    <style type="text/css">
        .nlinkstrap .btn-arrowLink{
            background-repeat:no-repeat;
            background-position:left;
            background-size:auto 1em;
            background-image:url({!URLFOR($Resource.nnlink, '/pict/NN-pictogram_Arrow_diap_rgb_0072dpi.png')});
            padding-left:1em;
        }
    </style>

    <apex:outputPanel styleClass="nlinkstrap" layout="block" style="max-width:750px;margin-left:auto;margin-right:auto;">
        <c:E_SiteContainer id="nlinkLogo" type="col-md-12" styleclass="nlinkLogo">    
            <table width="100%" style="table-layout: auto;">        
                <tr>
                    <td colspan="10" align="right">
                        <apex:form >
                            <apex:commandLink onclick="CloseOrBack(true);"><!-- 閉じるリンク-->
                                 {!$Label.E_BTN_CLOSE}
                            </apex:commandLink>
                        </apex:form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <apex:image id="nnlogo" styleClass="nnlogo" value="{!$Resource.NNLogo}"/><!-- エヌエヌ生命ロゴ -->
                    </td>
                    <td align="right">
                        <apex:image value="{!$Resource.SumiseiLogo}"/><!-- 住友生命ロゴ -->    
                    </td>
                </tr>
            </table>
        </c:E_SiteContainer>
    
        <!-- Body -->
        <c:E_SiteContainer type="col-md-12" >
            <apex:insert name="nlinkSite"/>
        </c:E_SiteContainer>

        <!-- Footer -->
        <c:E_SiteContainer type="col-md-12" >
            <c:E_SiteContainer type="col-md-12" style="text-align:center;margin-top:3em;margin-bottom:1em;font-size:80%;">
                <apex:outputText value="{!$Label.E_COPYRIGHT}"/>
            </c:E_SiteContainer>
        </c:E_SiteContainer>
    </apex:outputPanel>
</apex:page>