<apex:page controller="I_AuthorityAgencyController" action="{!pageAction}"  id="page" cache="false" showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">

<c:IRIS_UIFrame pageTitle="{!menu.name}">
	<apex:outputPanel styleClass="iris-page-message" id="msg" style="{!If(pageMessages.hasMessages, '', 'display:none')}">
		<c:E_PageMessages Messages="{!pageMessages}" Severity="" Instruction="" />
	</apex:outputPanel>

<apex:form id="form" styleClass="iris-section-pane" onkeyDown="return agencySubmit( event );">

	<header class="iris-owner-list-header">
		<h1>
			<apex:outputText value="代理店一覧" />
		</h1>
		<div class="iris-split-layout iris-layout-fixed">
			<div class ="row">
				<div class ="col-lg-4 col-md-5 col-sm-12 col-xs-12 p-b-1 iris-split-right" style = "display:{!IF( IsAuthFlag , "", "none" )}">
				    <div class="iris-selectable-btns iris-layout iris-layout-fixed" tabindex="-1" data-toggle="buttons">
				        <apex:outputLabel styleClass="btn iris-sm-btn iris-layout-panel {!if(IsAuthExtract,'','active')}" value="自身担当分" onclick="{!if(IsAuthExtract,'apex_authChange()','')}" >
				            <input type="radio" name="options" value="option.value"  checked="checked"  />
				        </apex:outputLabel>
				        <apex:outputLabel styleClass="btn iris-sm-btn iris-layout-panel {!if(IsAuthExtract,'active','')} " value="拠点分" onclick="{!if(IsAuthExtract,'','apex_authChange()')}" >
				            <input type="radio" name="options" value="option.value"/>
				        </apex:outputLabel>
					</div>
					<apex:actionStatus startStyleClass="p-l-1" id="authChageStatus" layout="inline">
						<apex:facet name="start">
							<img height="34px" src="{!URLFOR($Resource.irisResources, 'images/icon-loading.gif')}" />
							<span>通信中...</span>
						</apex:facet>
					</apex:actionStatus>
				</div>
			</div>
			<div class ="row p-b-1">
				<div class="col-md-8 col-sm-12 col-xs-12 iris-split-left p-l-0">
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-r-0">
						<apex:inputText onkeypress="agencySubmit(event.code)" value="{!searchText}" styleClass="form-control iris-form-control" style="height:auto;padding:0.3rem 0.75rem" html-placeholder="代理店名または代理店コードで検索いただけます" />
						<apex:actionStatus startStyleClass="p-l-1" id="agencySearchStatus" layout="inline">
							<apex:facet name="start">
								<img height="34px" src="{!URLFOR($Resource.irisResources, 'images/icon-loading.gif')}" />
								<span>通信中...</span>
							</apex:facet>
						</apex:actionStatus>
					</div>
					<div class="col-lg-3 col-md-3 hidden-sm-down">
						<apex:commandButton action="{!searchAgency}"  styleClass="btn iris-sm-btn col-sm-12 col-xs-12" rerender="form,msg"  value="検索" status="agencySearchStatus"  />
					</div>
					<div class="col-sm-12 col-xs-12  p-t-1 p-r-0 hidden-md-up">
						<apex:commandButton action="{!searchAgency}"  styleClass="btn iris-sm-btn col-sm-12 col-xs-12" rerender="form,msg"  value="検索" status="agencySearchStatus"  />
					</div>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12" style="padding-top:0.25rem" >
					<!--件数が999件以下の場合-->
					<apex:outputText value="現在表示中の件数： {0, number, ###,###} 件" rendered="{!agencyCount <= listMaxRows}" >
						<apex:param value="{!agencyCount}"></apex:param>
					</apex:outputText>
					<!--件数が1000件以上の場合-->
					<apex:outputText value="現在表示中の件数： {0, number, ###,###} + 件" rendered="{!agencyCount > listMaxRows}" >
						<apex:param value="{!agencyCount}"></apex:param>
					</apex:outputText>
				</div>
			</div>
		</div>
	</header>

	<div>
		<div class="d-inline-block container-flued hidden-lg-up col-sm-12 col-xs-12" >
			<div class="form-group">
				<apex:selectList value="{!sortType}" readOnly="true" styleClass="custom-select iris-custom-select" multiselect="false" size="1" onchange="apex_sortRow(this.value);">
					<apex:selectOption itemValue="agency" itemLabel="代理店名" />
					<apex:selectOption itemValue="zheaday" itemLabel="代理店コード" />
					<apex:selectOption itemValue="agentaddress" itemLabel="住所"/>
				</apex:selectList>
				<button class="btn {!IF(sortIsAsc, 'btn-info', 'btn-warning')}" type="button" onclick="apex_sortRow('{!sortType}');">
					<apex:outputText value="{!IF(sortIsAsc, '昇順', '降順')}" />
				</button>
			</div>
		</div>
		<apex:actionStatus startStyleClass="p-l-1" id="sortCallStatus" layout="inline">
			<apex:facet name="start">
				<img height="34px" src="{!URLFOR($Resource.irisResources, 'images/icon-loading.gif')}" />
				<span>通信中...</span>
			</apex:facet>
		</apex:actionStatus>
	</div>

	<apex:outputPanel layout="block">
		<table id="table" class="table iris-table" data-type="iris-sortable" data-trigger=".iris-action-sort" data-function="apex_sortRow" style="word-wrap: break-word;">
			<thead>
				<tr>
					<th>
						<apex:variable var="agencyClass" value="{!IF(sortType == 'agency' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
						<a href="?st=agency" data-sort="agency" class="iris-action-sort {!agencyClass}">代理店名</a>
					</th>
					<th>
						<apex:variable var="zheadayClass" value="{!IF(sortType == 'zheaday' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
						<a href="?st=zheaday" data-sort="zheaday" class="iris-action-sort {!zheadayClass}">代理店コード</a>
					</th>
					<th>
						<apex:variable var="agentaddressClass" value="{!IF(sortType == 'agentaddress' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
						<a href="?st=agentaddress" data-sort="agentaddress" class="iris-action-sort {!agentaddressClass}">住所</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<apex:repeat value="{!agencyRows}" var="agency" rows="{!rowCount}">
				<tr>
					<td title="代理店名" style="vertical-align: middle;">
						<span class="iris-icon iris-icon-ag iris-split-left" style="padding-right: 5px;"></span>
						<!-- 取引先名 -->
						<a href="IRIS_AuthorityAgent?accid={!agency.Id}&irismn={!$CurrentPage.parameters.irismn}"><apex:outputText value="{!agency.agency}" /></a>
					</td>
					<td title="代理店コード" style="vertical-align: middle;">
						<!-- 代理店格コード -->
						<apex:outputText value="{!agency.zheaday}" />
					</td>
					<td title="住所" style="vertical-align: middle;">
						<!-- 漢字住所 -->
						<a href="http://maps.google.co.jp/maps?q={!URLENCODE(agency.address)}" target="_blank"><apex:outputText value="{!agency.address}" /></a>
					</td>
				</tr>
				</apex:repeat>
			</tbody>
		</table>
	</apex:outputPanel>

	<apex:outputPanel rendered="{!rowCount < listMaxRows && rowCount < totalRows}" >
		<div class="iris-btn-panel">
			<apex:actionStatus id="moreCallStatus" layout="inline">
				<apex:facet name="stop">
					<apex:commandbutton styleClass="btn iris-lg-btn" action="{!addRows}" value="もっと見る" rerender="form" status="moreCallStatus"/>
				</apex:facet>
				<apex:facet name="start">
					<img src="{!URLFOR($Resource.irisResources, 'images/icon-loading.gif')}" />
				</apex:facet>
			</apex:actionStatus>
		</div>
	</apex:outputPanel>

<!-- actionFunction一覧 -->
	<apex:actionFunction action="{!sortRows}" name="apex_sortRow" rerender="form" status="sortCallStatus">
		<apex:param name="st" value="" />
	</apex:actionFunction>
	<!--検索ボタン押下時 -->
	<apex:actionFunction action="{!searchAgency}" name="apex_searchAgency" rerender="form,msg" status="agencySearchStatus" />
	<!--拠点分表示 or 自身担当分表示 押下時 -->
	<apex:actionFunction action="{!authChangeAgency}" name="apex_authChange" rerender="form,msg" status="authChageStatus" />


<script>
	//Enterキーを押したときに検索を実行する処理
	function agencySubmit(e){
	    if(!e) var e = window.event;
        if(e.keyCode==13){
            if( ( e.target.type!='submit' || e.currentTarget.innerHTML == 'a' ) && e.target.innerHTML == null ){
            	console.log(  e.target.innerHTML  );
            	apex_searchAgency();
             	return false;
             }
        }
	}
</script>

</apex:form>
</c:IRIS_UIFrame>
</apex:page>