<apex:page controller="I_NoticeAGPOController" action="{!pageAction}" id="page" cache="false" showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
	
	<apex:includeScript value="{!URLFOR($Resource.irisResourceAMS, 'js/amscommon.js')}" />
	<apex:includeScript value="{!$Label.E_DL_OPROARTSJS_URL}"/>
	<style type="text/css">
		.iris .iris-card {
			box-shadow: none;
		}
	</style>

	<c:IRIS_UIFrame pageTitle="{!menu.name}" categoryStyleClass="{!menu.MainCategoryStyleClass__c}">
		<apex:form id="form" styleClass="iris-section">
		<!-- エラーメッセージがある場合は非表示　WARNINGはOK -->
			<div class="iris-page-message">
				<c:E_PageMessages Messages="{!pageMessages}" Severity="" Instruction="" />
			</div>
			<apex:outputPanel layout="block" rendered="{!NOT(pageMessages.hasErrorMessages)}">
			<!-- content region -->
			</apex:outputPanel>
			<style type="text/css">
			</style>
			<!-- Header -->
			<header class="iris-owner-list-header">
				<h1 class="iris-owner-list-title">異動通知一覧</h1>
				
				<apex:outputPanel rendered="{!NOT(hasError)}">
					<div class="iris-owner-list-summary">
						<apex:outputPanel rendered="{!isViewMRDl}">
							<div class="none">
								<a href="IRIS_MRDownload?dNo={!dlFormNo}" class="btn iris-sm-btn" style="margin-bottom: 3px;">営業部・MR毎帳票ダウンロード</a>
							</div>
						</apex:outputPanel>
						<div style="white-space: nowrap;{!IF(isViewDl,'float: left;','float: inherit;')}">
								<apex:outputtext value="{0, number, ###,###} 件">
									<apex:param value="{!rowCnt}"></apex:param>
								</apex:outputtext>
								<apex:outputtext value="　" />
								<apex:outputText value="{!SysDateTime}" />
						</div>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<apex:commandLink action="{!doDownloadCsv}" onComplete="callOproarts('{!DownloadId}','{!dlFormNo}')" reRender="form" rendered="{!isViewDl}" style="float: inherit;">
							<apex:image url="{!URLFOR($Resource.irisResourceAMS, 'icon/icon-download24.png')}" style="padding-bottom: 10px;"/>
						</apex:commandLink>
					</div>
				</apex:outputPanel>
			</header>

			<!-- 選択されたfilteringTypeを格納する -->
			<apex:actionStatus startStyleClass="p-l-1" id="filteringCallStatus" layout="inline">
				<apex:facet name="start">
					<img height="34px" src="{!URLFOR($Resource.irisResources, 'images/icon-loading.gif')}" />
					<span>通信中...</span>
				</apex:facet>
				<apex:facet name="stop">
					<apex:selectList value="{!filteringType}" styleClass="hidden-lg-up custom-select iris-custom-select filtering-type-form" multiselect="false" size="1">
						<!-- pc,mobile ともに選択リストの変更で画面の再描画が行われるようにactionSupportを用いる。 -->
						<!-- onsubmitでpcのボタンを無効化し、oncompleteで有効化する -->
						<apex:actionSupport action="{!changeFilteringType}" event="onchange" onsubmit="jQuery('.iris-filtering-btns .btn').addClass('disabled');" oncomplete="jQuery('.iris-filtering-btns .btn').removeClass('disabled');" rerender="form" status="filteringCallStatus"/>
						<apex:selectOptions value="{!filteringOptions}" />
					</apex:selectList>
				</apex:facet>
			</apex:actionStatus>
			<div class="iris-md-spacing hidden-md-down">
				<div class="iris-selectable-btns iris-layout iris-layout-fixed iris-filtering-btns" data-toggle="buttons">
					<apex:repeat value="{!filteringOptions}" var="option" >
						<apex:variable value="{!filteringType == option.value}" var="isSelected" />
						<apex:outputLabel styleClass="iris-layout-panel p-x-0 btn iris-sm-btn {!IF(isSelected, 'active', '')}"
										onclick="(jQuery(this).hasClass('disabled') ? void(0) : jQuery('.filtering-type-form').val('{!option.value}').change());"
										rendered="{!NOT(option.disabled)}">
							<!-- 選択済みの場合-->
							<apex:outputPanel layout="none" rendered="{!isSelected}">
								<input type="radio" name="options" value="{!option.value}" checked="checked"/>
							</apex:outputPanel>
							<!-- 未選択の場合-->
							<apex:outputPanel layout="none" rendered="{!NOT(isSelected)}">
								<input type="radio" name="options" value="{!option.value}" />
							</apex:outputPanel>
							<!-- 表示する値 -->
							<apex:outputText value="{!option.label}" />
						</apex:outputLabel>
					</apex:repeat>
				</div>
			</div>
			<!-- AGPOListをLoopして表示 -->
			<apex:actionFunction action="{!sortRows}" name="apex_sortRow" rerender="form" status="sortCallStatus">
				<apex:param name="st" value="" />
			</apex:actionFunction>
			<span class="iris-disclaimer" style="float: left;width: 100%;">
				<apex:outputText value="{!disclaimer}" escape="false" />
				<br/>
			</span>
			<apex:outputPanel styleClass="iris-disclaimer" rendered="{!filterFlag}">
				<br/>
				<apex:outputText value="{!discFilter}" escape="false" />
				<div style="text-align: right;">
					<apex:outputText value="{!discTransdate}" escape="false" style="font-size: 20px"/>
				</div>
			</apex:outputPanel>
			<apex:outputPanel styleClass="iris-disclaimer" rendered="{!NOT(filterFlag)}">
				<br/>
				<div style="text-align: right;">
					<apex:outputText value="{!discTransdate}" escape="false" style="font-size: 20px"/>
				</div>
			</apex:outputPanel>
			<div>
				<div class="d-inline-block container-flued hidden-lg-up" >
					<div class="form-group">
						<apex:selectList value="{!sortType}" readOnly="true" styleClass="custom-select iris-custom-select" multiselect="false" size="1" onchange="apex_sortRow(this.value);">
							<apex:selectOption itemValue="response" itemLabel="契約日"/>
							<apex:selectOption itemValue="elapsed" itemLabel="契約経過年数"/>
							<!-- <apex:selectOption itemValue="transdate" itemLabel="通知発信日"/> -->
							<apex:selectOption itemValue="content" itemLabel="異動内容"/>
							<apex:selectOption itemValue="no" itemLabel="証券番号" />
							<apex:selectOption itemValue="owname" itemLabel="契約者" />
							<apex:selectOption itemValue="cnttype" itemLabel="保険種類"/>
							<apex:selectOption itemValue="instamt12" itemLabel="保険料"/>
							<apex:selectOption itemValue="limitDt" itemLabel="保険料猶予期間満了日"/>
							<apex:selectOption itemValue="office" itemLabel="代理店事務所" rendered="{!isViewOffice}"/>
							<apex:selectOption itemValue="agent" itemLabel="募集人" rendered="{!isViewAgent}"/>
							<apex:selectOption itemValue="mr" itemLabel="担当MR" rendered="{!isViewMr}"/>
						</apex:selectList>
						<button href="#" class="btn {!IF(sortIsAsc, 'btn-info', 'btn-warning')}" type="button" onclick="apex_sortRow('{!sortType}');">
							<apex:outputText value="{!IF(sortIsAsc, '昇順', '降順')}" />
						</button>
					</div>
				</div>
				<apex:actionStatus startStyleClass="p-l-1" id="sortCallStatus" layout="inline">
					<apex:facet name="start">
						<img height="34px" src="{!URLFOR($Resource.irisResources, 'images/icon-loading.gif')}" />
						<span>通信中...</span>
					</apex:facet>
				</apex:actionStatus>
			</div>
			<table id="table" class="table iris-table">
				<!-- テーブルヘッダ -->
				<thead>
					<tr >
<!-- 						<th style="width: 10%; word-break: break-all;">
							<apex:variable var="transdateClass" value="{!IF(sortType == 'transdate' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
							<a href="?st=transdate" class="iris-action-sort {!transdateClass}">通知<br/>発信日</a>
						</th> -->
						<th style="width: 10%; word-break: break-all;">
							<apex:variable var="responseClass" value="{!IF(sortType == 'response' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
							<a href="?st=response" class="iris-action-sort {!responseClass}">契約日</a>
						</th>
						<th style="width: 10%;">
							<apex:variable var="elapsedClass" value="{!IF(sortType == 'elapsed' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
							<a href="?st=elapsed" class="iris-action-sort {!elapsedClass}">契約経過年数</a>
						</th>
						<th style="width: 10%;">
							<apex:variable var="contentClass" value="{!IF(sortType == 'content' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
							<a href="?st=content" class="iris-action-sort {!contentClass}">異動内容</a>
						</th>
						<th style="width: 10%;">
							<apex:variable var="noClass" value="{!IF(sortType == 'no' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
							<a href="?st=no" class="iris-action-sort {!noClass}">証券番号</a>
						</th>
						<th style="width: 10%;">
							<apex:variable var="ownameClass" value="{!IF(sortType == 'owname' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
							<a href="?st=owname" class="iris-action-sort {!ownameClass}">契約者</a>
						</th>
						<th style="width: 10%;">
							<apex:variable var="cnttypeClass" value="{!IF(sortType == 'cnttype' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
							<a href="?st=cnttype" class="iris-action-sort {!cnttypeClass}">保険種類</a>
						</th>
						<th style="width: 10%;">
							<apex:variable var="instamt12Class" value="{!IF(sortType == 'instamt12' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
							<a href="?st=instamt12" class="iris-action-sort {!instamt12Class}">保険料</a>
						</th>
						<th style="width: 10%;">
							<apex:variable var="limitDtClass" value="{!IF(sortType == 'limitDt' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
							<a href="?st=limitDt" class="iris-action-sort {!limitDtClass}">保険料<br/>猶予期間満了日</a>
						</th>
						<apex:outputPanel rendered="{!isViewOffice}" layout="none">
							<th style="width: 10%;">
								<apex:variable var="officeClass" value="{!IF(sortType == 'office' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
								<a href="?st=office" class="iris-action-sort {!officeClass}">代理店<br/>事務所</a>
							</th>
						</apex:outputPanel>
						<apex:outputPanel rendered="{!isViewAgent}" layout="none">
							<th style="width: 10%;">
								<apex:variable var="agentClass" value="{!IF(sortType == 'agent' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
								<a href="?st=agent" class="iris-action-sort {!agentClass}">募集人</a>
							</th>
						</apex:outputPanel>
						<apex:outputPanel rendered="{!isViewMr}" layout="none">
							<th style="width: 10%;">
								<apex:variable var="mrClass" value="{!IF(sortType == 'mr' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
								<a href="?st=mr" class="iris-action-sort {!mrClass}">担当MR</a>
							</th>
						</apex:outputPanel>
					</tr>
				</thead>
				<tbody>
					<apex:repeat value="{!dtos}" var="row" rows="{!rowCount}">
						<tr data-href="{!row.destURL}" data-target="{!row.destURLTarget}">
							<td title="契約日">{!row.responseDate}</td>
							<td title="契約経過年数">{!row.elapsedYears}</td>
							<!-- <td title="通知発信日">{!row.transmissionDate}</td> -->
							<td title="異動内容">{!row.content}</td>
							<td title="証券番号">{!row.no}</td>
							<td title="契約者">{!row.owname}</td>
							<td title="保険種類">{!row.cntType}</td>
							<td class="iris-cell-number" title="保険料">
								<apex:outputText value="{0, number, ###,###,###}">
									<apex:param value="{!row.instamt12}"/>
								</apex:outputText>
							</td>
							<td title="保険猶予期間満了日">{!row.limitDt}</td>
							<apex:outputPanel rendered="{!isViewOffice}" layout="none">
								<td title="代理店事務所">{!row.officeName}</td>
							</apex:outputPanel>
							<apex:outputPanel id="vag" rendered="{!isViewAgent}" layout="none">
								<td title="募集人">{!row.agentName}</td>
							</apex:outputPanel>
							<apex:outputPanel rendered="{!isViewMr}" layout="none">
								<td title="担当MR">{!row.mrName}</td>
							</apex:outputPanel>
						</tr>
					</apex:repeat>
				</tbody>
			</table>
			<!-- もっと見る -->
			<apex:outputPanel rendered="{!rowCount < listMaxRows && rowCount < totalRows}" >
				<div class="iris-btn-panel">
					<apex:actionStatus id="moreCallStatus" layout="inline">
						<apex:facet name="stop">
							<apex:commandbutton styleClass="btn iris-lg-btn" action="{!addRows}" value="もっと見る" rerender="form" status="moreCallStatus"/>
						</apex:facet>
						<apex:facet name="start">
							<img src="{!URLFOR($Resource.irisResources, 'images/icon-loading.gif')}" />
						</apex:facet>
					</apex:actionStatus>
				</div>
			</apex:outputPanel>
		</apex:form>
	</c:IRIS_UIFrame>
	<script>
		//OPRO呼出し実施
		function callOproarts(downloadId, formNo) {
			if(downloadId == ''){
				return false;
			}
			oproartsSetApp(
				  downloadId
				, formNo
				, '{!$Label.E_DL_OPRO_URLNAME}'
				, '{!JSENCODE($Organization.Id)}'
				, '{!JSENCODE($User.Id)}'
				, '{!JSENCODE($Api.Session_ID)}'
				, '{!JSENCODE($Api.Partner_Server_URL_320)}'
				, '{!$Label.E_DL_OPRO_URLAPP}'
			);
		}
		iris$(function(){

			var $document = iris$(document);
			// テーブルのソートを行う
			$document.on('click', function(e){
				var result = true;
				var $target = iris$(e.target).closest('.iris-action-sort');
				// 指定クラスのイベントでなければ何もしない
				if (!$target[0]) {
					return;
				}
				var href = $target.attr('href');
				var valuesByKey = irisUtils.parseUrlVarToObject(href);
				if (valuesByKey.hasOwnProperty('st')) {
					// apexコントローラの処理をコールする。
					apex_sortRow(valuesByKey.st);
				}
				return false;
			})
			// テーブルの行をクリックした際の処理を行う
			$document.on('click', function(e) {
				var $row = iris$(e.target).closest('tr[data-href]');
				// 対象でなければ何もしない
				if (!$row[0]) {
					return;
				}
				// 無効化されていた場合は何もしない
				if ($row.hasClass('.iris-state-disable')) {
					return;
				}
				irisUtils.jumpTo($row.attr('data-href'), $row.attr('data-target'));
			});
		});

		//IRISエンハンス ここから
		/**
		 * [ダウンロード機能]OPRO呼出し
		 *
		 */
		function oproartsSetApp(id, formNo, UrlName, OrganizationId, UserId, SessionId, ServerURL,URLPreFix) {
			OPROARTS.PRIME.FF.action(
			UrlName,
			URLPreFix,
			{
				type:toType(formNo),
				objectIds:id,
				api:[
					OrganizationId,
					UserId,
					SessionId,
					ServerURL
				]
			}
			).submitInNewWindow();
		};

		/**
		 * [ダウンロード機能]OPRO呼出し引数type取得
		 *
		 */
		function toType(formNo){
			var typeName;
			switch(formNo){
				case '1':typeName = 'tesuuryo_seimei';break;
				case '2':typeName = 'tesuuryo_hengaku';break;
				case '3':typeName = 'tesuuryo_bonus';break;
				case '4':typeName = 'hoyuukeiyaku_kojin';break;
				case '5':typeName = 'hoyuukeiyaku_hengaku';break;
				case '6':typeName = 'tetsuzuki_rireki';break;
				case '7':typeName = 'unitprice_csv';break;
				case 'A':typeName = 'ams01_hoyuido';break;
				case 'B':typeName = 'ams03_seikyuyokoku';break;
				case 'C':typeName = 'ams04_seikyu';break;
				case 'D':typeName = 'ams02_minyukin';break;
				case 'E':typeName = 'PIP_kojinhoyukeiyaku_shosai';break;
				case 'F':typeName = 'kyotsujikotenkenhyo';break;
				case 'G':typeName = 'iteki_hikiuke_meyasu';break;
				default:typeName = 'unitprice_csv';break;
			}
			return typeName;
		}
		//IRISエンハンス ここまで

	</script>
</apex:page>