<apex:page controller="I_AgencySalesResultsController" action="{!pageAction}" id="page" cache="false" showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
<c:IRIS_UIFrame pageTitle="{!menu.name}" categoryStyleClass="{!menu.MainCategoryStyleClass__c}" pageMessages="{!pageMessages}" >
<apex:form id="form" styleClass="iris-section-pane">

    <style type="text/css">
        .tabBody{
            min-width: 80px;
            text-align: center;
            margin-top: 10px;
        }
    </style>
    <apex:outputPanel styleClass="category-policy" layout="block">
        <header class="iris-owner-list-header">
            <h1 class="iris-owner-list-title">
                <apex:outputText value="代理店　挙績情報" rendered="{!viewType=='1'}"/>
                <apex:outputText value="事務所　挙績情報" rendered="{!viewType=='2'}"/>
                <apex:outputText value="募集人　挙績情報" rendered="{!viewType=='3'}"/>
            </h1>
            <apex:outputPanel styleClass="iris-owner-list-summary" style="padding-top: 0px;">
                <apex:outputPanel layout="none" rendered="{!canFeeDetail}">
                <apex:outputPanel layout="none" rendered="{!OR(viewType=='1',viewType=='2')}">
                    <a href="E_DownloadFeeDataSearch?{!CASE(viewType,'1','did='+agencyid,'2','oid='+officeid,'oid='+sResults.AccountId__c)}&pt=coli" class="btn iris-sm-btn" style="margin-bottom: 3px;" target="_blank">手数料ダウンロード</a>
                </apex:outputPanel>
                <apex:outputPanel layout="none" rendered="{!viewType=='1'}">
                    <a href="E_DownloadFeeGuidanceSearch?{!CASE(viewType,'1','did='+agencyid,'did='+sResults.ParentAccountId__c)}" class="btn iris-sm-btn" style="margin-bottom: 3px;" target="_blank">手数料照会</a>
                </apex:outputPanel>
            </apex:outputPanel>
                <apex:outputPanel layout="none" rendered="{!AND(viewType=='3',userid<>'',haveEIDC)}">
                    <!--Changed by Michael Dorrian 2018/02/26:Changed commandLink value from Atria to 設計書作成-->
                    <apex:commandLink value="設計書作成" onclick="Javascript:window.open('IRIS_AtriaRedirect?userid={!userid}','atria','toolbar=no,location=no,status=yes,menubar=yes,scrollbars=yes,resizable=yes');return false;" action="#" styleClass="btn iris-sm-btn" style="margin-bottom: 3px;" target="_blank">
                    </apex:commandLink>
                </apex:outputPanel>
            </apex:outputPanel>
        </header>
    </apex:outputPanel>
    <apex:outputPanel rendered="{!isShowSR}" layout="none">
        <!-- 営業部名・MR名 -->
        <apex:outputPanel layout="block" styleClass="h3" rendered="{!AND(OR(viewType=='2',viewType=='3'),isEmployee)}">
            <ol class="breadcrumb iris-breadcrumb d-inline-block iris-align-top" >
                <li class="breadcrumb-item iris-breadcrumb-item">{!sResults.UnitNm__c}</li>
                <li class="breadcrumb-item iris-breadcrumb-item">{!sResults.MRNm__c}</li>
            </ol>
        </apex:outputPanel>
        <!-- 代理店挙績情報 -->
        <apex:outputPanel layout="block" styleClass="h3">
            <ol class="breadcrumb iris-breadcrumb d-inline-block iris-align-top">
                <li class="breadcrumb-item iris-breadcrumb-item">{!sResults.ParentAccountNm__c}</li>
                <!-- 事務所挙績情報 -->
                <apex:outputPanel layout="none" styleClass="h3" rendered="{!OR(viewType=='2',viewType=='3')}">
                    <li class="breadcrumb-item iris-breadcrumb-item">{!sResults.AccountNm__c}</li>
                </apex:outputPanel>
                <!-- 募集人挙績情報 -->
                <apex:outputPanel layout="none" styleClass="h3" rendered="{!viewType=='3'}">
                    <li class="breadcrumb-item iris-breadcrumb-item">{!sResults.AgentNm__c}</li>
                </apex:outputPanel>
            </ol>
        </apex:outputPanel>
    </apex:outputPanel>

    <div class="iris">
        <apex:outputPanel rendered="{!isShowSR}" layout="none">
            <ul class="nav nav-tabs iris-nav-tabs" role="tablist">
                <li class="nav-item iris-nav-item tabBody">
                    <a data-toggle="tab" class="nav-link iris-nav-link active" href="#tab_1" >Top</a>
                </li>
                <apex:outputPanel layout="none">
                    <li class="nav-item iris-nav-item tabBody">
                        <a data-toggle="tab" class="nav-link iris-nav-link" href="#tab_2" role="tab">実績</a>
                    </li>
                </apex:outputPanel>
                <li class="nav-item iris-nav-item tabBody">
                    <a data-toggle="tab" class="nav-link iris-nav-link" href="#tab_3" role="tab">基本情報</a>
                </li>
            </ul>
            <br/>
        </apex:outputPanel>

        <div class="tab-content">
            <!-- 代理店Top -->
            <div class="tab-pane active" id="tab_1" role="tabpanel">
                <apex:outputPanel rendered="{!isShowSR}" layout="none">
                    <!-- アンカー -->
                    <div class="row iris-row">
                        <apex:outputPanel styleClass="iris-component-pane col-md-3 col-xs-12 p-b-2">
                            <div class="iris-index-point"></div>
                            <a class="iris-component-block" href="#agency-sr-info" target="">▼募集実績値</a>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!AND(viewType=='1',isShowAchievement)}" styleClass="iris-component-pane col-md-3 col-xs-12 p-b-2">
                            <div class="iris-index-point"></div>
                            <a class="iris-component-block" href="#license-assessment" target="">▼資格査定詳細情報</a>
                        </apex:outputPanel>
                        <apex:outputPanel styleClass="iris-component-pane col-md-3 col-xs-12 p-b-2">
                            <div class="iris-index-point"></div>
                            <a class="iris-component-block" href="#total" target="">▼各種情報</a>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!viewType=='1'}" styleClass="iris-component-pane col-md-3 col-xs-12 p-b-2">
                            <div class="iris-index-point"></div>
                            <a class="iris-component-block" href="#agency-list" target="">▼事務所一覧</a>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!viewType=='2'}" styleClass="iris-component-pane col-md-3 col-xs-12 p-b-2">
                            <div class="iris-index-point"></div>
                            <a class="iris-component-block" href="#agent-list" target="">▼募集人一覧</a>
                        </apex:outputPanel>
                    </div>

                    <!-- GW用ディスクレーマー -->
                    <apex:outputText value="{!disclaimer['AMS|SR|017']}" escape="false" rendered="{!IsCommonGateway}" styleClass="p-b-1" style="display: inline-block;"/>

                    <!-- YTD　実績値、代理店資格・査定結果・査定予測 -->
                    <apex:outputPanel id="agency-sr-info">
                        <div class="iris-index-point" id="agency-sr-info"></div>
                        <c:IRIS_AgencySRInfo salesResultsId="{!sResults.Id}" viewType="{!viewType}" previewURL="{!previewURL}" disclaimer="{!Disclaimers}" eleBizDate="{!sResults.BusinessDate_11th_Formula__c}"/>
                    </apex:outputPanel>
                    <!-- 資格査定詳細情報 -->
                    <apex:outputPanel rendered="{!AND(viewType=='1',isShowAchievement)}">
                        <div class="iris-index-point" id="license-assessment"></div>
                        <c:IRIS_LicenseAssessment salesResultsId="{!sResults.Id}" qualif="{!selectedQulif}" disclaimer="{!lADisclaimers}"/>
                        <br />
                    </apex:outputPanel>
                </apex:outputPanel>
                <!-- 各種情報 -->
                <apex:outputPanel >
                    <div class="iris-index-point" id="total"></div>
                    <c:IRIS_Total filterType="{!CASE(viewType,'1','agency','2','office','3','agent','')}" filterValue="{!CASE(viewType,'1',agencyid,'2',officeid,'3',mainAgentId,'')}" activeAgentId="{!activeAgentId}" isEmployee="{!isEmployee}" isSelf="{!isSelf}"/>
                </apex:outputPanel>

                <!--フィルターモードの入り口のみ仮で作成
                <br/>
                <div class="iris-index-point" id="total"></div>
                <h2>契約照会</h2>
                <div class="row iris-row">
                    <div class="iris-component-pane col-md-4 col-xs-12 p-b-2">
                        <span style="padding-right: 10px">新契約提案</span>
                        <apex:commandLink value="手続き状況一覧>" styleClass="btn" action="{!moveToNewPolicyList}" style="border: 3px solid; border-radius: 7px;">
                            <apex:param name="id" value="{!CASE(viewType,'1',agencyid,'2',officeid,'3',agentid,'')}" />
                        </apex:commandLink>
                    </div>
                    <div class="iris-component-pane col-md-4 col-xs-12 p-b-2">
                        <span style="padding-right: 10px">保有契約</span>
                        <apex:commandLink value="契約者一覧>" styleClass="btn" action="{!moveToOwnerList}" style="border: 3px solid; border-radius: 7px;">
                            <apex:param name="id" value="{!CASE(viewType,'1',agencyid,'2',officeid,'3',agentid,'')}" />
                        </apex:commandLink>
                    </div>
                </div>
                <!-- 事務所・代理店一覧 -->
                <br/>
                <apex:outputPanel rendered="{!viewType=='1'}">
                    <br/>
                    <div class="iris-index-point" id="agency-list"></div>
                    <c:IRIS_Agency isOffice="{!viewType=='1'}" p_mrid="{!mrid}" p_agencyId="{!agencyid}" />
                </apex:outputPanel>
                <!-- 募集人一覧 -->
                <apex:outputPanel rendered="{!viewType=='2'}">
                    <br/>
                    <div class="iris-index-point" id="agent-list"></div>
                    <c:IRIS_Agent p_officeid="{!officeId}"/>
                </apex:outputPanel>
            </div>

            <apex:outputPanel rendered="{!isShowSR}" layout="none">
                <!--実績・手数料タブ -->
                <apex:outputPanel layout="none">

                    <div class="tab-pane" id="tab_2" role="tabpanel">
                        <!-- アンカー -->
                        <div class="row iris-row">
                            <apex:outputPanel styleClass="iris-component-pane col-md-3 col-xs-12 p-b-2">
                                <div class="iris-index-point"></div>
                                <a class="iris-component-block" href="#chart-nbcanp-1" target="">▼月別実績</a>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!hasProduct}" styleClass="iris-component-pane col-md-3 col-xs-12 p-b-2">
                                <div class="iris-index-point"></div>
                                <a class="iris-component-block" href="#chart-product" target="">▼商品内訳</a>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!viewType='1'}" styleClass="iris-component-pane col-md-3 col-xs-12 p-b-2">
                                <div class="iris-index-point"></div>
                                <a class="iris-component-block" href="#sales-plan" target="">▼営業計画書</a>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!AND(canFeeDetail, OR(viewType='1',viewType='2'))}" styleClass="iris-component-pane col-md-3 col-xs-12 p-b-2">
                                <div class="iris-index-point"></div>
                                <a class="iris-component-block" href="#chart-payment" target="">▼代理店手数料</a>
                            </apex:outputPanel>
                        </div>
                        <div class="iris-index-point" id="chart-nbcanp-1"></div>
                        <h2 style="margin-bottom: 8px;">月別実績</h2>
                        <apex:outputText value="更新日：{!sResults.BusinessDate_11th_Formula__c}" style="font-size: 1rem; float: right;"/>
                        <!-- <apex:outputText value="更新日：毎月第11営業日" style="font-size: 1rem; float: right;"/> -->
                        <!-- 全商品 -->
                        <apex:outputPanel >
                            <c:IRIS_ChartNBCANP salesResultsId="{!sResults.Id}" viewType="1"/>
                        </apex:outputPanel>

                        <!-- 特定保険種類-->
                        <apex:outputPanel >
                            <c:IRIS_ChartNBCANP salesResultsId="{!sResults.Id}" viewType="2"/>
                        </apex:outputPanel>

                        <!-- 商品内訳 -->
                        <apex:outputPanel rendered="{!hasProduct}">
                            <div class="iris-index-point" id="chart-product"></div>
                            <c:IRIS_ChartProductBreakdown salesResultsId="{!sResults.Id}" disclaimer="{!productDisclaimers}" eleBizDate="{!sResults.BusinessDate_11th_Formula__c}"/>
                        </apex:outputPanel>

                        <!-- 営業計画 -->
                        <apex:outputPanel rendered="{!viewType='1'}">
                            <div class="iris-index-point" id="sales-plan"></div>
                            <c:IRIS_SalesPlanList parentAccountId="{!sResults.ParentAccountId__c}" salesResultsId="{!sResults.Id}"/>
                            <br/>
                        </apex:outputPanel>

                        <!-- 代理店手数料 -->
                        <apex:outputPanel rendered="{!AND(canFeeDetail, OR(viewType='1',viewType='2'))}">
                            <div class="iris-index-point" id="chart-payment"></div>
                            <c:IRIS_ChartPayment salesResultsId="{!sResults.Id}" viewType="{!viewType}" disclaimer="{!chartDisclaimers}" eleBizDate="{!sResults.BusinessDate_11th_Formula__c}"/>
                        </apex:outputPanel>
                    </div>
                </apex:outputPanel>
                <!-- 基本情報タブ -->
                <div class="tab-pane" id="tab_3" role="tabpanel">
                    <!-- アンカー -->
                    <div class="row iris-row">
                        <apex:outputPanel rendered="{!viewType=='1'}" styleClass="iris-component-pane col-md-3 col-xs-12 p-b-2">
                            <div class="iris-index-point"></div>
                            <a class="iris-component-block" href="#sr-agency-info" target="">▼代理店情報</a>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!viewType=='2'}" styleClass="iris-component-pane col-md-3 col-xs-12 p-b-2">
                            <div class="iris-index-point"></div>
                            <a class="iris-component-block" href="#sr-agency-info" target="">▼事務所情報</a>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!viewType=='3'}" styleClass="iris-component-pane col-md-3 col-xs-12 p-b-2">
                            <div class="iris-index-point"></div>
                            <a class="iris-component-block" href="#sr-agency-info" target="">▼募集人情報</a>
                        </apex:outputPanel>
                        <apex:outputPanel styleClass="iris-component-pane col-md-3 col-xs-12 p-b-2">
                            <div class="iris-index-point"></div>
                            <a class="iris-component-block" href="#sp-relation-corp" target="">▼特定関係法人</a>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!AND(viewType='1',NOT(ISBLANK(sResults.EvaCancellConsigContract__c)))}" styleClass="iris-component-pane col-md-3 col-xs-12 p-b-2">
                            <div class="iris-index-point"></div>
                            <a class="iris-component-block" href="#eva-cancell-consig" target="">▼営業サポート継続基準判定</a>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!OR(viewType='1',viewType='2')}" styleClass="iris-component-pane col-md-3 col-xs-12 p-b-2">
                            <div class="iris-index-point"></div>
                            <a class="iris-component-block" href="#sr-agent-list" target="">▼募集人一覧</a>
                        </apex:outputPanel>
                    </div>
                    <!-- 基本情報 -->
                    <apex:outputPanel >
                        <div class="iris-index-point" id="sr-agency-info"></div>
                        <c:IRIS_SRAgencyInfo salesResultsId="{!sResults.Id}" viewType="{!CASE(viewType,'1','AH','2','AY','3','AT','')}"/>
                    </apex:outputPanel>

                    <!--　特定関係法人画面へ遷移(セクション作成する) -->
                    <apex:outputPanel >
                        <div class="iris-index-point" id="sp-relation-corp"></div>
                        <h2 style="margin-bottom: 8px;">
                            <apex:outputText value="特定関係法人" />
                        </h2>
                        <apex:outputText value="データ基準日：{!sResults.BusDate__c} 時点" style="font-size: 1rem; float: right;"/>
                        <div class="row iris-row">
                            <div class="iris-component-pane col-md-3 col-xs-12 p-b-2 m-t-1" style="padding-left: 3rem;">
                                <a href="IRIS_SpRelationCorp?agency={!sResults.ParentAccount__c}" class="btn iris-sm-btn" style="margin-bottom: 3px;">特定関係法人 一覧画面</a>
                            </div>
                        </div>
                    </apex:outputPanel>
                    <!-- 営業サポート継続基準判定 -->
                    <apex:outputPanel rendered="{!AND(viewType='1',NOT(ISBLANK(sResults.EvaCancellConsigContract__c)))}">
                        <div class="iris-index-point" id="eva-cancell-consig"></div>
                        <h2 style="margin-bottom: 8px;">
                            <apex:outputText value="営業サポート継続基準判定" />
                        </h2>
                        <apex:outputText value="更新日：{!sResults.BusinessDate_11th_Formula__c}" style="font-size: 1rem; float: right; margin-bottom: 22px;"/>
                        <!-- <apex:outputText value="更新日：毎月第11営業日" style="font-size: 1rem; float: right; margin-bottom: 22px;"/> -->
                        <div class="row iris-row">
                            <div class="iris-component-pane col-md-3 col-xs-12 p-b-2 m-t-1" style="padding-left: 3rem;">
                                <h3 style="margin-bottom: 0px;">{!sResults.EvaCancellConsigContract__c}</h3>
                            </div>
                        </div>
                    </apex:outputPanel>
                    <!-- 募集人一覧 -->
                    <apex:outputPanel rendered="{!OR(viewType='1',viewType='2')}">
                        <div class="iris-index-point" id="sr-agent-list"></div>
                        <c:IRIS_SRAgent p_agencyId="{!agencyid}" p_officeid="{!officeid}" p_messages="{!msgSRAgent}" p_brNo="{!brNo}" />
                    </apex:outputPanel>
                </div>
            </apex:outputPanel>
        </div>
    </div>
</apex:form>
<script type="text/javascript">
    function tabCompLoad(nTab){
        switch(nTab){
        case 1: //<!-- Top -->
            try{ license_assessment.getJSParam(); }catch(e){}
            try{ total_info.getInfos(); }catch(e){}
            break;
        case 2: //<!-- 実績・手数料 -->
            try{ chart_nbcanp1.getJSParam(); }catch(e){}
            try{ chart_nbcanp2.getJSParam(); }catch(e){}
            try{ chart_product_breakdown.getJSParam(); }catch(e){}
            try{ chart_payment.getJSParam(); }catch(e){}
            break;
        case 3: //<!-- 基本情報 -->
            try{ sr_agency_info.getJSParam(); }catch(e){}
            break;
        }
    }
    jQuery("li[class*='nav-item']").each(function(){
        var a = jQuery(this).find("a[class*='nav-link']");
        switch(a.attr("href")){
        case "#tab_1":  //<!-- Top -->
            a.on('click', function(){ setTimeout('tabCompLoad(1);',1); });
            break;
        case "#tab_2":  //<!-- 実績・手数料 -->
            a.on('click', function(){ setTimeout('tabCompLoad(2);',1); });
            break;
        case "#tab_3":  //<!-- 基本情報 -->
            a.on('click', function(){ setTimeout('tabCompLoad(3);',1); });
            break;
        }
    });
    jQuery(window).on('load',function(){
        tabCompLoad(1);
    });
</script>
</c:IRIS_UIFrame>
</apex:page>