<apex:page controller="I_OwnerController" action="{!pageAction}" id="page" cache="false" showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">

	<c:IRIS_UIFrame pageTitle="{!menu.name}" categoryStyleClass="{!menu.MainCategoryStyleClass__c}" pageMessages="{!pageMessages}">
		<apex:form id="form" styleClass="iris-section-pane">
			<header class="iris-owner-list-header">
			<!--	<h1 class="iris-owner-list-title">契約者一覧</h1>-->
				<h1>
					<apex:outputText value="{!menu.Name}" />
				</h1>
				<div class="iris-owner-list-summary">
					<!--<apex:outputtext value="{0, number, ###,###} 件">
						<apex:param value="{!totalRows}"></apex:param>
					</apex:outputtext>-->
					<!--スプリントバックログ29対応(2017/1/18) ここから-->
					<!--集約前件数が1999件以下であり、集約後件数が999件以下である-->
					<apex:outputtext value="{0, number, ###,###} 件" rendered="{!!twoThousandOverFlag && totalRows < listMaxRows}">
						<apex:param value="{!totalRows}"></apex:param>
					</apex:outputtext>
					<!--集約前件数が2000件以上であるか、集約後件数が1000件以上である-->
					<apex:outputtext value="{0, number, ###,###} + 件" rendered="{!twoThousandOverFlag || totalRows >= listMaxRows }">
						<apex:param value="{!totalRows}"></apex:param>
					</apex:outputtext>
					<!--スプリントバックログ29対応 ここまで-->
					<apex:outputtext value="　" />
					<apex:outputText value="{!SysDateTime}" />
				</div>
			</header>

			<!-- section -->
				<!--テスト用-->
				<!--<apex:commandButton action="{!proxyLoginAgency}" value="代理店" />
				<apex:commandButton action="{!proxyLoginOffice}" value="事務所" />
				<apex:commandButton action="{!proxyLoginAgent}" value="募集人" />
				<apex:commandButton action="{!resetCookieValue}" value="クッキーリセット" />-->

			<apex:outputPanel layout="block" rendered="{!hasViewedByManager}">
				<apex:actionStatus startStyleClass="p-l-1" id="searchTypeCallingStatus" layout="block">
					<apex:facet name="start">
						<img height="34px" src="{!URLFOR($Resource.irisResources, 'images/icon-loading.gif')}" />
						<span>通信中...</span>
					</apex:facet>
					<apex:facet name="stop">
						<apex:selectList value="{!searchType}" styleClass="hidden-lg-up custom-select iris-custom-select iris-search-type-selection m-b-1" multiselect="false" size="1">
							<apex:actionSupport action="{!createOwnerList}" event="onchange" onsubmit="jQuery('.iris-searchType-btns .btn').addClass('disabled');" oncomplete="jQuery('.iris-filtering-btns .btn').removeClass('disabled');" rerender="form" status="searchTypeCallingStatus"/>
							<apex:selectOptions value="{!SearchTypeOptions}" />
						</apex:selectList>
					</apex:facet>
				</apex:actionStatus>
				<div class="iris-md-spacing iris-split-layout hidden-md-down">
					<div class="iris-split-right" >
						<div class="iris-selectable-btns iris-searchType-btns" data-toggle="buttons">
							<apex:repeat value="{!SearchTypeOptions}" var="option" >
								<apex:variable value="{!searchType == option.value}" var="isSelected" />
								<apex:outputLabel styleClass="iris-layout-panel p-x-0 btn iris-sm-btn iris-btn-long {!IF(isSelected, 'active', '')}"
												onclick="(jQuery(this).hasClass('disabled') ? void(0) : jQuery('.iris-search-type-selection').val('{!option.value}').change());"
												rendered="{!NOT(option.disabled)}">
									<!-- 選択済みの場合-->
									<apex:outputPanel layout="none" rendered="{!isSelected}">
										<input type="radio" name="options" value="{!option.value}" checked="checked"/>
									</apex:outputPanel>
									<!-- 未選択の場合-->
									<apex:outputPanel layout="none" rendered="{!NOT(isSelected)}">
										<input type="radio" name="options" value="{!option.value}" />
									</apex:outputPanel>
									<!-- 表示する値 -->
									<apex:outputText value="{!option.label}" />
								</apex:outputLabel>
							</apex:repeat>
						</div>
					</div>
				</div>
<!-- 				<div class="iris-split-right">
					<apex:outputText escape="false" value="{!DISCLAIMER['LIST|MNG|001']}"/>
				</div> -->
			</apex:outputPanel>


			<apex:actionFunction action="{!sortRows}" name="apex_sortRow" rerender="form" status="sortCallStatus">
				<apex:param name="st" value="" />
			</apex:actionFunction>
			<div>
				<div class="d-inline-block container-flued hidden-lg-up" >
					<div class="form-group">
						<apex:selectList value="{!sortType}" readOnly="true" styleClass="custom-select iris-custom-select" multiselect="false" size="1" onchange="apex_sortRow(this.value);">
							<apex:selectOption itemValue="customerNo" itemLabel="顧客番号"/>
							<apex:selectOption itemValue="contractant" itemLabel="契約者" />
							<apex:selectOption itemValue="address" itemLabel="住所" />
							<apex:selectOption itemValue="phoneNum" itemLabel="電話番号" />
							<apex:selectOption itemValue="num" itemLabel="契約件数" />

							<apex:selectOption itemValue="office" itemLabel="代理店事務所" rendered="{!officeFlag}"/>
							<apex:selectOption itemValue="agent" itemLabel="募集人" rendered="{!contactFrag}"/>
							<apex:selectOption itemValue="mr" itemLabel="担当MR" rendered="{!manegeMRFlag}"/>
						</apex:selectList>
						<button href="#" class="btn {!IF(sortIsAsc, 'btn-info', 'btn-warning')}" type="button" onclick="apex_sortRow('{!sortType}');">
							<apex:outputText value="{!IF(sortIsAsc, '昇順', '降順')}" />
						</button>
					</div>
				</div>
				<apex:actionStatus startStyleClass="p-l-1" id="sortCallStatus" layout="inline">
					<apex:facet name="start">
						<img height="34px" src="{!URLFOR($Resource.irisResources, 'images/icon-loading.gif')}" />
						<span>通信中...</span>
					</apex:facet>
				</apex:actionStatus>
			</div>
			<table id="table" class="table iris-table" data-type="iris-sortable" data-trigger=".iris-action-sort" data-function="apex_sortRow">
				<!-- テーブルヘッダ -->
				<thead>
					<tr >
						<th style="width: 12%;">
							<apex:variable var="customerNoClass" value="{!IF(sortType == 'customerNo' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
							<a href="?st=customerNo" data-sort="customerNo" class="iris-action-sort {!customerNoClass}">顧客番号</a>
						</th>
						<th style="width: 17%;">
							<apex:variable var="contractantClass" value="{!IF(sortType == 'contractant' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
							<a href="?st=contractant" data-sort="contractant" class="iris-action-sort {!contractantClass}">契約者</a>
						</th>
						<th style="width: 12%;">
							<apex:variable var="addressClass" value="{!IF(sortType == 'address' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
							<a href="?st=address" data-sort="address" class="iris-action-sort {!addressClass}">住所</a>
						</th>
						<th style="width: 12%;">
							<apex:variable var="phoneNumClass" value="{!IF(sortType == 'phoneNum' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
							<a href="?st=phoneNum" data-sort="phoneNum" class="iris-action-sort {!phoneNumClass}">電話番号</a>
						</th>
						<th class="iris-cell-number" style="width: 12%;">
							<apex:variable var="numClass" value="{!IF(sortType == 'num' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
							<a href="?st=num" data-sort="num" class="iris-action-sort {!numClass}">契約件数</a>
						</th>
						<!--<apex:outputPanel rendered="{!agencyFlag}" layout="none">
							<th>
								<apex:variable var="agencyClass" value="{!IF(sortType == 'agency' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
								<a href="?st=agency" class="iris-action-sort {!agencyClass}">代理店</a>
							</th>
						</apex:outputPanel>-->
						<apex:outputPanel rendered="{!officeFlag}" layout="none">
							<th style="width: 12%;">
								<apex:variable var="officeClass" value="{!IF(sortType == 'office' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
								<a href="?st=office" data-sort="office" class="iris-action-sort {!officeClass}">代理店事務所</a>
							</th>
						</apex:outputPanel>
						<apex:outputPanel rendered="{!contactFrag}" layout="none">
							<th style="width: 10%;">
								<apex:variable var="agentClass" value="{!IF(sortType == 'agent' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
								<a href="?st=agent" data-sort="agent" class="iris-action-sort {!agentClass}">募集人</a>
							</th>
						</apex:outputPanel>
						<apex:outputPanel rendered="{!manegeMRFlag}" layout="none">
							<th style="width: 10%;">
								<apex:variable var="agentClass" value="{!IF(sortType == 'mr' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
								<a href="?st=mr" data-sort="mr" class="iris-action-sort {!agentClass}">担当MR</a>
							</th>
						</apex:outputPanel>
					</tr>
				</thead>
				<tbody>
					<apex:repeat value="{!owners}" var="row" rows="{!rowCount}">
						<!--<tr data-type="iris-dynamic-linker" data-href="{!row.destURL}" data-target="_blank">-->
						<tr data-type="iris-dynamic-linker" data-href="{!row.destURL}" data-target="_self">

							<td title="顧客番号">{!row.customerNo}</td>
							<td title="契約者">{!row.owner}</td>
							<!-- <td title="住所">{!row.address} -->
							<td title="住所">
								<a href="http://maps.google.co.jp/maps?q={!URLENCODE(row.address)}" target="_blank">
									<apex:outputText value="{!row.address}" />
								</a>
							</td>
							<td title="電話番号">
								<a href="tel:{!row.phoneNum}" style="font-size:1rem;">
									<apex:outputText value="{!row.phoneNum}"/>
								</a>
							</td>
							<td class="iris-cell-number" title="契約件数">{!row.num} 件</td>
							<!--<apex:outputPanel rendered="{!agencyFlag}" layout="none">
								<td title="代理店">{!row.agency}</td>
							</apex:outputPanel>-->
							<apex:outputPanel rendered="{!officeFlag}" layout="none">
								<td title="代理店事務所">{!row.office}</td>
							</apex:outputPanel>
							<apex:outputPanel rendered="{!contactFrag}" layout="none">
								<td title="募集人">{!row.agent}</td>
							</apex:outputPanel>
							<apex:outputPanel rendered="{!manegeMRFlag}" layout="none">
								<td title="担当MR">{!row.mr}
									<apex:inputHidden value="{!row.destURL}" />
								</td>

							</apex:outputPanel>
						</tr>
					</apex:repeat>
				</tbody>
			</table>
			<apex:outputPanel rendered="{!rowCount < listMaxRows && rowCount < totalRows }" >
				<div class="iris-btn-panel">
					<apex:actionStatus id="moreCallStatus" layout="inline">
						<apex:facet name="stop">
							<apex:commandbutton styleClass="btn iris-lg-btn" action="{!addRows}" value="もっと見る" rerender="form" status="moreCallStatus"/>
						</apex:facet>
						<apex:facet name="start">
							<img src="{!URLFOR($Resource.irisResources, 'images/icon-loading.gif')}" />
						</apex:facet>
					</apex:actionStatus>
				</div>
			</apex:outputPanel>
		</apex:form>
	</c:IRIS_UIFrame>

<style type="text/css">
	/*ソートした際にテーブルヘッダーが動かないよう指定*/
	#table{
		table-layout: fixed;
		word-wrap: break-word;
	}

</style>

</apex:page>