<apex:page controller="I_CMSController" cache="false" 
			showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0" >
	<c:IRIS_UIFrame_PIP pageTitle="{!activePage.Name}" >

			<apex:stylesheet value="{!URLFOR($Resource.irisResources, 'css/irisStyle.css')}" />
			<apex:includescript value="{!URLFOR($Resource.irisResources, 'js/common.js')}" />

			<header class="pip-page__header">
				<!-- ヘッダー -->
				<c:IRIS_GlobalNav_PIP >
					<div class="pip-navbar__content">
						<div class="clearfix">
							<div class="pull-xs-left">
								<h1 class="pip-navbar__item pip-navbar__item-inline m-t-1" >
									<span>{!activePage.Name}</span>
								</h1>
							</div>
						</div>
					</div>
				</c:IRIS_GlobalNav_PIP>

			</header>

			<div class="pip-page__content-wrapper" style="max-width: 950px;">
				<main class="pip-page__content pip-page__content--fixed">

<!-- Section -->
					<div class="pip-content-block__header--spacing" >
						<apex:repeat value="{!CMSSections}" var="section">
							<c:IRIS_CMSSection section="{!section}" />
						</apex:repeat>
					</div>

				</main>
			</div>

<!-- Footer -->
			<footer class="pip-page__footer">
				<c:IRIS_Footer />
			</footer>

	</c:IRIS_UIFrame_PIP>
</apex:page>