<apex:page standardController="E_SalesPlan__c"  extensions="I_SalesPlanController"  applyBodyTag="{!p_applyHtmlTag}" applyHtmlTag="{!p_applyHtmlTag}" cache="{!p_cache}" contentType="{!p_contentType}" docType="{!p_docType}" expires="{!p_expires}" language="{!p_language}" renderAs="{!renderAs}" rendered="{!p_rendered}" setup="{!p_setup}" showChat="{!p_showChat}" showHeader="{!p_showHeader}" sidebar="{!p_sidebar}" standardStylesheets="false" wizard="{!p_wizard}">
<head>
<script src="/soap/ajax/31.0/connection.js"></script>
<script src="/soap/ajax/31.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		LIGHT_DATATABLE_FILTER:"{!JSENCODE(Label.TableFilterPlaceholder)}",
		LIGHT_DATATABLE_DETAIL:"{!JSENCODE(Label.showDetailPage)}",
		LIGHT_DATATABLE_DELETE:"{!JSENCODE(Label.customDeleteButtonLabel)}",
		LIGHT_DATATABLE_ADD:"{!JSENCODE(Label.customAddButtonLabel)}",
		LIGHT_DATATABLE_ROWCOUNT:"{!JSENCODE(Label.rowCount)}",
		REMOTEDATAERROR:"{!JSENCODE(Label.RemoteDataError)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "E_SalesPlan__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


<style>
{!HTMLENCODE(pdfStyleString)}
</style><style type="text/css">
@page {
        margin: 0.0cm;
}
body{
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic",Arial Unicode MS, sans-serif;
}
.orange{
	background-color: #ee7f00;
	border-color: #ea650d;
}
.gray{
	background-color: #999;
	border-color: #999;
}
.btn{
	color: #ffffff !important;
	font-size: 12px !important;
	min-width: 60px;
	margin: 5px 5px 5px 5px;
	display: inline-block;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 4px 12px;
	line-height: 1.428571429;
	border-radius: 30px;
	text-decoration: none;
}
</style>
</head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.layout.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.nlinkcommon)}"/>
<script type="text/javascript">

</script>
<script type="text/javascript" import="true">
jQuery(document).ready(function(){
	// 背景色
	window.addEventListener("load", function(){
		var elements = document.querySelectorAll("input, select, textarea");
		for (var i=0; i<elements.length; i++){
			if(elements[i].value != 0 || elements[i].value == '0'){
				elements[i].style.backgroundColor = '#FFFFFF';
			}else{
				elements[i].style.backgroundColor = '#ffeff0';
			}
		}
	}, false);

	jQuery('input, select, textarea').blur(function(){
		if(jQuery(this).val() == 0 && jQuery(this).val() != '0'){
			jQuery(this).css('background-color', '#ffeff0');
		}else{
			jQuery(this).css('background-color', '#FFFFFF');
		}
	});

	// 最大桁数
	jQuery('input[id*=number]').attr('maxlength','11');
	jQuery('input[id*=percent]').attr('maxlength','5');
	jQuery('input[textarea*=memo]').attr('maxlength','364');
	jQuery('input[id*=agencyName]').attr('maxlength','50');
	jQuery('input[id*=agentName]').attr('maxlength','20');
	jQuery('input[id*=mrName]').attr('maxlength','16');

	// 数値
	jQuery('input[id*=number]').keyup(function(){
	    var s = new Array();
	    jQuery.each( jQuery(this).val().split(''), function(i, v){
	        if( v.match(/[0-9]/gi) ) s.push(v);
	    } );
	    if(s.length > 0) 
	        jQuery(this).val( s.join('') );
	    else jQuery(this).val(''); 
	});

	// checkboxのスタイル
	// jQuery('input[type="checkbox"]').css({'-webkit-appearance': 'none','width':'14px','height':'14px','border':'2px solid #ea650d','border-radius':'2px','background':'#ffeff0'});
	// jQuery('input[type="checkbox"]').change(function(){
	// 	jQuery('input[type="checkbox"]:checked').css({'background':'#ea650d', 'opacity':'1'});
	// });

	// 特定保険種類
	// 0が入っていた場合クリアする
	jQuery('input[id*=spInsType_h1], input[id*=spInsType_h2]').focus(function(){
		var spInsType_h1 = jQuery('input[id*=spInsType_h1]');
		var spInsType_h2 = jQuery('input[id*=spInsType_h2]');
		if(spInsType_h1.val() == 0){
			spInsType_h1.val('');
		}
		if(spInsType_h2.val() == 0){
			spInsType_h2.val('');
		}
	});
	// 計算処理
	jQuery('input[id*=spInsType_h1], input[id*=spInsType_h2]').blur(function(){
		var spInsType_h1 = jQuery('input[id*=spInsType_h1]');
		var spInsType_h2 = jQuery('input[id*=spInsType_h2]');
		if(!jQuery.isNumeric(spInsType_h1.val().split(',').join(''))){
			spInsType_h1.val("0");
		}else{
			spInsType_h1.val(String(spInsType_h1.val()).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,'));
		}
		if(!jQuery.isNumeric(spInsType_h2.val().split(',').join(''))){
			spInsType_h2.val("0");
		}
		else{
			spInsType_h2.val(String(spInsType_h2.val()).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,'));
		}
		var total = parseInt(spInsType_h1.val().split(',').join('')) + parseInt(spInsType_h2.val().split(',').join(''));
		jQuery('span[id*=spInsType_total]').text(String(total).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,'));
	});

	// 新契約ANP
	// 0が入っていた場合クリアする
	jQuery('input[id*=anp_h1], input[id*=anp_h2]').focus(function(){
		var anp_h1 = jQuery('input[id*=anp_h1]');
		var anp_h2 = jQuery('input[id*=anp_h2]');
		if(anp_h1.val() == 0){
			anp_h1.val('');
		}
		if(anp_h2.val() == 0){
			anp_h2.val('');
		}
	});
	// 計算処理
	jQuery('input[id*=anp_h1], input[id*=anp_h2]').blur(function(){
		var anp_h1 = jQuery('input[id*=anp_h1]');
		var anp_h2 = jQuery('input[id*=anp_h2]');
		if(!jQuery.isNumeric(anp_h1.val().split(',').join(''))){
			anp_h1.val("0");
		}else{
			anp_h1.val(String(anp_h1.val()).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,'));
		}
		if(!jQuery.isNumeric(anp_h2.val().split(',').join(''))){
			anp_h2.val("0");
		}
		else{
			anp_h2.val(String(anp_h2.val()).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,'));
		}
		var total = parseInt(anp_h1.val().split(',').join('')) + parseInt(anp_h2.val().split(',').join(''));
		jQuery('span[id*=anp_total]').text(String(total).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,'));
	});

	// IQA継続率
	// 0.0が入っていた場合クリアする
	jQuery('input[id*=iqa_h1], input[id*=iqa_h2]').focus(function(){
		var iqa_h1 = jQuery('input[id*=iqa_h1]');
		var iqa_h2 = jQuery('input[id*=iqa_h2]');
		if(iqa_h1.val() == 0.0){
			iqa_h1.val('');
		}
		if(iqa_h2.val() == 0.0){
			iqa_h2.val('');
		}
	});
	// 小数点第1位までの表示
	jQuery('input[id*=iqa_h1]').blur(function(){
		var iqa_h1 = jQuery('input[id*=iqa_h1]');
		if(!jQuery.isNumeric(iqa_h1.val())){
			iqa_h1.val(0);
		}
		iqa_h1.val(parseFloat(iqa_h1.val()).toFixed(1));
	});
	jQuery('input[id*=iqa_h2]').blur(function(){
		var iqa_h2 = jQuery('input[id*=iqa_h2]');
		if(!jQuery.isNumeric(iqa_h2.val())){
			iqa_h2.val(0);
		}
		iqa_h2.val(parseFloat(iqa_h2.val()).toFixed(1));
	});
	jQuery('input[id*=iqa_total]').blur(function(){
		var iqa_total = jQuery('input[id*=iqa_total]');
		if(!jQuery.isNumeric(iqa_total.val())){
			iqa_total.val(0);
		}
		iqa_total.val(parseFloat(iqa_total.val()).toFixed(1));
	});
});
function createPdf() {
	// ファイル名未入力
	if(jQuery('input[id*=pdfTitle]').val() == '' || jQuery('input[id*=pdfTitle]').val() == null){
		alert('ファイル名を入力してください');
		jQuery('input[id*=pdfTitle]').focus();
		return false;
	}
	return true;
}
</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:outputPanel style="position:relative;" >
</apex:outputPanel><apex:form id="sve_form1" styleClass="sve_form1"  >
<apex:outputPanel layout="block"  style="position:relative;width:792px;height:1090px;" >
<img  src="{!URLFOR($Resource.SalesPlanSheet)}"  style="width:713px;height:1010px;left:40px;top:40px;position:absolute;" /><apex:outputPanel id="Component257_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="left:423px;top:7px;position:absolute;">
<apex:commandLink action="{!extender.doSaveAndCreatePDF}" id="Component257" immediate="false" onclick="return createPdf();" rendered="{!Not(Extender.isPdf)}" styleClass="btn orange" target="_self" value="PDF出力"  style="color:#000000;font-size:12pt;font-weight:Normal;" >
</apex:commandLink>
</apex:outputPanel>
<apex:outputPanel id="Component258_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="left:515px;top:7px;position:absolute;">
<apex:commandLink action="{!extender.createClearPDF}" id="Component258" immediate="false" onclick="return createPdf();" rendered="{!Not(Extender.isPdf)}" styleClass="btn orange" target="_self" value="未入力PDF出力"  style="color:#000000;font-size:12pt;font-weight:Normal;" >
</apex:commandLink>
</apex:outputPanel>
<apex:outputPanel id="Component259_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="left:631px;top:7px;position:absolute;">
<apex:commandLink id="Component259" onclick="windowClose(true);" rendered="{!Not(Extender.isPdf)}" styleClass="btn gray" value="閉じる"  style="color:#000000;font-size:12pt;font-weight:Normal;" >
</apex:commandLink>
</apex:outputPanel>
<apex:outputPanel id="pdfTitle_Wrapper" layout="block"  style="top:13px;left:71px;width:300px;height:18px;position:absolute;">
<apex:variable var="currentAppComID" value="pdfTitle" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_DynamicField id="pdfTitle" 
record="{!Extender.pdfTitle}" 
fieldName="SkyEditor2__Text__c" 
forInput="{!Not(Extender.isPdf)}" 
inputStyle="width:300px;border: solid 2px #e64415; font-size: 15px;height:20px;" 
outputStyle="width:300px;color: #ee7f00; font-size: 15px;" 
/>
</apex:outputPanel><apex:outputPanel id="spInsType_h1_number_Wrapper" layout="block"  style="top:137px;left:346px;width:15px;height:15px;position:absolute;">
<apex:variable var="currentAppComID" value="spInsType_h1_number" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_DynamicField id="spInsType_h1_number" 
record="{!Extender.spInsType_h1}" 
fieldName="SkyEditor2__Number__c" 
forInput="{!Not(Extender.isPdf)}" 
inputStyle="width:72px;ime-mode:disabled;font-size: 11px;text-align: right;border: solid 2px #e64415;" 
outputStyle="width:72px;ime-mode:disabled;text-align: right;font-size:9px;" 
/>
</apex:outputPanel><apex:outputPanel id="spInsType_h2_number_Wrapper" layout="block"  style="top:137px;left:440px;width:15px;height:15px;position:absolute;">
<apex:variable var="currentAppComID" value="spInsType_h2_number" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_DynamicField id="spInsType_h2_number" 
record="{!Extender.spInsType_h2}" 
fieldName="SkyEditor2__Number__c" 
forInput="{!Not(Extender.isPdf)}" 
inputStyle="width:75px;ime-mode:disabled;font-size: 11px;text-align: right;border: solid 2px #e64415;" 
outputStyle="width:75px;ime-mode:disabled;text-align: right;font-size:9px;" 
/>
</apex:outputPanel><apex:outputPanel id="Component260_Wrapper" layout="block"  style="top:138px;left:254px;width:75px;height:15px;position:absolute;">
<apex:variable var="currentAppComID" value="Component260" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_DynamicField id="Component260" 
record="{!Extender.spInsType_ly}" 
fieldName="SkyEditor2__Number__c" 
forInput="false" 
inputStyle="" 
outputStyle="font-size:9px; text-align:right;" 
/>
</apex:outputPanel><apex:outputPanel id="spInsType_total_Wrapper" layout="block"  style="top:138px;left:536px;width:75px;height:15px;position:absolute;">
<apex:variable var="currentAppComID" value="spInsType_total" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_DynamicField id="spInsType_total" 
record="{!Extender.spInsType_total}" 
fieldName="SkyEditor2__Number__c" 
forInput="false" 
inputStyle="" 
outputStyle="font-size:9px; text-align:right;" 
/>
</apex:outputPanel><apex:outputPanel id="Component263_Wrapper" layout="block"  style="top:138px;left:628px;width:75px;height:15px;position:absolute;">
<apex:variable var="currentAppComID" value="Component263" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_DynamicField id="Component263" 
record="{!Extender.spInsType_cy}" 
fieldName="SkyEditor2__Number__c" 
forInput="false" 
inputStyle="" 
outputStyle="font-size:9px; text-align:right;" 
/>
</apex:outputPanel><apex:outputPanel id="anp_h1_number_Wrapper" layout="block"  style="top:178px;left:346px;width:15px;height:15px;position:absolute;">
<apex:variable var="currentAppComID" value="anp_h1_number" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_DynamicField id="anp_h1_number" 
record="{!Extender.anp_h1}" 
fieldName="SkyEditor2__Number__c" 
forInput="{!Not(Extender.isPdf)}" 
inputStyle="width:72px;ime-mode:disabled;font-size: 11px;text-align: right;border: solid 2px #e64415;" 
outputStyle="width:72px;ime-mode:disabled;text-align: right;font-size:9px;" 
/>
</apex:outputPanel><apex:outputPanel id="anp_h2_number_Wrapper" layout="block"  style="top:178px;left:440px;width:15px;height:15px;position:absolute;">
<apex:variable var="currentAppComID" value="anp_h2_number" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_DynamicField id="anp_h2_number" 
record="{!Extender.anp_h2}" 
fieldName="SkyEditor2__Number__c" 
forInput="{!Not(Extender.isPdf)}" 
inputStyle="width:75px;ime-mode:disabled;font-size: 11px;text-align: right;border: solid 2px #e64415;" 
outputStyle="width:75px;ime-mode:disabled;text-align: right;font-size:9px;" 
/>
</apex:outputPanel><apex:outputPanel id="Component261_Wrapper" layout="block"  style="top:179px;left:254px;width:75px;height:15px;position:absolute;">
<apex:variable var="currentAppComID" value="Component261" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_DynamicField id="Component261" 
record="{!Extender.anp_ly}" 
fieldName="SkyEditor2__Number__c" 
forInput="false" 
inputStyle="" 
outputStyle="font-size:9px; text-align:right;" 
/>
</apex:outputPanel><apex:outputPanel id="anp_total_Wrapper" layout="block"  style="top:179px;left:536px;width:75px;height:15px;position:absolute;">
<apex:variable var="currentAppComID" value="anp_total" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_DynamicField id="anp_total" 
record="{!Extender.anp_total}" 
fieldName="SkyEditor2__Number__c" 
forInput="false" 
inputStyle="" 
outputStyle="font-size:9px; text-align:right;" 
/>
</apex:outputPanel><apex:outputPanel id="Component264_Wrapper" layout="block"  style="top:179px;left:628px;width:75px;height:15px;position:absolute;">
<apex:variable var="currentAppComID" value="Component264" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_DynamicField id="Component264" 
record="{!Extender.anp_cy}" 
fieldName="SkyEditor2__Number__c" 
forInput="false" 
inputStyle="" 
outputStyle="font-size:9px; text-align:right;" 
/>
</apex:outputPanel><apex:outputPanel id="Component222_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="left:167px;top:209px;position:absolute;">
<apex:outputText escape="false" id="Component222" rendered="{!Not(Extender.IsClear)}" value="{!Extender.YYYY}"  style="color:#000000;font-size:8pt;font-weight:Normal;"   />
</apex:outputPanel>
<apex:outputPanel id="Component223_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="left:232px;top:209px;position:absolute;">
<apex:outputText escape="false" id="Component223" rendered="{!Not(Extender.IsClear)}" value="{!Extender.MM}"  style="color:#000000;font-size:8pt;font-weight:Normal;"   />
</apex:outputPanel>
<apex:outputPanel styleclass="fieldwrapper " style="left:295px;top:209px;width:30px;color:#000000;font-size:8pt;font-weight:Normal;text-align:right;position:absolute;display:block;" >
<apex:outputField id="Component269" rendered="{! NOT(ISNULL(record.SalesResult__r.IQA_LY__c))}"    value="{!record.SalesResult__r.IQA_LY__c}" />
</apex:outputPanel>
<apex:outputPanel id="iqa_h1_percent_Wrapper" layout="block"  style="top:209px;left:386px;width:15px;height:15px;position:absolute;">
<apex:variable var="currentAppComID" value="iqa_h1_percent" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_DynamicField id="iqa_h1_percent" 
record="{!Extender.iqa_h1}" 
fieldName="SkyEditor2__Text__c" 
forInput="{!Not(Extender.isPdf)}" 
inputStyle="width:30px;height:12px;ime-mode:disabled;font-size: 11px;text-align: right;border: solid 2px #e64415;" 
outputStyle="width:30px;height:12px;ime-mode:disabled;text-align: right;" 
/>
</apex:outputPanel><apex:outputPanel id="iqa_h2_percent_Wrapper" layout="block"  style="top:209px;left:484px;width:15px;height:15px;position:absolute;">
<apex:variable var="currentAppComID" value="iqa_h2_percent" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_DynamicField id="iqa_h2_percent" 
record="{!Extender.iqa_h2}" 
fieldName="SkyEditor2__Text__c" 
forInput="{!Not(Extender.isPdf)}" 
inputStyle="width:30px;height:12px;ime-mode:disabled;font-size: 11px;text-align: right;border: solid 2px #e64415;" 
outputStyle="width:30px;height:12px;ime-mode:disabled;text-align: right;" 
/>
</apex:outputPanel><apex:outputPanel id="iqa_total_Wrapper" layout="block"  style="top:209px;left:576px;width:15px;height:15px;position:absolute;">
<apex:variable var="currentAppComID" value="iqa_total" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_DynamicField id="iqa_total" 
record="{!Extender.iqa_total}" 
fieldName="SkyEditor2__Text__c" 
forInput="{!Not(Extender.isPdf)}" 
inputStyle="width:30px;height:12px;ime-mode:disabled;font-size: 11px;text-align: right;border: solid 2px #e64415;" 
outputStyle="width:30px;height:12px;ime-mode:disabled;text-align: right;" 
/>
</apex:outputPanel><apex:outputPanel styleclass="fieldwrapper " style="left:628px;top:209px;width:75px;color:#000000;font-size:8pt;font-weight:Normal;text-align:right;position:absolute;display:block;" >
<apex:outputField id="Component270" rendered="{! NOT(ISNULL(record.SalesResult__r.IQA__c))}"    value="{!record.SalesResult__r.IQA__c}" />
</apex:outputPanel>
<apex:outputPanel id="Component244_Wrapper" layout="block"  style="top:307px;left:272px;width:465px;height:195px;position:absolute;">
<apex:variable var="currentAppComID" value="Component244" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:IRIS_SalesPlanning id="Component244" 
labelWidth="78" 
colWidth="56" 
data="{!Extender.planData}" 
lineHight="17" 
lineHight2="30" 
startMonth="1" 
isPDF="{!Extender.isPdf}" 
/>
</apex:outputPanel><apex:outputPanel id="Component246_Wrapper" layout="block"  style="top:539px;left:273px;width:465px;height:195px;position:absolute;">
<apex:variable var="currentAppComID" value="Component246" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:IRIS_SalesPlanning id="Component246" 
labelWidth="78" 
colWidth="56" 
data="{!Extender.planData}" 
lineHight="17" 
lineHight2="30" 
startMonth="7" 
isPDF="{!Extender.isPdf}" 
/>
</apex:outputPanel><apex:outputPanel id="memo_Wrapper" layout="block"  style="top:764px;left:396px;width:318px;height:205px;position:absolute;">
<apex:variable var="currentAppComID" value="memo" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_DynamicField id="memo" 
record="{!Extender.memo}" 
fieldName="SkyEditor2__LongTextArea__c" 
forInput="{!Not(Extender.isPdf)}" 
inputStyle="width:312px;height:205px;resize: none;overflow:hidden;overflow-x:hidden;overflow-y:hidden;border: solid 2px #e64415;line-height:16px;font-size:11px;padding-left: 6px;" 
outputStyle="width:324px;height:205px;resize: none;overflow:hidden;overflow-x:hidden;overflow-y:hidden;white-space:normal;padding-left:4px;padding-top:3px;" 
/>
</apex:outputPanel><apex:outputPanel id="Component239_Wrapper" layout="block"  style="top:765px;left:79px;width:15px;height:15px;position:absolute;">
<apex:variable var="currentAppComID" value="Component239" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_VerticalLabels id="Component239" 
values="{!Extender.supportContentList}" 
rows="9" 
labelStyle="width:156px;height:23.5px;white-space:nowrap;font-size: 10px;" 
/>
</apex:outputPanel><apex:outputPanel id="agencyName_Wrapper" layout="block"  style="top:1010px;left:80px;width:263px;height:27px;position:absolute;">
<apex:variable var="currentAppComID" value="agencyName" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_DynamicField id="agencyName" 
record="{!Extender.agencyName}" 
fieldName="SkyEditor2__Text__c" 
forInput="{!Not(Extender.isPdf)}" 
inputStyle="width: 263px; height: 27px; font-size: 10px; border: solid 2px #e64415;" 
outputStyle="width: 263px; height: 27px; font-size: 10px; margin-top: 7px; padding-left: 3px;" 
/>
</apex:outputPanel><apex:outputPanel id="agentName_Wrapper" layout="block"  style="top:1010px;left:347px;width:207px;height:27px;position:absolute;">
<apex:variable var="currentAppComID" value="agentName" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_DynamicField id="agentName" 
record="{!Extender.agentName}" 
fieldName="SkyEditor2__Text__c" 
forInput="{!Not(Extender.isPdf)}" 
inputStyle="width:207px;height:27px;font-size: 10px;border: solid 2px #e64415;" 
outputStyle="width:207px;height:27px;font-size: 10px;margin-top:7px; padding-left: 3px;" 
/>
</apex:outputPanel><apex:outputPanel id="mrName_Wrapper" layout="block"  style="top:1010px;left:558px;width:160px;height:27px;position:absolute;">
<apex:variable var="currentAppComID" value="mrName" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<c:E_DynamicField id="mrName" 
record="{!Extender.mrName}" 
fieldName="SkyEditor2__Text__c" 
forInput="{!Not(Extender.isPdf)}" 
inputStyle="width:160px;height:27px;font-size: 10px;border: solid 2px #e64415;" 
outputStyle="width:160px;height:27px;font-size: 10px;margin-top:7px; padding-left: 3px;" 
/>
</apex:outputPanel></apex:outputPanel></apex:form><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>