<!-- 
	Tubeからのリダイレクトを受けて、処理を実施するページ
		 
 -->
<apex:page cache="false" controller="I_TubeController" action="{!pageAction}"
			showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">

{!debug}
<br/>
--------------------<br/>
<apex:outputtext value="{!urlvalues}" escape="false"/>
--------------------<br/>
{!URLFOR('/')}
<br/>
<br/>
<br/>

	<div>
		<p>ページ遷移ができませんでした。</p>
		<p><a href="IRIS_TOP">IRIS　TOPへ</a></p>
	</div>


</apex:page>