<apex:page showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0"
controller="I_LapsedPolicyController" action="{!pageAction}" id="page">

	<c:IRIS_UIFrame pageTitle="{!menu.name}" categoryStyleClass="{!menu.MainCategoryStyleClass__c}" pageMessages="{!pageMessages}">
		<apex:form id="form" styleClass="iris-section-pane">
			<header class="iris-owner-list-header">
				<h1 class="iris-owner-list-title">
					<apex:outputText value="{!menu.name}" />
				</h1>
				<div class="iris-owner-list-summary">
					<apex:outputtext value="{!isTotalRows} 件" />
					<apex:outputtext value="　" />
					<apex:outputText value="{!SysDateTime}" />
				</div>
			</header>

			<!--ディスクレイマー-->
			<div class="disclaimer">
				<apex:outputPanel layout="block" id="dicBefore2" styleClass="iris-md-spacing">
					<apex:outputText escape="false" value="{!DISCLAIMER['LAP|001']}"/>
				</apex:outputPanel>
			</div>

			<!--<apex:actionStatus id="sortCallStatus" layout="block">
				<apex:facet name="start">通信中</apex:facet>
			</apex:actionStatus>-->
			<!--テスト用-->
			<!--<apex:commandButton action="{!proxyLoginAgency}" value="代理店" />
			<apex:commandButton action="{!proxyLoginOffice}" value="事務所" />
			<apex:commandButton action="{!proxyLoginAgent}" value="募集人" />
			<apex:commandButton action="{!resetCookieValue}" value="クッキーリセット" />-->

			<apex:outputPanel layout="block" rendered="{!hasViewedByManager}">
				<apex:actionStatus startStyleClass="p-l-1" id="searchTypeCallingStatus" layout="block">
					<apex:facet name="start">
						<img height="34px" src="{!URLFOR($Resource.irisResources, 'images/icon-loading.gif')}" />
						<span>通信中...</span>
					</apex:facet>
					<apex:facet name="stop">
						<apex:selectList value="{!searchType}" styleClass="hidden-lg-up custom-select iris-custom-select iris-search-type-selection m-b-1" multiselect="false" size="1">
							<apex:actionSupport action="{!makePolicyList}" event="onchange" onsubmit="jQuery('.iris-searchType-btns .btn').addClass('disabled');" oncomplete="jQuery('.iris-filtering-btns .btn').removeClass('disabled');" rerender="form" status="searchTypeCallingStatus"/>
							<apex:selectOptions value="{!SearchTypeOptions}" />
						</apex:selectList>
					</apex:facet>
				</apex:actionStatus>
				<div class="iris-md-spacing iris-split-layout hidden-md-down">
					<div class="iris-split-right" >
						<div class="iris-selectable-btns iris-searchType-btns" data-toggle="buttons">
							<apex:repeat value="{!SearchTypeOptions}" var="option" >
								<apex:variable value="{!searchType == option.value}" var="isSelected" />
								<apex:outputLabel styleClass="iris-layout-panel p-x-0 btn iris-sm-btn iris-btn-long {!IF(isSelected, 'active', '')}"
												onclick="(jQuery(this).hasClass('disabled') ? void(0) : jQuery('.iris-search-type-selection').val('{!option.value}').change());"
												rendered="{!NOT(option.disabled)}">
									<!-- 選択済みの場合-->
									<apex:outputPanel layout="none" rendered="{!isSelected}">
										<input type="radio" name="options" value="{!option.value}" checked="checked"/>
									</apex:outputPanel>
									<!-- 未選択の場合-->
									<apex:outputPanel layout="none" rendered="{!NOT(isSelected)}">
										<input type="radio" name="options" value="{!option.value}" />
									</apex:outputPanel>
									<!-- 表示する値 -->
									<apex:outputText value="{!option.label}" />
								</apex:outputLabel>
							</apex:repeat>
						</div>
					</div>
				</div>
<!-- 				<div class="iris-split-right">
					<apex:outputText escape="false" value="{!DISCLAIMER['LIST|MNG|001']}"/>
				</div> -->
			</apex:outputPanel>

			<apex:actionFunction action="{!sortRows}" name="apex_sortRow" rerender="form" status="sortCallStatus">
				<apex:param name="st" value="" />
			</apex:actionFunction>
			<div>
				<div class="d-inline-block container-flued hidden-lg-up" >
					<div class="form-group">
						<apex:selectList value="{!sortType}" readOnly="true" styleClass="custom-select iris-custom-select" multiselect="false" size="1" onchange="apex_sortRow(this.value);">
							<apex:selectOption itemValue="lapsedDay" itemLabel="失効手続処理日"/>
							<apex:selectOption itemValue="contractor" itemLabel="契約者" />
							<apex:selectOption itemValue="policyType" itemLabel="保険種類" />
							<apex:selectOption itemValue="policyFee" itemLabel="保険料" />
							<apex:selectOption itemValue="policyNum" itemLabel="証券番号" />
							<apex:selectOption itemValue="contractDay" itemLabel="契約日" />

							<apex:selectOption itemValue="office" itemLabel="代理店事務所" rendered="{!officeFlag}"/>
							<apex:selectOption itemValue="agent" itemLabel="募集人" rendered="{!contactFrag}"/>
							<apex:selectOption itemValue="mrName" itemLabel="担当MR" rendered="{!manegeMRFlag}"/>
						</apex:selectList>
						<button href="#" class="btn {!IF(sortIsAsc, 'btn-info', 'btn-warning')}" type="button" onclick="apex_sortRow('{!sortType}');">
							<apex:outputText value="{!IF(sortIsAsc, '昇順', '降順')}" />
						</button>
					</div>
				</div>
				<apex:actionStatus startStyleClass="p-l-1" id="sortCallStatus" layout="inline">
					<apex:facet name="start">
						<img height="34px" src="{!URLFOR($Resource.irisResources, 'images/icon-loading.gif')}" />
						<span>通信中...</span>
					</apex:facet>
				</apex:actionStatus>
			</div>
			<table id="table" class="table iris-table" data-type="iris-sortable" data-trigger=".iris-action-sort" data-function="apex_sortRow" >
				<!-- テーブルヘッダ -->
				<thead><tr>
					<th style="width: 10%">
						<apex:variable var="lapsedDayClass" value="{!IF(sortType == 'lapsedDay' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
						<a href="?st=lapsedDay" data-sort="lapsedDay" class="iris-action-sort {!lapsedDayClass}">失効手続<br/>処理日　</a>
					</th>
					<th style="width: 10%">
						<apex:variable var="contractorClass" value="{!IF(sortType == 'contractor' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
						<a href="?st=contractor" data-sort="contractor" class="iris-action-sort {!contractorClass}">契約者</a>
					</th>
					<th style="width: 10%">
						<apex:variable var="policyTypeClass" value="{!IF(sortType == 'policyType' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
						<a href="?st=policyType" data-sort="policyType" class="iris-action-sort {!policyTypeClass}">保険種類</a>
					</th>
					<!--<th style="width: 9%">
						<apex:variable var="insuredClass" value="{!IF(sortType == 'insured' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
						<a href="?st=insured" class="iris-action-sort {!insuredClass}">被保険者</a>
					</th>-->
					<!--<th style="width: 9%">
						<apex:variable var="policyAmountClass" value="{!IF(sortType == 'policyAmount' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
						<a href="?st=policyAmount" class="iris-action-sort {!policyAmountClass}">保険金額</a>
					</th>-->
					<th style="width: 9%">
						<apex:variable var="policyFeeClass" value="{!IF(sortType == 'policyFee' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
						<a href="?st=policyFee" data-sort="policyFee" class="iris-action-sort {!policyFeeClass}">保険料</a>
					</th>
					<th style="width: 9%">
						<apex:variable var="policyNumClass" value="{!IF(sortType == 'policyNum' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
						<a href="?st=policyNum" data-sort="policyNum" class="iris-action-sort {!policyNumClass}">証券番号</a>
					</th>
					<th style="width: 10%">
						<apex:variable var="contractDayClass" value="{!IF(sortType == 'contractDay' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
						<a href="?st=contractDay" data-sort="contractDay" class="iris-action-sort {!contractDayClass}">契約日</a>
					</th>
					<!--<apex:outputPanel rendered="{!agencyFlag}" layout="none">
						<th>
							<apex:variable var="agencyClass" value="{!IF(sortType == 'agency' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
							<a href="?st=agency" class="iris-action-sort {!agencyClass}">代理店</a>
						</th>
					</apex:outputPanel>-->
					<apex:outputPanel rendered="{!officeFlag}" layout="none">
						<th style="width: 12%">
							<apex:variable var="officeClass" value="{!IF(sortType == 'office' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
							<a href="?st=office" data-sort="office" class="iris-action-sort {!officeClass}">代理店事務所</a>
						</th>
					</apex:outputPanel>
					<apex:outputPanel rendered="{!contactFrag}" layout="none">
						<th style="width: 10%">
							<apex:variable var="agentClass" value="{!IF(sortType == 'agent' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
							<a href="?st=agent" data-sort="agent" class="iris-action-sort {!agentClass}">募集人</a>
						</th>
					</apex:outputPanel>
					<!--スプリントバックログ12(2017/1/17)  担当MR名→担当MRに。テーブルデータのtitleも同様-->
					<apex:outputPanel rendered="{!manegeMRFlag}" layout="none">
						<th style="width: 10%">
							<apex:variable var="mrNameClass" value="{!IF(sortType == 'mrName' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
							<a href="?st=mrName" data-sort="mrName" class="iris-action-sort {!mrNameClass}">担当ＭＲ</a>
						</th>
					</apex:outputPanel>
				</tr></thead>
				<!--テーブルボディ-->
				<tbody>
					<apex:repeat value="{!policyList}" var="row" rows="{!rowCount}" >
						<tr data-type="iris-dynamic-linker" data-href="{!row.pageURL}" data-target="_blank">
							<td title="失効手続処理日" >{!row.lapsedDay}</td>
							<td title="契約者">{!row.contractor}</td>
							<td title="保険種類" >
								<!-- SITP(2017/12/1R) 保健種類(結合)表示対応　格納項目を変更 <br>タグ含むための考慮-->
								<apex:outputText value="{!row.policyType}" escape="false"/>
							</td>
							<!--<td title="被保険者" >{!row.insured}</td>-->
							<!--<td title="保険金額" >{!row.policyAmount}</td>-->
							<td title="保険料" >{!row.policyFee}</td>
							<td title="証券番号" >{!row.policyNum}</td>
							<td title="契約日" >{!row.contractDay}</td>
							<!--<apex:outputPanel rendered="{!agencyFlag}" layout="none">
								<td title="代理店">{!row.agency}</td>
							</apex:outputPanel>-->
							<apex:outputPanel rendered="{!officeFlag}" layout="none">
								<td title="代理店事務所">{!row.office}</td>
							</apex:outputPanel>
							<apex:outputPanel rendered="{!contactFrag}" layout="none">
								<td title="募集人">{!row.agent}</td>
							</apex:outputPanel>
							<apex:outputPanel rendered="{!manegeMRFlag}" layout="none">
								<td title="担当MR">{!row.mrName}</td>
							</apex:outputPanel>
						</tr>
					</apex:repeat>
				</tbody>
			</table>
			<!--もっと見るボタン-->
			<apex:outputPanel rendered="{!rowCount < listMaxRows && rowCount < listRows }">
				<div class="iris-btn-panel">
					<apex:actionStatus id="moreCallStatus" layout="inline">
						<apex:facet name="stop">
							<apex:commandbutton styleClass="btn iris-lg-btn" action="{!addRows}" value="もっと見る" rerender="form" status="moreCallStatus"/>
						</apex:facet>
						<apex:facet name="start">
							<img src="{!URLFOR($Resource.irisResources, 'images/icon-loading.svg')}" />
						</apex:facet>
					</apex:actionStatus>
				</div>
			</apex:outputPanel>
		</apex:form>
	</c:IRIS_UIFrame>

<style type="text/css">
	/*ソートした際にテーブルヘッダーが動かないよう指定*/
	#table{
		table-layout: fixed;
		word-wrap: break-word;
	}
</style>
</apex:page>