<apex:page controller="I_NewPolicyController" action="{!pageAction}" id="page" cache="false" showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
<style type="text/css">
	.iris-table:first-child td:before{
		float: left;
	}
	.iris-disclaimer {
		text-align: left;
	}
	.iris .iris-owner-list-header .iris-owner-list-summary {
		float: right;
		padding-top: 10px;
	}
/*	.status_label  {
		display: inline-block;
		text-align: center;
		color: white;
		width: 60px;
		padding: 5px;
		border-radius: 5px;
	}
	@media (max-width: 991px){
		.status_label {
			width: auto;
			font-size: 1rem;
		}
	}
	.label_light_green {
		background-color: #c8cd2e;
	}
	.label_dark_orange {
		background-color: #e64415;
	}
	.label_light_blue {
		background-color: #a4ccea;
	}
	.label_light_gray {
		background-color: #cac7c7;
	}
	.label_light_orange {
		background-color: #ee7f00;
	}
	.label_light_purple {
		background-color: #c6bfe0;
	}*/
	.iris .category-newOpp .iris-owner-list-header {
		border-bottom: 4px solid #ea650d;
		margin-bottom: 30px;
	}

	.iris .category-newOpp .iris-owner-list-header::after {
		content: "";
		display: table;
		clear: both;
	}

	.iris .category-newOpp .iris-owner-list-header h1 {
		border-bottom-width: 0;
		margin: 0;
		float: left;
	}

	.iris .category-newOpp .iris-owner-list-header .iris-owner-list-summary {
	  float: right;
	  padding-top: 10px;
	}
	.iris-list-header-indention{
		display: inline-block;
		text-align: center;
		padding-top: 10px;
		height: 50%;
		top: 8px;
		position: relative;
	}
	.table th, .table td {
		padding: 0.75rem 0.25rem;
	}
	.td-money{
		text-align : right;
	}
	td.status-column::before{
		float: left;
	}
		
	@media (max-width: 991px){
		.iris .iris-table td {
			text-align: left; 
		}
		.td-money{
			text-align : left; 
		}
	}
</style>
	<apex:stylesheet value="{!URLFOR($Resource.irisResourceAMS, 'css/AMS_Style.css')}" html-media="all" />
	<c:IRIS_UIFrame pageTitle="{!menu.name}" categoryStyleClass="{!menu.MainCategoryStyleClass__c}" pageMessages="{!pageMessages}">
		<apex:outputPanel layout="block" styleclass="iris-content-wrapper">
			<apex:form id="form" styleClass="iris-section">
				<header class="iris-owner-list-header">
					<h1 class="iris-owner-list-title">申込手続き中のご契約</h1>
					<div class="iris-owner-list-summary">
						<apex:outputtext value="{0, number, ###,###} 件">
							<apex:param value="{!totalRows}"></apex:param>
						</apex:outputtext>
						<apex:outputtext value="　" />
						<apex:outputText value="{!SyncDate}" />
					</div>
				</header>
				<div class="iris-disclaimer">{!disclaimer['NPL|001']}</div>
				<apex:actionFunction action="{!sortRows}" name="apex_sortRow" rerender="form" status="sortCallStatus">
					<apex:param name="st" value="" />
				</apex:actionFunction>
				<!-- モバイル版ソート -->
				<div>
					<div class="d-inline-block container-flued hidden-lg-up" >
						<div class="form-group">
							<apex:selectList value="{!sortType}" readOnly="true" styleClass="custom-select iris-custom-select" multiselect="false" size="1" onchange="apex_sortRow(this.value);">
								<apex:selectOption itemValue="status" itemLabel="状況"/>
								<apex:selectOption itemValue="statusDate" itemLabel="発信日" />
								<apex:selectOption itemValue="owner" itemLabel="契約者" />
								<apex:selectOption itemValue="insured" itemLabel="被保険者" />
								<apex:selectOption itemValue="GRUPKEY" itemLabel="団体番号"/>
								<apex:selectOption itemValue="cntType" itemLabel="保険種類"/>
								<apex:selectOption itemValue="insttot01" itemLabel="保険料"/>

								<apex:selectOption itemValue="office" itemLabel="代理店事務所" rendered="{!isViewOffice}"/>
								<apex:selectOption itemValue="agent" itemLabel="募集人" rendered="{!isViewAgent}"/>
							</apex:selectList>
							<button href="#" class="btn {!IF(sortIsAsc, 'btn-info', 'btn-warning')}" type="button" onclick="apex_sortRow('{!sortType}');">
								<apex:outputText value="{!IF(sortIsAsc, '昇順', '降順')}" />
							</button>
						</div>
					</div>
					<apex:actionStatus startStyleClass="p-l-1" id="sortCallStatus" layout="inline">
						<apex:facet name="start">
							<img height="34px" src="{!URLFOR($Resource.irisResources, 'images/icon-loading.gif')}" />
							<span>通信中...</span>
						</apex:facet>
					</apex:actionStatus>
				</div>

				<table id="table" class="table iris-table" >
					<!-- テーブルヘッダ -->
					<thead>
						<tr >
							<th style="width: 7%">
								<apex:variable var="statusClass" value="{!IF(sortType == 'status' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
								<a href="?st=status" class="iris-action-sort {!statusClass}">状況</a>
							</th>
							<th style="width: 3%">
								<apex:variable var="statusDateClass" value="{!IF(sortType == 'statusDate' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
								<a href="?st=statusDate" class="iris-action-sort {!statusDateClass}"><span>発信日</span></a>
							</th>
							<th style="width: 1%">
							</th>
							<th style="width: 20%">
								<apex:variable var="ownerClass" value="{!IF(sortType == 'owner' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
								<a href="?st=owner" class="iris-action-sort {!ownerClass}">契約者</a>
							</th>
							<th style="width: 10%">
								<apex:variable var="insuredClass" value="{!IF(sortType == 'insured' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
								<a href="?st=insured" class="iris-action-sort {!insuredClass}">被保険者</a>
							</th>
							<th style="width: 8%">
								<apex:variable var="GRUPKEYClass" value="{!IF(sortType == 'GRUPKEY' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
								<a href="?st=GRUPKEY" class="iris-action-sort {!GRUPKEYClass}">団体番号</a>
							</th>
							<th style="width: 8%">
								<apex:variable var="CHDRNUMClass" value="{!IF(sortType == 'CHDRNUM' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
								<a href="?st=CHDRNUM" class="iris-action-sort {!CHDRNUMClass}">証券番号</a>
							</th>
							<th style="width: 10%">
								<apex:variable var="cntTypeClass" value="{!IF(sortType == 'cntType' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
								<a href="?st=cntType" class="iris-action-sort {!cntTypeClass}">保険種類</a>
							</th>
							<th style="width: 8%">
								<apex:variable var="insttot01Class" value="{!IF(sortType == 'insttot01' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
								<a href="?st=insttot01" class="iris-action-sort {!insttot01Class}">保険料</a>
							</th>
							<apex:outputPanel rendered="{!isViewOffice}" layout="none">
								<th style="width: 10%">
									<apex:variable var="officeClass" value="{!IF(sortType == 'office' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
									<a href="?st=office" class="iris-action-sort {!officeClass}">代理店<br/>事務所</a>
								</th>
							</apex:outputPanel>
							<apex:outputPanel rendered="{!isViewAgent}" layout="none">
								<th style="width: 10%">
									<apex:variable var="agentClass" value="{!IF(sortType == 'agent' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
									<a href="?st=agent" class="iris-action-sort {!agentClass}">募集人</a>
								</th>
							</apex:outputPanel>
							<!--<apex:outputPanel rendered="{!isViewMR}" layout="none">
								<th>
									<apex:variable var="MRClass" value="{!IF(sortType == 'MR' , IF(sortIsAsc, 'asc', 'desc'), '')}" />
									<a href="?st=MR" class="iris-action-sort {!MRClass}">担当MR</a>
								</th>
							</apex:outputPanel>-->
						</tr>
					</thead>
					<tbody>
						<apex:repeat value="{!newPolicys}" var="row" rows="{!rowCount}">
							<tr data-href="{!row.destURL}" data-target="_blank">
								<td title="状況" class="status-column">
									<div class="iris-ams-status">
										<div class="status_label {!row.styleClass}" >
											<apex:outputText rendered="{!row.styleClass == 'label_status_p1'}">書類到着<br class="hidden-md-down"/>査定中</apex:outputText>
											<apex:outputText rendered="{!row.styleClass == 'label_status_p2'}">不備<br class="hidden-md-down"/>対応中</apex:outputText>
											<apex:outputText rendered="{!row.styleClass == 'label_status_p3'}">査定完了<br class="hidden-md-down"/>入金待ち</apex:outputText>
											<apex:outputText rendered="{!row.styleClass == 'label_status_p4'}">確認中</apex:outputText>
											<apex:outputText rendered="{!row.styleClass == 'label_status_i'}">成立</apex:outputText>
											<apex:outputText rendered="{!row.styleClass == 'label_status_q'}">取り下げ</apex:outputText>
											<apex:outputText rendered="{!row.styleClass == 'label_status_qz'}">謝絶<br class="hidden-md-down"/>取り下げ</apex:outputText>
											<apex:outputText rendered="{!row.styleClass == 'label_status_z'}">謝絶</apex:outputText>
										</div>
									</div>
								</td>
								<td title="発信日">{!row.JSTDateStr}</td>
								<td title="個/団">
									<apex:image url="{!URLFOR($Resource.irisResourceAMS, 'icon/icon-group24gray.png')}" rendered="{!row.isZGRUP == true}"/>
									<apex:image url="{!URLFOR($Resource.irisResourceAMS, 'icon/icon-indi24.png')}" rendered="{!row.isZGRUP == false}"/>
								</td>
								<td title="契約者">{!row.owner}</td>
								<td title="被保険者">{!row.insured}</td>
								<td title="団体番号">{!row.GRUPKEY}</td>
								<td title="証券番号">{!row.CHDRNUM}</td>
								<td title="保険種類">{!row.cntType}</td>
								<td class="td-money" title="保険料">
									<apex:outputtext value="{0, number, ###,###,###}">
										<apex:param value="{!row.insttot01}"/>
									</apex:outputtext>
								</td>
								<apex:outputPanel rendered="{!isViewOffice}" layout="none">
									<td title="代理店事務所">{!row.office}</td>
								</apex:outputPanel>
								<apex:outputPanel rendered="{!isViewAgent}" layout="none">
									<td title="募集人名">{!row.agent}</td>
								</apex:outputPanel>
								<!--<apex:outputPanel rendered="{!isViewMR}" layout="none">
									<td title="担当MR">{!row.mr}</td>
								</apex:outputPanel>-->
							</tr>
						</apex:repeat>
					</tbody>
				</table>
				<apex:outputPanel rendered="{!rowCount < listMaxRows && rowCount < totalRows }" >
				<div class="iris-btn-panel">
					<apex:actionStatus id="moreCallStatus" layout="inline">
						<apex:facet name="stop">
							<apex:commandbutton styleClass="btn iris-lg-btn" action="{!addRows}" value="もっと見る" rerender="form" status="moreCallStatus"/>
						</apex:facet>
						<apex:facet name="start">
							<img src="{!URLFOR($Resource.irisResources, 'images/icon-loading.svg')}" />
						</apex:facet>
					</apex:actionStatus>
				</div>
			</apex:outputPanel>
			</apex:form>
		</apex:outputPanel>
	</c:IRIS_UIFrame>


	<script>
		iris$(function(){

			var $document = iris$(document);
			// テーブルのソートを行う
			$document.on('click', function(e){
				var result = true;
				var $target = iris$(e.target).closest('.iris-action-sort');
				// 指定クラスのイベントでなければ何もしない
				if (!$target[0]) {
					return;
				}
				var href = $target.attr('href');
				var valuesByKey = irisUtils.parseUrlVarToObject(href);
				if (valuesByKey.hasOwnProperty('st')) {
					// apexコントローラの処理をコールする。
					apex_sortRow(valuesByKey.st);
				}
				return false;
			})
			// テーブルの行をクリックした際の処理を行う
			$document.on('click', function(e) {
				var $row = iris$(e.target).closest('tr[data-href]');
				// 対象でなければ何もしない
				if (!$row[0]) {
					return;
				}
				// 無効化されていた場合は何もしない
				if ($row.hasClass('.iris-state-disable')) {
					return;
				}
				irisUtils.jumpTo($row.attr('data-href'), $row.attr('data-target'));
			});
		});
	</script>
</apex:page>