<apex:page showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0" cache="false">

    <head>
    <title>ご友人登録ThankYouページ</title>
    <link href="{!URLFOR($Resource.nnlink, '/icon/favicon.ico')}" rel="shortcut icon" type="image/icon" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <site:googleAnalyticsTracking />
    </head>

    <apex:stylesheet value="{!URLFOR($Resource.nn_html, 'stylesheets/css/style-nn.css')}" html-media="all" />
    <apex:stylesheet value="{!URLFOR($Resource.nn_html, 'stylesheets/css/index.css')}" html-media="all" />
    <apex:stylesheet value="{!$Resource.nlinkstrap}" html-media="all" />
    <apex:stylesheet value="{!URLFOR($Resource.MK_Style, 'stylesheets/css/MK_Style.css')}" html-media="all" />

    <body>
        <div class="page nnMK">
            <!-- ヘッダ部分 -->
            <div id="top-inner">
                <div class="container">
                    <!-- Logo -->
                    <div class="container-inner">
                        <apex:image value="{!URLFOR($Resource.nn_html, '/images/nn/logo.png')}" styleClass="logo" />
                    </div>
                    <!-- Application Name -->
                    <div class="descriptor"></div>
                </div>
            </div>
            <!-- メイン部分　-->
            <main class="main-content container" role="main">
                <!-- エラーメッセージ -->
<!--                <apex:outputPanel rendered="{!if (pageMessages != '',true,false)}" layout="none">
                    <div class="pageMessages_wrapper">
                        <c:E_PageMessages Messages="{!pageMessages}" Severity="ERROR" Instruction="" />
                    </div>
                </apex:outputPanel>-->

                <div class="row">
                    <div style="margin: 0 auto;width: 80%;padding: 3px">
                        <apex:form id="form1">
                            <div>
                                <div>この度はバトンプロジェクトにご登録いただき誠にありがとうございます。</div><br />

                                <div>後日弊社代理店がご訪問調整のご連絡をさせていただきます。</div><br />

                                <div>特典のお渡しに関しては、弊社代理店とお会いになったことが確認でき次第、</div>
                                <div>契約者様とご友人の方へ特典ご案内のメールをお送りさせていただきます。</div><br />

                                <div>今後とも何卒よろしくお願い申し上げます。</div><br />

                                <div>エヌエヌ生命保険株式会社</div>
                                <div><apex:outputLink value="https://www.nnlife.co.jp" target="_blank">https://www.nnlife.co.jp</apex:outputLink></div>
                            </div>
                        </apex:form>

                    </div>
                </div>
            </main>
        </div>
    </body>
</apex:page>