<apex:page controller="MNT_PamhletSearchCSVController" readOnly="true" cache="{!CacheSetting}"
                contentType="application/octet-stream;charset=Windows-31J;#あ{!fileName}">{!csvHeader}
    <apex:repeat value="{!csvLines}" var="ln">{!ln}</apex:repeat>
    <apex:outputText escape="false" rendered="{!showDebug}" value="{!debugStrings}"/>
</apex:page>