<apex:page id="BudgetTotalPg" controller="OppBudgetTotalizationController">
<script type="text/javascript">
    // Enterキーによるsubmit禁止
    function disableEnterAction(e){
        var keyCode;
        if(e && e.which){
            keyCode = e.which;
        } else {
            keyCode = event.keyCode;
        }
        return (keyCode != 13);
    }

    // 必須項目チェック
    function checkRequiredItem(val,msg) {
        if (val == '') {
            if (msg != '') {
                alert(msg + 'が指定されていません。');
            }
            return false;
        }
        return true;
    }

    // 日付形式チェック
    function checkDate(dateStr) {
        if(!/^(\d{4})\/(\d{2})$/.test(dateStr)) {
            return false;
        } else {
            var month = dateStr.substring(5);
            if (month > 0 && month <= 12) {
                return true;
            } else {
                return false;
            }
        }
        return false;
    }

    // 現在年月挿入
    function insertMonth(strDate) {
        document.getElementById('BudgetTotalPg:BudgetTotalFrm:BudgetTotalBlock:totalizationDate').value = strDate;
    }

    // 未処理領域表示・非表示
    function noDisplay() {
        if (document.getElementById('pbSubsection')) {
            if (document.getElementById('pbSubsection').style.display == 'none') {
                document.getElementById('pbSubsection').style.display = 'inline';
            } else {
                document.getElementById('pbSubsection').style.display = 'none';
            }
        }
    }
</script>

<apex:form id="BudgetTotalFrm">
<apex:actionFunction action="{!procTotalization}" id="goTotalization" name="goTotalization" />
<script type="text/javascript">
    // 集計ボタン処理
    function doTotalization() {
        var vDate = document.getElementById('BudgetTotalPg:BudgetTotalFrm:BudgetTotalBlock:totalizationDate').value;
        if (checkRequiredItem(vDate, '集計年月')) {
            if (!checkDate(vDate)) {
                alert('入力形式が正しくありません。日付形式(YYYY/MM)で入力してください。');
                return false;
            } else {
                // 営業部予算への反映処理
                goTotalization();
            }
        }
    }
</script>

<apex:pageBlock id="BudgetTotalBlock">
    <table width="300px">
        <tr>
            <!-- 集計年月 -->
            <td width="50%" align="left" valign="center" class="requiredInput">
                <span class="requiredMark">*</span>
                <apex:outputLabel value="集計年月" />
            </td>
            <td width="50%" align="right" valign="center" class="requiredInput" nowrap="yes">
                <div class="requiredBlock"></div>
                <apex:inputText id="totalizationDate" value="{!inpDate}" tabindex="1" onkeypress="return disableEnterAction(event)" maxlength="7" style="ime-mode:disabled" />
                <apex:outputLabel value="[ " />
                <apex:outputLink id="nowDate" value="javascript:void(insertMonth('{!NowMonth}'));" tabindex="2">{!NowMonth}</apex:outputLink>
                <apex:outputLabel value=" ]" />
            </td>
        </tr>
        <tr>
            <td width="50%" align="left" valign="center">&nbsp;</td>
            <td width="50%" align="right" valign="center">
                <apex:commandButton id="btnTotalization" tabindex="3" value="集計" onclick="doTotalization();" rerender="msgErrArea" />
            </td>
        </tr>
    </table>

    <apex:pageMessages id="messagearea" showDetail="false" />

    <p />

	<apex:outputPanel id="msgErrArea" rendered="{!isErrMsg}" layout="block">
		<div class="pbSubheader first tertiaryPalette">
			<img src="/s.gif" alt="セクションを非表示 - 【未処理内容】"  class="hideListButton" id="img_BudgetTotalPg:BudgetTotalFrm:BudgetTotalBlock:msgErrArea" name="【未処理内容】" onclick="noDisplay();" style="cursor:pointer;" title="セクションを非表示 - 【未処理内容】"/>
			<h3>【未処理内容】</h3>
		</div>
		<div id="pbSubsection" class="pbSubsection" style="display:inline;">
			<apex:outputPanel rendered="{!AND(isCustomErr,!isOppErr)||AND(isCustomErr,isOppErr)}"><br /></apex:outputPanel>
			<apex:outputLabel id="resultErrMsg1" rendered="{!isCustomErr}" value="以下の「営業部予算」に対する集計データが存在しません。" /><br/>
    		<apex:pageBlockTable id="resultErrList1" value="{!errCustomList}" var="item" rendered="{!isCustomErr}" width="100%">
    			<apex:column headervalue="ID">
		    		<apex:outputLabel value="{!item.Id}" />
				</apex:column>
				<apex:column headervalue="エリア">
	   				<apex:outputLabel value="{!IF(ISNULL(item.Area__c), '　', item.Area__c)}" />
				</apex:column>
				<apex:column headervalue="営業部">
		    		<apex:outputLabel value="{!IF(ISNULL(item.Field5__c), '　', item.Field5__c)}" />
				</apex:column>
				<apex:column headervalue="分類名">
	   				<apex:outputLabel value="{!IF(ISNULL(item.GroupName__c), '　', item.GroupName__c)}" />
				</apex:column>
				<apex:column headervalue="予算区分">
	   				<apex:outputLabel value="{!IF(ISNULL(item.Type__c), '　', item.Type__c)}" />
				</apex:column>
			</apex:pageBlockTable>
			<apex:outputPanel rendered="{!AND(isCustomErr,isOppErr)}"><br /></apex:outputPanel>
		  	<apex:outputLabel id="resultErrMsg2" rendered="{!isOppErr}" value="以下の集計データキーと一致する「営業部予算」データが存在しません。" /><br/>
    		<apex:pageBlockTable id="resultErrList2" value="{!errOppList}" var="item2" rendered="{!isOppErr}" rowClasses="odd,even" styleClass="tableClass" width="100%">
	    		<apex:column headervalue="エリア">
	   				<apex:outputLabel value="{!IF(ISNULL(item2.mArea), '　', item2.mArea)}" />
				</apex:column>
				<apex:column headervalue="営業部">
			    	<apex:outputLabel value="{!IF(ISNULL(item2.mSalesUnit), '　', item2.mSalesUnit)}" />
				</apex:column>
				<apex:column headervalue="分類名">
		   			<apex:outputLabel value="{!IF(ISNULL(item2.mGroupName), '　', item2.mGroupName)}" />
				</apex:column>
				<apex:column headervalue="予算区分">
		   			<apex:outputLabel value="{!IF(ISNULL(item2.mType), '　', item2.mType)}" />
				</apex:column>
			</apex:pageBlockTable>
			<apex:outputPanel rendered="{!AND(!isCustomErr,isOppErr)||AND(isCustomErr,isOppErr)}"><br /></apex:outputPanel>
		</div>
	</apex:outputPanel>
</apex:pageBlock>
</apex:form>
</apex:page>