<apex:page controller="RedCritterPageController" >
    <apex:canvasApp applicationName="RedCritter_Rewards" border="none" scrolling="no" width="100%" maxWidth="infinite" maxHeight="infinite" parameters="{!AdminControllerParams}"/>
</apex:page>