<apex:component layout="block">

	<table style="border:1px solid #999999;margin-left:15px;">
		<tr>
			<td style="padding:10px;">
				<span>PDFファイルをご覧になるには、Adobe Readerが必要です。<br/>お持ちでない方は右のリンクからダウンロードしてください。
				</span>
			</td>
			<td style="text-align:center;padding:10px;">
				<apex:outputLink value="{!$Label.E_URL_AcrobatReader}" target="_target">
					<apex:image url="{!URLFOR($Resource.nnlink, '/icon/GetAdobeReader.png')}" 
								alt="AcrobatReader"/>
				</apex:outputLink>
			</td>
		</tr>
	</table>

</apex:component>