<apex:component >
    <apex:attribute name="isIRIS" type="Boolean" description="" default="false"/>

	<!-- NNLinkフッター -->
	<apex:outputPanel layout="none" rendered="{!!isIRIS}">
		<c:E_SiteContainer type="col-md-12" style="text-align:center;margin-top:1em;margin-bottom:1em;font-size:80%;">
			<apex:outputText value="{!$Label.E_COPYRIGHT}"/>
		</c:E_SiteContainer>
	</apex:outputPanel>

	<!-- IRISフッター -->
	<apex:outputPanel layout="none" rendered="{!isIRIS}">
		<div class="iris-footer">
			<c:IRIS_Footer />
		</div>
	</apex:outputPanel>
</apex:component>