<apex:component >

	<apex:attribute type="String" name="pgKey" default="" description="ページキーを設定してください"/>
	<apex:attribute type="String" name="unit" default="" description="単位を設定してください（件）"/>
	<apex:attribute type="String" name="soql" default="" description="個別にSOQLを設定する場合にJSON（RESTAPI用）で指定してください"/>

	<span id="rec-count-{!pgKey}">
		<span class="count-result"></span>
		<span class="limit-over" style="display:none;">+</span>
		<span>{!unit}</span>
	</span>


	<script type="text/javascript">
		<!-- TODO irisResoucesに入れる -->
		// 画面全体で一回だけ生成されるようにする。
		window.requestCount = window.requestCount || (function() {
			'use strict';
			jQuery.ajaxSetup({ cache: false });
			var requestCount = function requestCount(pgkey, soqlstr) {
				if (!soqlstr) {
					//SOQLが指定されていない場合はPageMasterからSOQL分を取得。
					buildCountQuery(pgkey);
				} else {
					var soqlJson = JSON.parse(soqlstr);
					//SOQLが指定されている場合はそちらを利用する。
					jQuery('#rec-count-' + pgkey + ' .count-result').text('');
					for(var i=0;i<soqlJson.length;i++){
						count_query(pgkey, soqlJson[i], 1000);
					}
				}
			};

			function callBeforeSend(xhr) {
				// TODO ゲストユーザだった場合INVALID_SESSION_IDが発生
				// Set the OAuth header from the session ID
				xhr.setRequestHeader('Authorization', 'Bearer {!$Api.Session_ID}');
			}

			function callError(jqXHR, textStatus, errorThrown) {
				console.log(jqXHR, textStatus, errorThrown.stack);
				// Oops - what went wrong?
				if(jqXHR.status != 0){
					alert(jqXHR.status + ': ' + errorThrown + '<soql:' + soql_pageMaster + '>' + '<response:' + jqXHR.responseText + '>');
				}
			}

			function buildCountQuery(pgKey){
				// PageMasterの取得⇒クエリ組立
				var soql_pageMaster = "SELECT+Id,Name,count_soql__c,LimitCount__c+FROM+I_PageMaster__c+WHERE+page_unique_key__c='"+pgKey+"'";
				var callbacksByName = {};
				callbacksByName.url = '{!$Site.Prefix}/services/data/v38.0/query?q=' + soql_pageMaster;
				callbacksByName.beforeSend = callBeforeSend;
				callbacksByName.error = callError;
				callbacksByName.success = function(response) {
					if(response.totalSize==0){
						jQuery('#rec-count-'+pgKey +' .count-result').text('N/A');
						return;
					}
					jQuery.each(response.records, function(index, record) {
						var soql = record.count_soql__c;
						if(record.LimitCount__c!=null){
							soql+='+Limit+'+record.LimitCount__c;
						}
						//レコード件数取得
						count_query(pgKey, soql, record.LimitCount__c);
					});
				};
				jQuery.ajax(callbacksByName);
			}

			function count_query(pgKey, soql, limit){
				var callbacksByName = {};
				callbacksByName.url = '{!$Site.prefix}/services/data/v38.0/query?q=' + soql;
				callbacksByName.dataType = 'json';
				callbacksByName.beforeSend = callBeforeSend;
				callbacksByName.error = callError;
				callbacksByName.success = function(response) {
					if(response.totalSize > 0){
						var recSize = response.totalSize;
						if(soql.indexOf('group+by+') < 0){		//Group Byが含まれていない場合
							recSize = response.records[0].expr0;
						}	
						
						//既に設定してあるレコードサイズに追加する
						var $elm = jQuery('#rec-count-'+pgKey+' .count-result');
						recSize = recSize + Number($elm.text());
						$elm.text(recSize);
						if(limit!=null && recSize>=limit){
							$elm.text(limit);
							jQuery('#rec-count-'+pgKey+' .limit-over').show();
						}
					}
				};
				jQuery.ajax(callbacksByName);
			};

			return requestCount;
		})();
		jQuery(document).ready(function() {
			requestCount('{!pgKey}', '{!JSENCODE(soql)}');
		});
	</script>

</apex:component>