<apex:component controller="I_AttachmentFileUploadController" allowDML="true">
<apex:attribute name="pm_record" access="public" type="sObject" assignTo="{!record}" description="" required="true" />
<apex:attribute name="pm_isSingle" access="public" type="Boolean" assignTo="{!isSingle}" description="" required="true" />
<apex:attribute name="pm_isOldIE" access="public" type="Boolean" description="" required="true" />
<apex:attribute name="pm_pageType" access="public" type="String" assignTo="{!pageType}" description="" required="true" />
<apex:attribute name="pm_isGW" access="public" type="Boolean" description="GW経由かの判定" required="true" />
<apex:attribute name="pm_isAgent" access="public" type="Boolean" description="募集人かの判定" required="true" />

<script src="/soap/ajax/43.0/connection.js"></script>

<script type="text/javascript">
sforce.connection.sessionId='{!GETSESSIONID()}';

// GW経由（募集人）
if({!pm_isAgent} && {!pm_isGW}){
    sforce.connection.serverUrl='{!Url_via_GW}/services/Soap/u/43.0';
// Internet経由（募集人）
}else if({!pm_isAgent} && !{!pm_isGW}){
    sforce.connection.serverUrl='{!Url_via_Internet}services/Soap/u/43.0';
}

$(function() {
    // ドラッグ&ドロップ
    $("#dropzone").on('dragover', function(_e){
        var e = _e;
        if( _e.originalEvent ){
            e = _e.originalEvent;
        }
        e.preventDefault();
    });
    $("#dropzone").on('dragleave', function(_e){
        var e = _e;
        if( _e.originalEvent ){
            e = _e.originalEvent;
        }
        e.preventDefault();
    });
    $("#dropzone").on('drop', function(_e){
        var e = _e;
        if( _e.originalEvent ){
            e = _e.originalEvent;
        }
        e.stopPropagation();
        e.preventDefault();
        var files = e.dataTransfer;
        fileUpload(files);
    });
});


function fileSizeCheck(fieldName) {
    var targetID = "#" + fieldName.replace(/:/g, "\\:");
    var file = jQuery(targetID).val();
    var myIMG = jQuery("#myIMG");

    myIMG.src = file;
    console.log(myIMG);
    console.log(myIMG.size());
    return true;
}

/*
 * ファイル削除
 */
function deleteFile(fileId) {
    if(window.confirm('削除します。よろしいですか？'))　{
        I_AttachmentFileUploadController.fileDeleteById(fileId, function(result, event) {
            if (event.status) {
                console.log(result);
                reloadListAll();
            }
        });
    }
}

/*
 * ファイルアップロード
 */
function fileUpload(inputFiles) {
    console.log(inputFiles);
    if (inputFiles.files.length == 0) {
        return;
    }

    jQuery(".message").hide();    // メッセージエリア非表示
    jQuery(".msgText").html('');  // メッセージ クリア
    jQuery("#loading").show();    // ローディングアイコン表示
    if ({!isSingle}) {
        // 単一アップロード時は既存のリストを非表示にする
        jQuery(".listDiv").hide();   
    }

    // ファイル
    var fileList = inputFiles.files;
    var maxLoop = fileList.length;
    if ({!isSingle}) {
        maxLoop = 1;
    }
    for ( var i = 0; i < maxLoop; i++ ) {
        (function() {
            var j = i;
            var file = fileList[j];
 
            console.log(file);
            // sizeチェック
            if (file.size > 10485760) {
                alert("ファイルが大きすぎます。10MB以下のファイルを指定してください。");
                jQuery("#loading").hide();
                jQuery(".listDiv").show();
                return;
            }

            var fileReader = new FileReader();
            fileReader.onloadend = function() {
                var dataURL = fileReader.result;
                var att = new sforce.SObject("Attachment");
                att.Name = file.name;
                att.Body = dataURL.match(/,(.*)$/)[1];
                att.parentId = "{!record.Id}";
                att.description = "{!pageType}";
                var result = sforce.connection.create([att]);
                console.log(result);

                if (result[0].getBoolean("success")) {
                    if ({!isSingle}) {
                        var apexWrapper = {
                            "parentId" : "{!record.Id}",
                            "fileId" : result[0].id,
                            "pageType": "{!pageType}"
                        };
                        console.log(apexWrapper);
                        // 古いファイルを削除
                        I_AttachmentFileUploadController.fileDelete(apexWrapper, function(result, event) {
                            if (event.status) {
                                jQuery("#confirmMessage").show();
                                var msg = jQuery("#confirmMessageText").html();
                                jQuery("#confirmMessageText").html(msg + file.name + ' アップロード完了<br/>');
                                reloadList();
                                updateMessage();
                            } else {
                                jQuery("#errorMessage").show();
                                var msg = jQuery("#errorMessageText").html();
                                jQuery("#errorMessageText").html(msg + event.message + '<br/>');
                            }
                        });
                    } else {
                        // 複数時はDeleteは呼ばずにリロード
                        jQuery("#confirmMessage").show();
                        var msg = jQuery("#confirmMessageText").html();
                        jQuery("#confirmMessageText").html(msg + file.name + ' アップロード完了<br/>');
                        reloadList();
                        updateMessage();
                    }
                } else {
                    jQuery("#errorMessage").show();
                    var msg = jQuery("#errorMessageText").html();
                    jQuery("#errorMessageText").html(msg + result[0].errors.message + '<br/>');

                }
            }
            fileReader.readAsDataURL(file);
        })();
    }
}

/*
 * 旧IE用ファイルアップロード
 */
function fileUploadIE() {
    jQuery("#loading").show();
    fileUploadOldIE();
    if ({!isSingle}) {
        jQuery(".listDiv").hide();
    }
}

/*
 * delete Modal Window 表示
 */
function openDeleteModal() {
    $("#deleteModal").click();
}

function closeDeleteModal() {
    $('#modalClose').click();
}

</script>
<style>
.dropzone {
    background: white none repeat scroll 0 0;
    border: 2px dashed #a1adb3;
    /*border-radius: 5px;*/
    margin: 0 1rem 1rem;
    position: relative;
    display: inline-block;
}

.dropzone, .dropzone * {
    box-sizing: border-box;
}
.dz-message {
    color: #a1adb3;
    font-size: x-large;
}
.dropzone .dz-message {
    margin: 1.5em 0;
    text-align: center;
}

.fileArea {
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    cursor: pointer;
}
.thumbArea {
    width:100%;
    height:100%;
    min-height:145px;
    top:0;
    left:0;
    display:none;
}
.thumbStyle {
    margin: 10px;
    width: 100%;
    border-radius: 5px;
}
table.mytable {
    width:80%;
    border-collapse: collapse;
    border-spacing: 0;
    background: #e6e6e6;
}
table.mytable tr {
    border: 1px solid #000000;
}
table.mytable td {
    vertical-align: middle;
}
div.listDiv {
    background: #f2f2f2;
    width: 80%;
    height: 45px;
    margin-top:10px;
}
.message {
    margin-left: 0 !important;
    margin-right: 0 !important; 
}
.delBtn {
    background: {!URLFOR($Resource.SC_RESOURCES, '/image/icon_delete.png')}
}

.iris-button-gray {
    background-color: #999 !important;
}

.iris-button-gray:hover {
    background-color: #ccc !important;
}
</style>
<div style="font-size:2em;">アップロード</div>
<div style="clear: left; width: 80%; margin-left: 15px;">
    <!-- confirm message -->
    <div id="confirmMessage" class="message confirmM3" role="alert" style="display: none;">
        <table border="0" cellpadding="0" cellspacing="0" class="messageTable" style="padding:0px;margin:0px;">
            <tbody>
                <tr valign="top">
                    <td><img alt="CONFIRM" class="msgIcon" src="/s.gif" title="CONFIRM" /></td>
                    <td class="messageCell">
                        <div class="messageText">
                            <span>
                                <h4>成功:</h4>
                            </span>
                            <span id="confirmMessageText" class="msgText"></span>
                        </div>
                    </td>
                </tr>
                <tr><td></td><td></td></tr>
            </tbody>
        </table>
    </div>

    <!-- error message -->
    <div id="errorMessage" class="message errorM3" role="alert" style="display: none;">
        <table border="0" cellpadding="0" cellspacing="0" class="messageTable" style="padding:0px;margin:0px;">
            <tbody>
                <tr valign="top">
                    <td><img alt="ERROR" class="msgIcon" src="/s.gif" title="ERROR" /></td>
                    <td class="messageCell">
                        <div class="messageText">
                            <span style="color:#cc0000">
                                <h4>エラー:</h4>
                            </span>
                            <span id="errorMessageText" class="msgText"></span>
                     </div>
                    </td>
                </tr>
                <tr><td></td><td></td></tr>
            </tbody>
        </table>
    </div>
        <!-- メッセージ -->
    <apex:outputPanel id="upmessage">
    <div class="iris-page-message" >
        <c:E_PageMessages Messages="{!pageMessages}" Severity="" Instruction="" />
    </div>
    </apex:outputPanel>

    <!-- vf message -->
    <apex:pageMessages id="msg"/>
</div>

<div style="text-align: right;width: 80%;color: #a1adb3;">※1ファイルにつき10Mまで</div>

<!-- 旧IE以外 -->
<apex:outputPanel layout="block" rendered="{!NOT(pm_isOldIE)}">
    <div style="margin-top:5px;">
        <div id="dropzone" class="dropzone" style="width:79%;">
            <div class="dz-message">
                <span>
                    <div>ファイルをここにドラッグ</div>
                    <div style="margin: 5px;font-size: 0.8em;">または</div>
                    <div style="text-decoration: underline;font-size: 0.9em;">ファイルを選択</div>
                </span>
            </div>
            <input type="file" id="files" name="files[]" multiple="multiple" onchange="fileUpload(this);" class="fileArea"/>
        </div>
    </div>
</apex:outputPanel>

<!-- 旧IE -->
<apex:outputPanel layout="block" style="text-align: center; width: 80%;" rendered="{!pm_isOldIE}">
    <div style="position:relative; overflow:hidden; height:34px; width:402px; margin: auto;">
        <apex:inputFile value="{!fileBody}" filename="{!fileName}" contentType="{!contentType}" id="file" size="{!fileSize}" onchange="fileUploadIE()" style="position:absolute; left:-999px; opacity:0;" />
        <label for="{!$Component.file}">
            <span style="border:1px solid #777; background:#f2f2f2; border-radius:4px; display:block; line-height:32px; height:32px;  width:400px; text-align:center; cursor: pointer;">ファイルをアップロード</span>
        </label>
    </div>
</apex:outputPanel>

<apex:outputPanel id="attList" layout="block" style="padding: 10px 0 0 20px">
    <apex:repeat value="{!Attachments}" var="att">
        <div class="listDiv" >
<!--      <div id="loading" style="width: 50px;float: left;padding:10px;"><img src="/img/loading24.gif" /></div> -->
            <div style="width: 5%;float: left;padding:10px;"><img src="{!URLFOR($Resource.SC_RESOURCES, '/image/icon_check.png')}" /></div>
            <div style="width: 25%;float: left;margin-top:12px;"><apex:outputtext value="{!att.fileName}" /></div>
            <div style="width: 20%;float: left;margin-top:12px;"><apex:outputtext value="{!att.record.CreatedBy.Name}" /></div>
            <div style="width: 20%;float: left;margin-top:12px;"><apex:outputField value="{!att.record.createdDate}" /></div>
            <div style="width: 15%;float: left;margin-top:12px;text-align: right;">
                <apex:outputtext value="{!att.fileSize}" />
            </div>
            <div style="padding: 10px;text-align: right;">
                <apex:outputPanel rendered="{!NOT(pm_isOldIE)}">
<!--                    <apex:commandLink styleClass="delBtn" action="{!deleteFile}" onclick="if(!window.confirm('削除します。よろしいですか？')){return false;}" reRender="attList,msg,upmessage" >
                        <apex:image value="{!URLFOR($Resource.SC_RESOURCES, '/image/icon_delete.png')}" />
                        <apex:param assignTo="{!targetFileId}" value="{!att.record.id}" name="" />
                    </apex:commandLink> -->
                    <apex:commandLink action="{!createModalData}" immediate="false" value="" oncomplete="openDeleteModal()" reRender="iris_deleteModal" >
                        <apex:image value="{!URLFOR($Resource.SC_RESOURCES, '/image/icon_delete.png')}" />
                        <apex:param assignTo="{!modalAttId}" value="{!att.record.id}" name="modalAttId" />
                        <apex:param assignTo="{!modalAttName}" value="{!att.record.Name}" name="modalAttName" />
                    </apex:commandLink>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!pm_isOldIE}">
                    <apex:outputLink value="javascript:void(0)" onclick="deleteFile('{!att.record.id}')" >
                        <apex:image value="{!URLFOR($Resource.SC_RESOURCES, '/image/icon_delete.png')}" />
                    </apex:outputLink>
                </apex:outputPanel>
            </div>
        </div>
    </apex:repeat>
            <div id="loading" style="background: #f2f2f2;width: 80%;height: 45px; margin-top:10px; text-align: center; display: none;">
                <div style="padding:10px 0;"><img src="/img/loading24.gif" /></div>
            </div>
</apex:outputPanel>


<!-- 削除ポップアップ-->
<a href="#" id="deleteModal" data-toggle="modal" data-target="[id$='iris_deleteModal']" style="display: none;">
    <apex:outputText value="モーダル" />
</a>
<apex:outputPanel layout="block" styleClass="fade modal iris-model" html-tabindex="-1" id="iris_deleteModal">
    <div class="modal-dialog iris-modal-dialog" role="document"  >
        <div class="modal-content">
            <div class="modal-body">
                <div style="padding-left: 30px; padding: 50px;">
                    <apex:outputText value="{!modalAttName}を削除してよろしいですか？" style="text-align: left;font-size: medium;" escape="false"/>
                    <br/>
                    <br/>
                    <div class="iris-block iris-btn-group" style="text-align:center;" >
                        <apex:commandButton value="OK" action="{!deleteFile}" styleClass="btn btn-standard iris-md-btn d-inline-block iris-text-white" reRender="attList,msg,upmessage" oncomplete="closeDeleteModal()"/>
                        <br/>
                        <a class="btn iris-md-btn d-inline-block iris-text-white iris-button-gray" data-dismiss="modal" aria-label="Close" style="margin-top: 20px; " id="modalClose">
                            <apex:outputText value="キャンセル" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</apex:outputPanel>

<apex:actionFunction action="{!fileUploadOldIE}" name="fileUploadOldIE" />
<apex:actionFunction action="{!reload}"  name="reloadList" rerender="attList" />
<apex:actionFunction action="{!reload}"  name="reloadListAll" />
<apex:actionFunction action="{!setProcessedMessage}" name="updateMessage" reRender="upmessage"/>



</apex:component>