<apex:component controller="I_GlobalNavController" layout="none">
	<c:E_GoogleAnalyticsTracking />
	<apex:attribute name="hiddenCategory" type="Boolean" default="false" required="false" description="" />

	<apex:outputPanel layout="block" rendered="{!NOT(ISBLANK(NameSupported))&&NOT(isGuestUser)&&NOT(hiddenCategory)}" styleClass="iris-support-agent" id="supportAgent" >
		<div class="iris-support-agent-block">
			<apex:outputText escape="false" value="{!NameSupported}" styleClass="iris-support-agent-content"/>
		</div>

<!-- 解除ボタン	FormがネストされるためCommand系による解除は実装しない　→　解除機能が必要な場合リンク遷移で遷移先で解除などを検討
			<apex:form id="formFilterOff">
				<apex:commandLink action="{!FilterOff}" value="解除" styleClass="btn iris-md-btn"/>
			</apex:form>
 -->
 	</apex:outputPanel>
	<div class="navbar iris-navbar iris-global-nav">
		<!-- メインカテゴリ -->
		<div class="iris-nav-main clearfix">
			<apex:outputPanel layout="block" styleClass="navbar-brand iris-navbar-brand hidden-lg-up" rendered="{!NOT(isGuestUser)&&NOT(hiddenCategory)}">
				<button class="navbar-toggler iris-main-nav-openner iris-icon iris-icon-hamburger" type="button"></button>
			</apex:outputPanel>

			<div class="iris-split-layout iris-sp-title-block iris-layout-fixed hidden-lg-up">
				<span class="iris-sp-title">{!pageTitle}</span>
				<apex:outputPanel layout="block" styleClass="iris-nav-optional-menu iris-split-right" rendered="{!NOT(hiddenCategory)&&NOT(isGuestUser)}">
					<div class="iris-nav-optional-menu-item iris-search-box-trigger">
						<a href="#" class="d-block iris-nav-optional-menu-circle iris-search-circle" data-toggle="modal" data-target="[id$='iris_search_box']">
							<span class="iris-icon iris-icon-search" ></span>
						</a>
					</div>
				</apex:outputPanel>
			</div>

			<!-- begin: ゲストユーザかどうかで振り分け -->
			<apex:outputLink styleClass="navbar-brand iris-navbar-brand hidden-md-down iris-top-link" title="iris home" value="{!$Page.IRIS_Top}" rendered="{!NOT(isGuestUser) && NOT(ViaMobileSDK)}">
				<img class="iris-logo-image" src="{!URLFOR($Resource.irisResources, 'images/logo-iris-l.svg')}" width="100%" alt="iris logo" />
			</apex:outputLink>
			<apex:outputPanel layout="block" styleClass="navbar-brand iris-navbar-brand hidden-md-down iris-top-link" rendered="{!isGuestUser && NOT(ViaMobileSDK)}" >
				<img class="iris-logo-image" src="{!URLFOR($Resource.irisResources, 'images/logo-iris-l.svg')}" width="100%" alt="iris logo" />
			</apex:outputPanel>
			<!-- end: ゲストユーザかどうかで振り分け -->

			<apex:outputPanel layout="block" styleClass="iris-mobile-container iris-split-layout" rendered="{!NOT(hiddenCategory)&&NOT(isGuestUser)}">
				<ul class="nav navbar-nav iris-navbar-nav iris-category-menus iris-split-left clearfix">
					<li class="iris-user iris-user-mobile-view hidden-lg-up">
						<div class="iris-user-information iris-layout iris-layout-fixed ">
							<div class="iris-user-image iris-layout-panel"></div>
							<div class="iris-user-profile iris-layout-panel">
								<div class="iris-user-fullname">{!irisHandler.NameOfLoginUser}</div>
								<div class="iris-user-division">{!irisHandler.NameOfDept}</div>
							</div>
						</div>
					</li>
					<li class="nav-item iris-nav-item">
						<a class="nav-link iris-nav-link" href="IRIS_Top">
							<span class="iris-icon iris-icon-home"></span>
							<span class="iris-nav-link-label">ホーム</span>
						</a>
					</li>
					<apex:repeat value="{!gNavItems}" var="gNavItem">
						<apex:outputPanel layout="none" rendered="{!gNavItem.ShowForMainCategory}">
							<li class="nav-item iris-nav-item	{!IF(gNavItem.isActive, 'active', '')}">
								<a class="nav-link iris-nav-link" href="{!gNavItem.CategoryTopUrl}" target="{!gNavItem.topMenu.WindowTarget__c}">
									<span class="iris-icon iris-icon-{!gNavItem.icon}"></span>
									<apex:outputText styleClass="iris-nav-link-label" value="{!gNavItem.categoryLabel}" />
								</a>
							</li>
						</apex:outputPanel>
					</apex:repeat>
				</ul>
				<ul class="nav navbar-nav iris-navbar-nav iris-split-right clearfix">
					<!-- よくあるご質問 -->
					<li class="nav-item iris-nav-item iris-nav-optional-menu iris-fap-ancher">
						<a class="nav-link iris-nav-link iris-nav-optional-menu-circle" href="{!faqNavItem.CategoryTopUrl}" target="{!faqNavItem.topMenu.WindowTarget__c}">
							<span class="iris-icon iris-icon-qa" ></span>
							<span class="iris-nav-link-label hidden-lg-up">よくあるご質問</span>
						</a>
					</li>
					<!-- 検索 -->
					<li class="nav-item iris-nav-item iris-nav-optional-menu iris-search-box-trigger hidden-md-down">
						<a href="#" class="nav-link iris-nav-link iris-nav-optional-menu-circle" data-toggle="modal" data-target="[id$='iris_search_box']">
							<span class="iris-icon iris-icon-search" ></span>
						</a>
					</li>
					<li class="nav-item iris-nav-item iris-nav-optional-menu iris-user">
						<a tabindex="0" class="nav-link iris-nav-link iris-user-circle iris-nav-optional-menu-circle iris-user-form-openner hidden-md-down"></a>
						<div class="iris-user-popup">
							<div class="iris-user-information iris-layout iris-layout-fixed hidden-md-down">
								<div class="iris-user-image iris-layout-panel"></div>
								<div class="iris-user-profile iris-layout-panel">
									<div class="iris-user-fullname">{!irisHandler.NameOfLoginUser}</div>
									<div class="iris-user-division">{!irisHandler.NameOfDept}</div>
								</div>
							</div>
							<ul class="nav iris-user-settings">
								<apex:outputPanel layout="none" rendered="{!isEmployee}">
									<!-- 社員用URL 		TODO　CSS統合-->
									<li class="nav-item iris-nav-item">
											<!--
											<span class="iris-icon iris-icon-nnlink"></span>
											 -->
										<div class="iris-url-copy p-a-1">
											<script>
												jQuery(function() {
													var $input = jQuery('.iris-select-all-on-focus');
													$input.on('click', function(e){
														selectInputValue(jQuery(e.target));
													});

													var $triggers = jQuery('.iris-clip-trigger');
													if (document.execCommand instanceof Function) {
														$triggers.on('click', function(e){
															var $currentTrigger= jQuery(e.target).closest('.iris-clip-trigger');
															if (!$currentTrigger[0]) return;
															var selector = $currentTrigger.attr('data-target');
															if (!selector) return;
															var $targetInput = jQuery(selector);
															if (!$targetInput[0]) return;
															if (selectInputValue($targetInput) && document.execCommand('copy')) {
																alert('クリップボードにコピーしました。')
															}
															$targetInput.blur();
														});
													} else {
														$trigger.remove();
													}
												});
												function selectInputValue($element) {
													var $target = $element.closest('.iris-select-all-on-focus');
													if (!$target[0]) return;
													var target = $target[0];
													target.focus();
													var result = false;
													if (target.setSelectionRange instanceof Function) {
														target.setSelectionRange(0, (target.value || '').length);
														result = true;
													} else if (target.select instanceof Function) {
														target.select();
														result = true;
													}
													return result;
												}
											</script>
											<div class="form-group">
												<label class="iris-form-label">インターネット用URL</label>
												<div class="input-group iris-input-group">
													<input id="clippable_url_internet" tabindex="-1" type="text" value="{!urlConverter.url_via_Internet}" class="form-control iris-form-control iris-select-all-on-focus" readonly="readonly" />
													<span class="input-group-btn iris-input-group-btn">
														<button type="button" data-target="#clippable_url_internet" class="btn iris-sm-btn iris-bg-mono iris-bordered-color-mono-dark iris-clip-trigger">
															<span class="iris-icon iris-icon-copy"></span>
														</button>
													</span>
												</div>
											</div>
											<div class="form-group iris-form-group">
												<label class="iris-form-label">共同GW用URL</label>
												<div class="input-group iris-input-group">
													<input id="clippable_url_gw" tabindex="-1" type="text" value="{!urlConverter.url_via_GW}" class="form-control iris-form-control iris-select-all-on-focus" readonly="readonly" />
													<span class="input-group-btn iris-input-group-btn">
														<button type="button" data-target="#clippable_url_gw" class="btn iris-sm-btn iris-bg-mono iris-bordered-color-mono-dark iris-clip-trigger">
															<span class="iris-icon iris-icon-copy"></span>
														</button>
													</span>
												</div>
											</div>
										</div>
									</li>
								</apex:outputPanel>
								<li class="nav-item iris-nav-item">
									<a href="{!URL_AppSwitch2NNLink}" class="nav-link iris-nav-link" id="appSwitch">
										<span class="iris-icon iris-icon-nnlink"></span>
										<span class="iris-nav-link-label iris-visible">NNLinkを利用する</span>
									</a>
								</li>
								<apex:outputPanel layout="none" rendered="{!NOT(isEmployee)}">
									<li class="nav-item iris-nav-item">
										<a href="IRIS_UserConfig" class="nav-link iris-nav-link">
											<span class="iris-icon iris-icon-setting"></span>
											<span class="iris-nav-link-label">設定</span>
										</a>
									</li>
									<apex:outputPanel layout="none" rendered="{!NOT(isCGW)}">
										<li class="nav-item iris-nav-item">
											<a href="secur/logout.jsp" class="nav-link iris-nav-link">
												<span class="iris-icon iris-icon-logout"></span>
												<span class="iris-nav-link-label">ログアウト</span>
											</a>
										</li>
									</apex:outputPanel>
									<apex:outputPanel layout="none" rendered="{!isCGW}">
										<li class="nav-item iris-nav-item">
											<a href="javascript:irisWindowClose();" class="nav-link iris-nav-link">
												<span class="iris-icon iris-icon-logout"></span>
												<span class="iris-nav-link-label">閉じる</span>
											</a>
										</li>
									</apex:outputPanel>
								</apex:outputPanel>
								<apex:outputPanel layout="none" rendered="{!isEmployee}">
									<li class="nav-item iris-nav-item">
										<a href="/home/home.jsp" class="nav-link iris-nav-link" id="appSwitch">
											<span class="iris-icon iris-icon-sf"></span>
											<span class="iris-nav-link-label">salesforceに戻る</span>
										</a>
									</li>
									<apex:outputPanel layout="none" rendered="{!isCGW}">
										<li class="nav-item iris-nav-item">
											<a href="javascript:irisWindowClose();" class="nav-link iris-nav-link">
												<span class="iris-icon iris-icon-logout"></span>
												<span class="iris-nav-link-label">閉じる</span>
											</a>
										</li>
									</apex:outputPanel>
								</apex:outputPanel>
							</ul>
						</div>
					</li>
				</ul>
			</apex:outputPanel>
		</div>

		<!-- サブナビゲーション　Phase1ではライブラリのみ -->
		<apex:outputPanel styleClass="iris-nav-sub" layout="block" rendered="{!HasSubNav}">
			<apex:outputPanel layout="block" styleClass="navbar-brand iris-navbar-brand hidden-lg-up" rendered="{!NOT(isGuestUser)&&NOT(hiddenCategory)}">
				<button type="button" class="navbar-toggler iris-navbar-toggler iris-icon iris-icon-hamburger-orange iris-linked-collapse" data-toggle="collapse" data-target="#iris-togglable-sub-menus" aria-expanded="false" aria-controls="iris-togglable-sub-menus"></button>
				<apex:outputPanel styleClass="iris-navbar-brand-label" rendered="{!libSubNavItems.ActiveSubCateName=='library'}">
					<span class="iris-icon iris-icon-library-top-on"></span>
					<span>トップ</span>
				</apex:outputPanel>
				<apex:outputPanel styleClass="iris-navbar-brand-label" rendered="{!libSubNavItems.ActiveSubCateIsFeat}">
					<span class="iris-icon iris-icon-feature-on"></span>
					<span>特集</span>
				</apex:outputPanel>
				<!--
				<apex:outputPanel rendered="{!libSubNavItems.ActiveSubCateIsFeat}">
					<span class="iris-icon iris-icon-movie"></span>
					<span class="iris-nav-link-label">動画(NN&nbsp;Tube)</span>
				</apex:outputPanel>
				-->
				<apex:outputPanel styleClass="iris-navbar-brand-label" rendered="{!libSubNavItems.ActiveSubCateIsTool}">
					<span class="iris-icon iris-icon-sales-tool-on"></span>
					<span>販売促進資料</span>
				</apex:outputPanel>
				<!-- 2018/07/09追加 start -->
				<apex:outputPanel styleClass="iris-navbar-brand-label" rendered="{!libSubNavItems.ActiveSubCateIsPamph}">
					<span class="iris-icon iris-icon-pamphlet-on"></span>
					<span>パンフレット等</span>
				</apex:outputPanel>
				<!-- 2018/07/09追加 end -->
				<apex:outputPanel styleClass="iris-navbar-brand-label" rendered="{!libSubNavItems.ActiveSubCateIsMnt}">
					<span class="iris-icon iris-icon-maintenance-on"></span>
					<span>手続書類</span>
				</apex:outputPanel>
				<apex:outputPanel styleClass="iris-navbar-brand-label" rendered="{!libSubNavItems.ActiveSubCateIsManual}">
					<span class="iris-icon iris-icon-manual-on"></span>
					<span>マニュアル</span>
				</apex:outputPanel>
				<apex:outputPanel styleClass="iris-navbar-brand-label" rendered="{!libSubNavItems.ActiveSubCateIsOther}">
					<span class="iris-icon iris-icon-other-on"></span>
					<span>その他</span>
				</apex:outputPanel>
				<div id="iris-togglable-sub-menus" class="iris-togglable-sub-menus iris-linked-collapsible-panel collapse">
					<ul class="nav navbar-nav iris-navbar-nav">
						<li class="nav-item iris-nav-item {!IF(libSubNavItems.ActiveSubCateName=='library', 'active', '')}">
							<a class="nav-link iris-nav-link" href="IRIS_Lib_Top">
								<span class="iris-icon iris-icon-library-top"></span>
								<span class="iris-nav-link-label">トップ</span>
							</a>
						</li>
						<!-- 特集改修 ここから -->
						<li class="nav-item iris-nav-item {!IF(libSubNavItems.ActiveSubCateIsFeat, 'active', '')}">
							<a class="nav-link iris-nav-link" href="IRIS_FeatureList">
								<span class="iris-icon iris-icon-feature"></span>
								<span class="iris-nav-link-label">特集</span>
							</a>
						</li>
						<!-- 特集改修 ここまで -->
						<li class="nav-item iris-nav-item iris-tube-link">
							<a class="nav-link iris-nav-link" href="{!libSubNavItems.UrlForNNTube}" target="_nntube">
								<span class="iris-icon iris-icon-movie"></span>
								<span class="iris-nav-link-label">NN&nbsp;Tube(動画)</span>
							</a>
						</li>
						<li class="nav-item iris-nav-item {!IF(libSubNavItems.ActiveSubCateIsTool, 'active', '')}">
							<a class="nav-link iris-nav-link" href="IRIS_Lib_Tools">
								<span class="iris-icon iris-icon-sales-tool"></span>
								<span class="iris-nav-link-label">販売促進資料</span>
							</a>
						</li>
						<!-- 2018/07/09追加 start -->
						<li class="nav-item iris-nav-item {!IF(libSubNavItems.ActiveSubCateIsPamph, 'active', '')}">
							<a class="nav-link iris-nav-link" href="IRIS_Pamphlet">
								<!-- 要変更 -->
								<span class="iris-icon iris-icon-pamphlet"></span>
								<span class="iris-nav-link-label">パンフレット等</span>
							</a>
						</li>
						<!-- 2018/07/09追加 end -->
						<li class="nav-item iris-nav-item {!IF(libSubNavItems.ActiveSubCateIsMnt, 'active', '')}">
							<a class="nav-link iris-nav-link" href="{!libSubNavItems.LibInfoNavItem.CategoryTopUrl}">
								<span class="iris-icon iris-icon-maintenance"></span>
								<span class="iris-nav-link-label">手続書類</span>
							</a>
						</li>
						<li class="nav-item iris-nav-item {!IF(libSubNavItems.ActiveSubCateIsManual, 'active', '')}">
							<a class="nav-link iris-nav-link" href="{!libSubNavItems.LibManualNavItem.CategoryTopUrl}">
								<span class="iris-icon iris-icon-manual"></span>
								<span class="iris-nav-link-label">マニュアル</span>
							</a>
						</li>
						<li class="nav-item iris-nav-item {!IF(libSubNavItems.ActiveSubCateIsOther, 'active', '')}">
							<a class="nav-link iris-nav-link" href="{!libSubNavItems.LibOtherNavItem.CategoryTopUrl}">
								<span class="iris-icon iris-icon-other"></span>
								<span class="iris-nav-link-label">その他</span>
							</a>
						</li>
					</ul>
				</div>
			</apex:outputPanel>
			<div class="iris-nav-sub-container iris-split-layout iris-layout-fixed">
				<ul class="hidden-md-down nav navbar-nav iris-navbar-nav iris-split-left">
					<li class="nav-item iris-nav-item {!IF(libSubNavItems.ActiveSubCateName=='library', 'active', '')}">
						<a class="nav-link iris-nav-link" href="IRIS_Lib_Top">
							<span class="iris-icon iris-icon-library-top"></span>
							<span class="iris-nav-link-label">トップ</span>
						</a>
					</li>
					<!-- 特集改修 ここから -->
					<li class="nav-item iris-nav-item {!IF(libSubNavItems.ActiveSubCateIsFeat, 'active', '')}">
						<a class="nav-link iris-nav-link" href="IRIS_FeatureList">
							<span class="iris-icon iris-icon-feature"></span>
							<span class="iris-nav-link-label">特集</span>
						</a>
					</li>
					<!-- 特集改修 ここまで -->
					<li class="nav-item iris-nav-item iris-tube-link">
						<a class="nav-link iris-nav-link" href="{!libSubNavItems.UrlForNNTube}" target="_nntube">
							<span class="iris-icon iris-icon-movie"></span>
							<span class="iris-nav-link-label">NN&nbsp;Tube(動画)</span>
						</a>
					</li>
					<li class="nav-item iris-nav-item {!IF(libSubNavItems.ActiveSubCateIsTool, 'active', '')}">
						<a class="nav-link iris-nav-link" href="IRIS_Lib_Tools">
							<span class="iris-icon iris-icon-sales-tool"></span>
							<span class="iris-nav-link-label">販売促進資料</span>
						</a>
					</li>
					<!-- 2018/07/09追加 start -->
					<li class="nav-item iris-nav-item {!IF(libSubNavItems.ActiveSubCateIsPamph, 'active', '')}">
						<a class="nav-link iris-nav-link" href="IRIS_Pamphlet">
							<!-- 要変更 -->
							<span class="iris-icon iris-icon-pamphlet"></span>
							<span class="iris-nav-link-label">パンフレット等</span>
						</a>
					</li>
					<!-- 2018/07/09追加 end -->
					<li class="nav-item iris-nav-item {!IF(libSubNavItems.ActiveSubCateIsMnt, 'active', '')}">
						<a class="nav-link iris-nav-link" href="{!libSubNavItems.LibInfoNavItem.CategoryTopUrl}">
							<span class="iris-icon iris-icon-maintenance"></span>
							<span class="iris-nav-link-label">手続書類</span>
						</a>
					</li>
					<li class="nav-item iris-nav-item {!IF(libSubNavItems.ActiveSubCateIsManual, 'active', '')}">
						<a class="nav-link iris-nav-link" href="{!libSubNavItems.LibManualNavItem.CategoryTopUrl}">
							<span class="iris-icon iris-icon-manual"></span>
							<span class="iris-nav-link-label">マニュアル</span>
						</a>
					</li>
					<li class="nav-item iris-nav-item {!IF(libSubNavItems.ActiveSubCateIsOther, 'active', '')}">
						<a class="nav-link iris-nav-link" href="{!libSubNavItems.LibOtherNavItem.CategoryTopUrl}">
							<span class="iris-icon iris-icon-other"></span>
							<span class="iris-nav-link-label">その他</span>
						</a>
					</li>
				</ul>
				<ul class="nav navbar-nav iris-navbar-nav iris-split-right clearfix iris-tube-link">
					<li class="nav-item iris-nav-item">
						<a class="nav-link iris-nav-link" href="{!libSubNavItems.UrlForNNTubeFavorite}" target="_nntube">
							<span class="iris-icon iris-icon-star"></span>
							<span class="iris-nav-link-label">お気に入り</span>
						</a>
					</li>
					<li class="nav-item iris-nav-item">
						<a class="nav-link iris-nav-link" href="{!libSubNavItems.UrlForNNTubeHistory}" target="_nntube">
							<span class="iris-icon iris-icon-history"></span>
							<span class="iris-nav-link-label">閲覧履歴</span>
						</a>
					</li>
				</ul>
			</div>

			<c:IRIS_TubeConnectLib helper="{!libSubNavItems.TubeConnectHelper}" includeSwiperResources="true"/>
		</apex:outputPanel>


		<!-- サブカテゴリ、パンくずリスト用 -->
		<apex:componentBody >
		</apex:componentBody>
		<!-- グローバルナビゲーション end -->
	</div>

</apex:component>