<apex:component layout="block" id="component" controller="I_SearchBoxController">

	<apex:outputPanel id="modal_wrapper" styleClass="iris" layout="block">
		<!--
		<style>
			.iris .iris-search-box .iris-nav-tabs {white-space: nowrap; overflow-x: auto; overflow-y: hidden;}
			.iris .iris-search-box .iris-nav-tabs .iris-nav-item {float: none; display: inline-block;}
		</style>
		-->
		<script>
			iris$(function() {
				var escapedId = irisUtils.normalizeVFID('#{!$Component.component.iris_search_box}');
				var $modal = iris$(escapedId);
				function flushAll() {
					var $tabs = $modal.find('.iris-search-box-controller');
					$tabs.each(function() {
						flush($(this));
					});
				}
				function flush($target) {
					var callFunc = retrieveFlushCall($target);
					if (!callFunc) return;
					callFunc.call($target);
				}
				function retrieveFlushCall($target) {
					var $anchor = $target.closest('.iris-search-box-controller');
					if (!$anchor[0]) return;
					var selector = $target.attr('href');
					if (!selector) return;
					var $tabPanel = iris$(selector);
					if (!$tabPanel[0]) return;
					var $renderTarget = $tabPanel.find('[data-flush-function]');
					if (!$renderTarget[0]) return;
					var funcName = $renderTarget.attr('data-flush-function');
					var renderCaller = window[funcName];
					if (!renderCaller) return;
					return renderCaller;
				}
				// iris$('[data-toggle="modal"]').on('click', function() {
				// 	alert('click');
				// })
				//flushAll.call($modal);
				$modal.on('hidden.bs.modal', function() {
					flushAll();
				});
				$modal.on('hidden.bs.tab', function(e) {
					flush($(e.target));
				});
				// iris$(document.body).append($modal);
			});
		</script>
		<apex:outputPanel layout="block" id="iris_search_box" styleClass="fade modal iris-model iris-search-box" html-tabindex="-1">
		<!-- <apex:form id="iris_search_box" styleClass="fade modal iris-model iris-search-box" html-tabindex="-1"> -->
			<div class="modal-dialog iris-modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="clearfix">
							<a class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</a>
						</div>
						<ul class="nav nav-tabs iris-nav-tabs" role="tablist">
							<apex:repeat value="{!searchCategoryItems}" var="option">
								<!-- {!searchCategoryItems} に各権限に基づいたタブが格納されている -->
								<apex:variable var="isActive" value="{!defaultSearchBox == option.value}" />
								<li class="nav-item iris-nav-item">
									<a data-toggle="tab" class="nav-link iris-nav-link iris-search-box-controller {!IF(isActive, 'active', '')}" href="#{!option.value}" role="tab">
										<apex:outputText value="{!option.label}" />
									</a>
								</li>
							</apex:repeat>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="IRIS_PolicySearchBox" role="tabpanel">
								<c:IRIS_PolicySearchBox />
							</div>
							<div class="tab-pane" id="IRIS_AgencySearchBox" role="tabpanel">
								<c:IRIS_AgencySearchBox />
							</div>
							<div class="tab-pane" id="IRIS_ContentSearchBox" role="tabpanel">
								<c:IRIS_ContentSearchBox />
							</div>
							<div class="tab-pane" id="IRIS_NewOppSearchBox" role="tabpanel">
								<c:IRIS_NewOppSearchBox />
							</div>
						</div>
					</div>
				</div>
			</div>
		</apex:outputPanel>
		<!-- </apex:form> -->
	</apex:outputPanel>
</apex:component>