<apex:component layout="none">
<apex:attribute name="backBtn" type="String" default="" description="" />
<apex:attribute name="isZDCApi" type="Boolean" default="false" description="" />
<apex:attribute name="isVisible" type="Boolean" default="false" description="" />
<apex:attribute name="isAfterPage" type="Boolean" default="false" description="" />

<apex:outputPanel rendered="{!isZDCApi}" layout="none">
<c:MD_ZdcApi />
</apex:outputPanel>

<!-- include Script -->
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.nn_html, 'javascript/libs/modernizr-2.0.6.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.nn_html, 'javascript/libs/html5shiv.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.nn_html, 'javascript/libs/respond.min.js')}"/>
<apex:includeScript value="{!$Resource.MD_Common}" />

<!-- include Stylesheet -->
<apex:stylesheet value="{!URLFOR($Resource.nn_html, 'stylesheets/css/style-nn.css')}" html-media="all" />
<apex:stylesheet value="{!URLFOR($Resource.nn_html, 'stylesheets/css/index.css')}" html-media="all" />
<apex:stylesheet value="{!$Resource.nlinkstrap}" html-media="all" />
<apex:stylesheet value="{!$Resource.MD_Style}" html-media="all" />

<apex:outputPanel rendered="{!isVisible}" layout="none">
<header id="top" role="banner" class="{!IF((isAfterPage),'view-print','')}" >
	<div id="top-inner">
		<div class="container">
			<!-- Logo -->
			<div class="container-inner">
				<apex:image value="{!URLFOR($Resource.nn_html, '/images/nn/logo.png')}" styleClass="logo" />
			</div>

			<!-- Application Name -->
			<div class="descriptor">嘱託医リスト</div>

			<!-- Button -->
			<apex:outputPanel rendered="{!backBtn != ''}" layout="none">
				<div class="right header_button">
					<apex:outputLink styleClass="btn btn-default btn-width-100" value="{!backBtn}" target="_self">戻る</apex:outputLink>
				</div>
			</apex:outputPanel>
		</div>
	</div>
</header>
</apex:outputPanel>

</apex:component>