<apex:component controller="SC_ChangeValue_DefectController" allowDML="true">
	<style>
	.compTable th, .compTable td {
	    border-top: none !important;
	}
	</style>
	
	<!-- パラメータ --> 
	<apex:attribute name="office" type="SC_Office__c" assignTo="{!record}" required="true" description="自主点検事務所レコード" />
	<apex:attribute name="isViewableDefect" type="Boolean"  assignTo="{!canView}" default="false" description="不備ステータス参照可能フラグ" />
	<apex:attribute name="isEditableDefect" type="Boolean"  assignTo="{!canEdit}" default="false" description="不備ステータス編集可能フラグ" />
	
	<!-- <apex:outputpanel layout="block" > -->
		<!-- <table class="compTable"> -->
			<!-- <tr> -->
				<apex:outputpanel layout="none" rendered="{!canView}" id="changeDefect">
					<!-- 不備ステータス ラベル -->
					<td>
						<apex:outputText value="不備ステータス" style="font-weight: bold; font-size: 1em;"/>
					</td>
					<!-- 不備ステータス 値 -->
					<td>
						<!-- 参照 -->
						<apex:outputpanel layout="none" rendered="{!NOT(isEdit)}" >
							<apex:outputText value="{!defectStatus}"/>
						<!-- 編集 -->
						</apex:outputpanel>
						<apex:outputpanel layout="none" rendered="{!isEdit}" >
							<apex:inputField value="{!record.Defect__c}" />
						</apex:outputpanel>
					</td>
					<!-- 不備ステータス 変更ボタン -->
					<apex:outputpanel layout="none" rendered="{!canEdit}" >
						<apex:outputPanel rendered="{!NOT(isEdit)}" layout="none">
							<td>
								<apex:commandbutton value="変更" action="{!doChangeDisplay}"  rendered="{!NOT(isEdit)}"
								styleClass="btn btn-standard" style="min-width: 50px;"/>
							</td>
						</apex:outputPanel>
						<apex:outputPanel rendered="{!isEdit}" layout="none">
							<!-- 不備ステータス 保存/キャンセルボタン -->
							<td>
								<apex:commandbutton value="保存" action="{!doSave}" 
								styleClass="btn btn-standard" style="min-width: 50px;"/>
							</td>
						</apex:outputPanel>
						<apex:outputPanel rendered="{!isEdit}" layout="none">
							<td>
								<apex:commandbutton value="キャンセル" action="{!doChangeDisplay}" immediate="true" 
								styleClass="btn btn-gray" style="min-width: 70px;"/>
							</td>
						</apex:outputpanel>
					</apex:outputPanel>
				</apex:outputpanel>
			<!-- </tr> -->
		<!-- </table> -->
	<!-- </apex:outputpanel> -->
</apex:component>