<apex:component controller="SC_ChangeFixedController" allowDML="true">
<!-- パラメータ -->
<apex:attribute name="office" type="SC_Office__c" assignTo="{!record}" required="true" description="自主点検事務所レコード" />
<apex:attribute name="isEditableFixed" type="Boolean"  assignTo="{!canEditFixed}" default="false" description="点検実施方法（結果）編集可能フラグ" />
<apex:attribute name="isViewableDefect" type="Boolean"  assignTo="{!canViewDefect}" default="false" description="不備ステータス参照可能フラグ" />
<apex:attribute name="isEditableDefect" type="Boolean"  assignTo="{!canEditDefect}" default="false" description="不備ステータス編集可能フラグ" />

<apex:outputpanel layout="block" id="changeDefect">
<table>
	<tr>
		<!-- 点検実施方法（結果） ラベル -->
		<td style="width: 150px;">
			<apex:outputText value="点検実施方法（結果）" style="font-weight: bold; font-size: 1em;"/>
		</td>

		<!-- 点検実施方法（結果） 値 -->
		<td style="width: 145px;">
			<!-- 参照 -->
			<apex:outputpanel layout="none" rendered="{!!isEditFixed}" >
				<apex:outputField value="{!record.SCFixed__c}" />
			</apex:outputpanel>
			<!-- 編集 -->
			<apex:outputpanel layout="none" rendered="{!isEditFixed}" >
				<apex:selectList value="{!record.SCFixed__c}" size="1">
					<apex:selectOptions value="{!fixedList}" />
				</apex:selectList>
			</apex:outputpanel>
		</td>
		<apex:outputpanel layout="none" rendered="{!canEditFixed}">
			<!-- 点検実施方法（結果） 変更ボタン -->
			<td>
				<apex:commandbutton value="変更" action="{!doChangeDisplay}" reRender="changeDefect" styleClass="btn btn-standard" style="min-width: 50px;" rendered="{!!isEditFixed && !isEditDefect}"/>
			</td>
			<!-- 点検実施方法（結果） 保存/キャンセルボタン -->
			<td>
				<apex:commandbutton value="保存" action="{!doSave}" reRender="changeDefect"
				styleClass="btn btn-standard" style="min-width: 50px;" rendered="{!isEditFixed}"/>
			</td>
			<td>
				<apex:commandbutton value="キャンセル" action="{!doChangeDisplay}" immediate="true" reRender="changeDefect"
				styleClass="btn btn-gray" style="min-width: 70px;" rendered="{!isEditFixed}"/>
			</td>
		</apex:outputpanel>

		<apex:outputpanel layout="none" rendered="{!canViewDefect}" >
			<!-- 不備ステータス ラベル -->
			<td style="width: 150px;">
				<apex:outputText value="不備ステータス" style="font-weight: bold; font-size: 1em;"/>
			</td>
			<!-- 不備ステータス 値 -->
			<td style="width: 145px;">
				<!-- 参照 -->
				<apex:outputpanel layout="none" rendered="{!!isEditDefect}" >
					<apex:outputText value="{!defectStatus}"/>
				<!-- 編集 -->
				</apex:outputpanel>
				<apex:outputpanel layout="none" rendered="{!isEditDefect}" >
					<apex:inputField value="{!record.Defect__c}" />
					<!--<apex:selectList value="{!record.Defect__c}" size="1">
						<apex:selectOptions value="{!defectList}" />
					</apex:selectList>-->
				</apex:outputpanel>
			</td>
			<!-- 不備ステータス 変更ボタン -->
			<apex:outputpanel layout="none" rendered="{!canEditDefect}" >
				<td>
					<apex:commandbutton value="変更" action="{!doChangeDisplayDefect}" reRender="changeDefect" rendered="{!!isEditDefect && !isEditFixed}"
					styleClass="btn btn-standard" style="min-width: 50px;"/>
				</td>
				<!-- 不備ステータス 保存/キャンセルボタン -->
				<td>
					<apex:commandbutton value="保存" action="{!doSave}" reRender="changeDefect,statusHistory"
					styleClass="btn btn-standard" style="min-width: 50px;" rendered="{!isEditDefect}"/>
				</td>
				<td>
					<apex:commandbutton value="キャンセル" action="{!doChangeDisplayDefect}" immediate="true" reRender="changeDefect"
					styleClass="btn btn-gray" style="min-width: 70px;" rendered="{!isEditDefect}"/>
				</td>
			</apex:outputpanel>
		</apex:outputpanel>
	</tr>
</table>
</apex:outputpanel>
</apex:component>