.THIS {
}

.THIS .icn svg{ 
    fill: rgb(230,68,21);
}

.THIS .tabset {
    font: 20px Segoe UI, sans-serif;
    font-weight: bold;
	/*color: rgb(230,68,21)*/
}

.THIS .tab {
    font: 13px Segoe UI, sans-serif;
    font-weight: bold;
	/*color: rgb(230,68,21)*/
}

.THIS.custom-background{
    background-color: #EDEBD6;
}