/* Color of Icons */
.THIS .icn svg{ 
    fill: rgb(230,68,21);
}
.THIS .icnbtn{ 
    border: none;
    box-shadow: none;
}
.THIS .icnbtn:focus{ 
    border: none;
    box-shadow: none;
    color: rgb(230, 68, 21);
}
.THIS .icnbtn:hover{ 
    border: none;
    box-shadow: none;
    color: rgb(230, 68, 21);
}

.THIS .inputTextBox30{
    /*-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;*/
    margin: 4px 0 4px 0;						/*top, right, bottom, left*/
    padding: 0 0 0 0;							/*top, right, bottom, left*/
    height: 36px;
    width: 30px;
    border: 1px solid;
    border-color: rgb(150,150,150);
    box-shadow: none;
    text-align: center;
    font: 10pt Segoe UI, sans-serif;
    font-weight: bolder;
    color: rgb(50,50,50);
    background-color: rgb(250,250,250);
}

.THIS .inputTextBox30:focus{
    margin: 4px 0 4px 0;						/*top, right, bottom, left*/
    padding: 1px 1px 1px 1px;					/*top, right, bottom, left*/
    height: 36px;
    width: 30px;
    border: 2px solid;
    border-color: rgb(230, 68, 21);
    box-shadow: none;
    text-align: center;
    font: 10pt Segoe UI, sans-serif;
    font-weight: bolder;
    color: rgb(50,50,50);
    background-color: rgb(250,250,250);
}

.THIS .inputTextBox60{
    /*-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;*/
    margin: 4px 0 4px 0;						/*top, right, bottom, left*/
    padding: 0 0 0 0;							/*top, right, bottom, left*/
    height: 36px;
    width: 60px;
    border: 1px solid;
    border-color: rgb(150,150,150);
    box-shadow: none;
    text-align: center;
    font: 10pt Segoe UI, sans-serif;
    font-weight: bolder;
    color: rgb(50,50,50);
    background-color: rgb(250,250,250);
}

.THIS .inputTextBox60:focus{
    margin: 4px 0 4px 0;						/*top, right, bottom, left*/
    padding: 1px 1px 1px 1px;					/*top, right, bottom, left*/
    height: 36px;
    width: 60px;
    border: 2px solid;
    border-color: rgb(230, 68, 21);
    box-shadow: none;
    text-align: center;
    font: 10pt Segoe UI, sans-serif;
    font-weight: bolder;
    color: rgb(50,50,50);
    background-color: rgb(250,250,250);
}

.THIS .inputTextBox90{
    /*-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;*/
    margin: 4px 0 4px 0;						/*top, right, bottom, left*/
    padding: 0 0 0 0;							/*top, right, bottom, left*/
    height: 36px;
    width: 90px;
    border: 1px solid;
    border-color: rgb(150,150,150);
    box-shadow: none;
    text-align: center;
    font: 10pt Segoe UI, sans-serif;
    font-weight: bolder;
    color: rgb(50,50,50);
    background-color: rgb(250,250,250);
}

.THIS .inputTextBox90:focus{
    margin: 4px 0 4px 0;						/*top, right, bottom, left*/
    padding: 1px 1px 1px 1px;					/*top, right, bottom, left*/
    height: 36px;
    width: 90px;
    border: 2px solid;
    border-color: rgb(230, 68, 21);
    box-shadow: none;
    text-align: center;
    font: 10pt Segoe UI, sans-serif;
    font-weight: bolder;
    color: rgb(50,50,50);
    background-color: rgb(250,250,250);
}

.THIS .inputTextBox120{
    /*-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;*/
    margin: 4px 0 4px 0;						/*top, right, bottom, left*/
    padding: 0 0 0 0;							/*top, right, bottom, left*/
    height: 36px;
    width: 120px;
    border: 1px solid;
    border-color: rgb(150,150,150);
    box-shadow: none;
    text-align: center;
    font: 10pt Segoe UI, sans-serif;
    font-weight: bolder;
    color: rgb(50,50,50);
    background-color: rgb(250,250,250);
}

.THIS .inputTextBox120:focus{
    margin: 4px 0 4px 0;						/*top, right, bottom, left*/
    padding: 1px 1px 1px 1px;					/*top, right, bottom, left*/
    height: 36px;
    width: 120px;
    border: 2px solid;
    border-color: rgb(230, 68, 21);
    box-shadow: none;
    text-align: center;
    font: 10pt Segoe UI, sans-serif;
    font-weight: bolder;
    color: rgb(50,50,50);
    background-color: rgb(250,250,250);
}

.THIS .inputTextBox150{
    /*-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;*/
    margin: 4px 0 4px 0;						/*top, right, bottom, left*/
    padding: 0 0 0 0;							/*top, right, bottom, left*/
    height: 36px;
    width: 150px;
    border: 1px solid;
    border-color: rgb(150,150,150);
    box-shadow: none;
    text-align: center;
    font: 10pt Segoe UI, sans-serif;
    font-weight: bolder;
    color: rgb(50,50,50);
    background-color: rgb(250,250,250);
}

.THIS .inputTextBox150:focus{
    margin: 4px 0 4px 0;						/*top, right, bottom, left*/
    padding: 1px 1px 1px 1px;					/*top, right, bottom, left*/
    height: 36px;
    width: 150px;
    border: 2px solid;
    border-color: rgb(230, 68, 21);
    box-shadow: none;
    text-align: center;
    font: 10pt Segoe UI, sans-serif;
    font-weight: bolder;
    color: rgb(50,50,50);
    background-color: rgb(250,250,250);
}

.THIS .inputLabelTest{
    /*height: 250px;
    vertical-align: top;
    border: 1px solid;
    border-color: rgb(230,68,21);*/
    padding: 16px 0 32px 0;							/*top, right, bottom, left*/
}

.THIS .titleLabelTop{
    margin: 0 0 16px 8px;						/*top, right, bottom, left*/
    padding: 0 0 0 0;							/*top, right, bottom, left*/
    height: 20px;
    width: 315px;
    border-bottom: 1px solid;
    border-color: rgb(200,200,200);
    vertical-align: center;
    text-align: left;
    font: 12pt Segoe UI, sans-serif;
    font-weight: bolder;
    color: rgb(230,68,21);
}

.THIS .titleLabelMid{
    margin: 0 0 16px 8px;					/*top, right, bottom, left*/
    padding: 0 0 0 0;							/*top, right, bottom, left*/
    height: 20px;
    width: 315px;
    border-bottom: 1px solid;
    border-color: rgb(200,200,200);
    vertical-align: center;
    text-align: left;
    font: 12pt Segoe UI, sans-serif;
    font-weight: bolder;
    color: rgb(230,68,21);
}

.THIS .inputLabel90{
    margin: 4px 0 0 8px;						/*top, right, bottom, left*/
    padding: 8px 0 0 0;							/*top, right, bottom, left*/
    height: 36px;
    width: 90px;
    vertical-align: center;
    text-align: left;
    font: 9pt Segoe UI, sans-serif;
    font-weight: normal;
    color: rgb(75,75,75);
}

.THIS .inputLabel105{
    margin: 4px 0 0 8px;						/*top, right, bottom, left*/
    padding: 8px 0 0 0;							/*top, right, bottom, left*/
    height: 36px;
    width: 105px;
    vertical-align: center;
    text-align: left;
    font: 9pt Segoe UI, sans-serif;
    font-weight: normal;
    color: rgb(75,75,75);
}

.THIS .inputLabel120{
    margin: 4px 0 0 8px;						/*top, right, bottom, left*/
    padding: 8px 0 0 0;							/*top, right, bottom, left*/
    height: 36px;
    width: 120px;
    vertical-align: center;
    text-align: left;
    font: 9pt Segoe UI, sans-serif;
    font-weight: normal;
    color: rgb(75,75,75);
}

.THIS .inputUnits15{
    margin: 4px 0 0 0;						/*top, right, bottom, left*/
    padding: 8px 4px 0 4px;							/*top, right, bottom, left*/
    height: 36px;
    width: 15px;
    vertical-align: center;
    text-align: left;
    font: 9pt Segoe UI, sans-serif;
    font-weight: normal;
    color: rgb(75,75,75);
}

.THIS .inputUnits30{
    margin: 4px 0 0 0;						/*top, right, bottom, left*/
    padding: 8px 4px 0 4px;							/*top, right, bottom, left*/
    height: 36px;
    width: 30px;
    vertical-align: center;
    text-align: left;
    font: 9pt Segoe UI, sans-serif;
    font-weight: normal;
    color: rgb(75,75,75);
}

.THIS .inputUnits30Center{
    margin: 4px 0 0 0;						/*top, right, bottom, left*/
    padding: 8px 4px 0 4px;							/*top, right, bottom, left*/
    height: 36px;
    width: 30px;
    vertical-align: center;
    text-align: center;
    font: 9pt Segoe UI, sans-serif;
    font-weight: normal;
    color: rgb(75,75,75);
}

/* 20180529: Units style without height or width defined */
.THIS .inputUnits30CenterOnly{
    margin: 4px 0 0 0;						/*top, right, bottom, left*/
    padding: 8px 4px 0 4px;							/*top, right, bottom, left*/
    vertical-align: center;
    text-align: center;
    font: 9pt Segoe UI, sans-serif;
    font-weight: normal;
    color: rgb(75,75,75);
}



.THIS .inputUnits45{
    margin: 4px 0 0 0;						/*top, right, bottom, left*/
    padding: 8px 4px 0 4px;							/*top, right, bottom, left*/
    height: 36px;
    width: 45px;
    vertical-align: center;
    text-align: left;
    font: 9pt Segoe UI, sans-serif;
    font-weight: normal;
    color: rgb(75,75,75);
}

.THIS .divider{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    height: 1px;
    background-color: rgb(100,100,100);
}

.THIS .comboBox{
    margin: 4px 0 0 0;						/*top, right, bottom, left*/
    padding: 0 0 0 0;							/*top, right, bottom, left*/
    height: 40px;
    width: 150px;
    font: 10pt Segoe UI, sans-serif;
    font-weight: bolder;
    color: rgb(50,50,50);
}

.THIS .radioButtonGroup{
    margin: 4px 0 0 0;						/*top, right, bottom, left*/
    padding: 0 0 0 0;							/*top, right, bottom, left*/
    height: 40px;
    font: 10pt Segoe UI, sans-serif;
    font-weight: normal;
    color: rgb(50,50,50);
}

.THIS .radioButtonGroup2{
    margin: 0 0 0 0;						/*top, right, bottom, left*/
    padding: 0 0 0 0;							/*top, right, bottom, left*/
    height: 40px;
    font: 10pt Segoe UI, sans-serif;
    font-weight: normal;
    color: rgb(50,50,50);
}

.THIS .radioButton{
    padding-top: 0px;
    font: 12pt Segoe UI, sans-serif;
    font-weight: bold;
    color: rgb(50,50,50);
}

.THIS.custom-background1{
    background-color: rgb(240,240,240);
}

.THIS.custom-background2{
    background-color: rgb(252,252,252);
}

.THIS .slds-form-element__label {
    display : none;
    visibility : hidden;
}

/* added 20180529 Class description for the check boxes */ 

.THIS .inputCheckbox{
    margin: 5px 0 5px 0;						/*top, right, bottom, left*/
    padding: 0 0 0 0;							/*top, right, bottom, left*/
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid;
    border-color: rgb(221,219,218);
    border-radius: .25rem;
 }



    /*border: 1px solid #111;
    background: transparent;
    width: 100%;
    padding: 5px 35px 5px 5px;
    border: 1px solid rgb(216, 221, 230);
    height: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI3LjYgMjEiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI3LjYgMjEiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KICA8Zz4NCiAgICA8ZGVmcz4NCiAgICAgIDxwYXRoIGlkPSJTVkdJRF8xXyIgZD0iTTUuNiA1aDE2LjRjMC40IDAgMC44IDAuNiAwLjQgMWwtOCA5LjhjLTAuMyAwLjMtMC45IDAuMy0xLjIgMGwtOC05LjhDNC44IDUuNiA1LjEgNSA1LjYgNXoiLz4NCiAgICA8L2RlZnM+DQogICAgPGNsaXBQYXRoIGlkPSJTVkdJRF8yXyI+DQogICAgICA8dXNlIHhsaW5rOmhyZWY9IiNTVkdJRF8xXyIgb3ZlcmZsb3c9InZpc2libGUiLz4NCiAgICA8L2NsaXBQYXRoPg0KICAgIDxyZWN0IHg9IjAiIHk9IjAiIGNsaXAtcGF0aD0idXJsKCNTVkdJRF8yXykiIGZpbGw9IiM1NTY5OEQiIHdpZHRoPSIyNy42IiBoZWlnaHQ9IjIxIi8+DQogIDwvZz4NCjwvc3ZnPg0K);
    background-repeat: no-repeat;
    background-position: 97.5% 50%;
    background-size: .875rem .875rem, 100% 100%;*/
    /*border-color: rgb(230, 68, 21);
    border-radius: 14px;*/
    /*color: rgb(230,68,21);*/

.THIS .slds-input:focus, .THIS .slds-input:active {
    border: 1px solid;
    font-weight: bolder;
    border-color: rgb(200, 200, 200);
    box-shadow: none;
}

.THIS .slds-input {
    border: 1px solid;
    font-weight: bolder;
    border-color: rgb(200, 200, 200);
}

.THIS .temp {
     border: 2px solid;
     border-color: rgb(255, 255, 255);
     font-weight: bolder;
     background-color : rgb(252,252,252);
}

.THIS .test .slds-form-element__label{
    /*font-size: 20pt;*/
    /*font-weight: bold;*/
    /*font: 10pt Segoe UI, sans-serif;*/
    color: rgb(230,68,21);
}